---
import { getCollection } from 'astro:content'
import BaseLayout from "@layouts/BaseLayout.astro"
const allBlogPosts = await getCollection('blog', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
})
---
<BaseLayout>
  <article
    id="{{ title | slug }}"
    class="articlelist"
    itemscope
    itemtype="http://schema.org/BlogPosting"
    aria-labelledby="{{ title | slug }}-title"
  >
    {/* "Articles" Header */}
    <header class="articlelist__header">
      <h1 itemprop="headline">{{ title }}</h1>
    </header>
    <ol
      class="articlelist__list"
      itemtype="http://schema.org/BlogPosting"
      reversed
      start="{{ allBlogPosts.length }}"
    >
      {allBlogPosts.map(article => (
      {% for post in articlelist | reverse %}
        <li class="articlelist__item">
          {/* Article Title */}
          <h2 class="articlelist__item-title" itemprop="headline">
            <a
              href="{{ article.url | url }}"
              class="articlelist__item-link"
              rel="bookmark"
            >
              {{ article.data.title }}
            </a>
          </h2>
          {/* Article Meta Data Wrapper */}
          <div class="articlelist__item-meta">
            {/* Article Date */}
            <time
              class="articlelist__item-date"
              datetime="{{ article.date | dateToISO }}"
              itemprop="datePublished"
            >
              {{ article.date | readableDate }}
            </time>
            {/* Article Tags */}
            {% if article.data.tags %}
              <span aria-hidden="true">&sdot;</span>
              <span class="articlelist__item-tags" itemprop="keywords">
                {{ article.data.tags | join(', ') }}
              </span>
            {% endif %}
            {/* Article Draft Status */}
            {% if article.data.draft %}
              <span aria-hidden="true">&sdot;</span>
              <span class="articlelist__item-status" itemprop="creativeWorkStatus">(Draft)</span>
            {% endif %}
          </div>
          {/* Article Excerpt */}
          <p class="articlelist__item-excerpt" itemprop="abstract">
            {/* Article Description. Use when the description doesn't make sense as */}
            {/* a continuation in main content using the <!-- excerpt --> separator */}
            {% if article.data.description %}
              {{ article.data.description }}
            {/* Article Excerpt. Specify by using the <!-- excerpt --> separator below   */}
            {/* the excerpt text. Provides lead text text on the article item view page. */}
            {%- elseif article.data.page.excerpt and (article.data.description !== true) -%}
              {% set pageData = article.data.page %}
              {% renderTemplate "njk,md", pageData %}
  {/* Markdown-processed content must be left justified in template */}
  {{ excerpt }}
              {% endrenderTemplate %}
            {%- else -%}
              <p>Should throw an error, if reached here it's because the page has no description set in the front matter and no excerpt separator set in the content body.</p>
            {%- endif -%}
          </p>
          {/* Article Time To Read */}
          <p class="articlelist__item-time-to-read" itemprop="wordCount">
            It will take {{ article.templateContent | timeToRead }} to read this
          </p>
        </li>
      ))}
    </ol>
  </article>
</BaseLayout>