---
import BugReporterComponent from '@components/BugReporter/index.astro'
import Icon from '@components/Icon/index.astro'
---

<button
  id="bugReporterTrigger"
  type="button"
  aria-label="Report a bug"
>
  <span class="sr-only">Report a bug</span>
  <span><Icon icon="bug" color="inherit" /></span>
</button>

<BugReporterComponent triggerId="bugReporterTrigger" />
