---
// Theme Picker Toggle Button
---

<style>
  /* Theme picker button styles */
  .theme-toggle-btn {
    background-color: var(--color-primary-offset);
    border-radius: 50%;
    border-width: 0;
    transition: 0.15s linear;
    height: var(--header-icon-size);
    width: var(--header-icon-size);
    position: relative;
    z-index: var(--z-content-overlay);
  }

  .theme-toggle-btn:hover,
  .theme-toggle-btn:focus {
    background-color: var(--color-primary);
    outline-width: 0;
  }

  .theme-toggle-svg {
    transform: rotate(0deg);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    height: var(--header-icon-size);
    width: var(--header-icon-size);
    position: relative;
    z-index: inherit;
  }

  .theme-toggle-path {
    fill: var(--color-bg);
  }

  .theme-toggle-circle {
    fill: none;
    stroke-dasharray: var(--circle-stroke);
    stroke-dashoffset: var(--circle-stroke);
    stroke-linecap: round;
    stroke-width: 0.3rem;
    transition: stroke-dashoffset 0.3s linear 0.1s;
  }

  /* Animation for theme picker active state */
  .theme-toggle-btn[aria-expanded='true'] .theme-toggle-svg {
    fill: var(--color-bg);
    transform: rotate(90deg);
  }

  .theme-toggle-btn[aria-expanded='true'] .theme-toggle-circle {
    stroke-dashoffset: 0;
  }
</style>

<button
  class="theme-toggle-btn themepicker-toggle__toggle-btn"
  type="button"
  aria-expanded="false"
  aria-owns="theme-menu"
  aria-label="toggle theme switcher"
  aria-haspopup="true"
>
  <svg viewBox="0 0 50 50" class="theme-toggle-svg" xmlns="http://www.w3.org/2000/svg">
    <title>theme icon</title>
    <g>
      <path
        class="theme-toggle-path"
        d="M 31.6,15.4 V 14.2 C 31.6,13.54 31.06,13 30.4,13 H 16 c -0.66,0 -1.2,0.54 -1.2,1.2 V 19 c 0,0.66 0.54,1.2 1.2,1.2 h 14.4 c 0.66,0 1.2,-0.54 1.2,-1.2 v -1.2 h 1.2 v 4.8 h -12 v 13.2 c 0,0.66 0.54,1.2 1.2,1.2 h 2.4 c 0.66,0 1.2,-0.54 1.2,-1.2 V 25 h 9.6 v -9.6 z"
      ></path>
      <circle class="theme-toggle-circle" r="23" cx="25" cy="25"></circle>
    </g>
  </svg>
</button>
