---
// Theme Picker Toggle Button
import styles from './themeButton.module.css'
---

<button
  class:list={[
    'theme-toggle-btn themepicker-toggle__toggle-btn',
    'relative inline-flex items-center justify-center',
    'w-(--header-icon-size) h-(--header-icon-size)',
    'rounded-full border-0',
    'bg-primary hover:bg-primary-offset',
    'focus:bg-primary-offset focus:outline-none focus-visible:bg-primary-offset',
    'transition-colors duration-150 ease-linear',
    'z-(--z-content-overlay)',
    styles.toggleBtn,
  ]}
  type="button"
  aria-expanded="false"
  aria-controls="theme-picker-panel"
  aria-label="toggle theme switcher"
  aria-haspopup="true"
  data-theme-toggle
>
  <svg
    viewBox="0 0 50 50"
    class:list={[
      'w-(--header-icon-size) h-(--header-icon-size)',
      'relative',
      'transition-transform duration-300 ease-[cubic-bezier(0.165,0.84,0.44,1)]',
      styles.toggleSvg,
    ]}
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    focusable="false"
  >
    <g>
      <path
        class:list={['fill-page-base']}
        d="M 31.6,15.4 V 14.2 C 31.6,13.54 31.06,13 30.4,13 H 16 c -0.66,0 -1.2,0.54 -1.2,1.2 V 19 c 0,0.66 0.54,1.2 1.2,1.2 h 14.4 c 0.66,0 1.2,-0.54 1.2,-1.2 v -1.2 h 1.2 v 4.8 h -12 v 13.2 c 0,0.66 0.54,1.2 1.2,1.2 h 2.4 c 0.66,0 1.2,-0.54 1.2,-1.2 V 25 h 9.6 v -9.6 z"
      ></path>
      <circle class={styles.toggleCircle} r="23" cx="25" cy="25"></circle>
    </g>
  </svg>
</button>
