.themePicker {
  /* Modal max-height animation */
  max-height: 0; /* Stays here as it's part of the animation */
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.themePicker:global(.is-open) {
  max-height: 14em;
}

.ul {
  -webkit-overflow-scrolling: touch;
}

/* Custom scrollbar */
.ul::-webkit-scrollbar {
  height: 8px;
}

.ul::-webkit-scrollbar-thumb {
  background: var(--color-trim);
}

.ul::-webkit-scrollbar-track {
  background: var(--color-page-offset);
}

.li {
  /* Theme item animations and effects */
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.li:global(.is-active) {
  transform: scale(1);
  z-index: var(--z-raised);
}

.li:global(.is-active)::after {
  border-color: transparent transparent var(--color-primary) transparent;
  border-style: solid;
  border-width: 0 10px 12px;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translate(-50%, 0.25em);
  width: 0;
}

/* Overlapping color circles */
.hue + .hue {
  margin-left: -0.3125em;
}
