---
import { getCollection } from "astro:content"

const themes = await getCollection("themes")
import Sprite from "@components/Sprite.astro"
import "./Themes.scss"
---

<div class="themepicker" data-nosnippet hidden>
  <ul id="theme-menu" class="themepicker__list">
    {themes.forEach((theme) => {(
      <li class="themepicker__item">
        <button
          class="themepicker__selectBtn"
          aria-label={`select color theme ${theme.data.name}`}
          data-theme={theme.data.id}
        >
          <span class="themepicker__name">{theme.data.name}</span>
          <span class="themepicker__palette">
            <span class="themepicker__hue themepicker__hue--primary"></span>
            <span class="themepicker__hue themepicker__hue--secondary"></span>
            <span class="themepicker__hue themepicker__hue--border"></span>
            <span class="themepicker__hue themepicker__hue--textoffset"></span>
            <span class="themepicker__hue themepicker__hue--text"></span>
          </span>
        </button>
      </li>
    )})}
    </ul>
  <button
    class="themepicker__closeBtn"
    type="button"
    aria-label="Close theme picker dialog"
  >
    <Sprite name="close" />
  </button>
</div>
<script>
  import { setupThemePicker } from './setup'
  setupThemePicker()
</script>
