.toggleCircle {
  fill: none;
  stroke-dasharray: var(--circle-stroke);
  stroke-dashoffset: var(--circle-stroke);
  stroke-linecap: round;
  stroke-width: 0.3rem;
  transition: stroke-dashoffset 0.3s linear 0.1s;
}

.toggleBtn[aria-expanded='true'] .toggleSvg {
  fill: var(--color-page-base);
  transform: rotate(90deg);
}

.toggleBtn[aria-expanded='true'] .toggleCircle {
  stroke-dashoffset: 0;
}
