  /* LinkedIn responsive wrapper */
.embed-linkedin-wrapper {
  margin: 0 auto;
  max-width: 504px;
  padding-bottom: 117.86%;
  position: relative;
  width: 100%;
}

.embed-linkedin-wrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Embed content styling */
.embed-content {
  width: 100%;
}

.embed-content iframe {
  max-width: 100%;
}