---
import BaseLayout from "@layouts/BaseLayout.astro"

const pageTitle = "About Me"
const path = "/about"
---

<BaseLayout pageTitle={pageTitle} path={path}>
  <h2>... and my new Astro site!</h2>
</BaseLayout>