---
/** Brand identity with logo and wordmark */
import { Image } from 'astro:assets'
import buildersSvg from '@assets/images/site/wordmark-builders.svg';
import logoSvg from '@assets/images/site/logo.svg';
import webstackSvg from '@assets/images/site/wordmark-webstack.svg';
import "./Brand.scss"
---

<a class="brand__anchor" href="/" rel="home" aria-label="Go To Homepage">
  <span class="brand__logo">
    <Image src={logoSvg} alt="Webstack Builders corporate logo." />
  </span>
  <span class="brand__wordmark">
    <span class="brand__wordmark-webstack">
      <Image src={webstackSvg} alt="Webstack wordmark." />
    </span>
    <span class="brand__wordmark-builders">
      <Image src={buildersSvg} alt="Builders wordmark." />
    </span>
  </span>
</a>
