---
/**
 * Brand identity with logo and wordmark, used in the Header component
 */
import Logo from '@components/Brand/Logo.astro'
import WordmarkBuilders from '@components/Brand/WordmarkBuilders.astro'
import WordmarkWebstack from '@components/Brand/WordmarkWebstack.astro'
---

<a
  class="flex items-stretch hover:brightness-90 focus:brightness-90"
  href="/"
  rel="home"
  aria-label="Webstack Builders home"
>
  <span class="brand-logo">
    <Logo class="h-(--header-icon-size) w-(--header-icon-size)" />
  </span>
  <span class="flex flex-col justify-between items-center ml-2 sm:ml-3">
    <span class="brand-wordmark-webstack">
      <WordmarkWebstack class="h-[calc(var(--header-icon-size)/2-0.3em)]" />
    </span>
    <span class="brand-wordmark-builders">
      <WordmarkBuilders class="h-[calc(var(--header-icon-size)/2-0.3em)]" />
    </span>
  </span>
</a>
