.brandLink :global(.logo-block-outer) {
  fill: var(--color-primary);
}

.brandLink :global(.logo-block-inner) {
  fill: var(--color-secondary);
}

.brandLink :global(.wordmark__svg-path) {
  fill: var(--color-primary);
}

.brandLink:is(:hover, :focus, :focus-visible) :global(.logo-block-outer) {
  fill: var(--color-primary-offset);
}

.brandLink:is(:hover, :focus, :focus-visible) :global(.logo-block-inner) {
  fill: var(--color-secondary-offset);
}

.brandLink:is(:hover, :focus, :focus-visible) :global(.wordmark__svg-path) {
  fill: var(--color-primary-offset);
}
