.brandLink :global(.logo-block-outer) {
  fill: var(--color-primary);
}

.brandLink :global(.logo-block-inner) {
  fill: var(--color-secondary);
}

.brandLink :global(.wordmark__svg-path) {
  fill: var(--color-primary);
}

.brandLink:hover :global(.logo-block-outer),
.brandLink:focus :global(.logo-block-outer),
.brandLink:focus-visible :global(.logo-block-outer) {
  fill: var(--color-primary-offset);
}

.brandLink:hover :global(.logo-block-inner),
.brandLink:focus :global(.logo-block-inner),
.brandLink:focus-visible :global(.logo-block-inner) {
  fill: var(--color-secondary-offset);
}

.brandLink:hover :global(.wordmark__svg-path),
.brandLink:focus :global(.wordmark__svg-path),
.brandLink:focus-visible :global(.wordmark__svg-path) {
  fill: var(--color-primary-offset);
}
