---
const { extraClass = 'target-div' } = Astro.props
---

<div id="primary-content" class={extraClass}>Primary content block</div>
<div class="multi-div">First block</div>
<div class="multi-div">Second block</div>
