---
/**
 * Wrapper for "skip to main content" anchor for accessibility in BaseLayout
 */
---

<a
  href="#main"
  class="sr-only focus:not-sr-only focus:absolute focus:top-0 focus:left-1/2 focus:-translate-x-1/2 focus:px-6 focus:py-4 focus:outline-none focus:z-(--z-content-floating) focus:bg-spotlight focus:text-white focus:rounded"
>
  Skip to main content
</a>
