.uppy-Webcam-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.uppy-Webcam-videoContainer {
  background-color: var(--color-content);
  flex: 1;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.uppy-Webcam-video {
  inset: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
}

.uppy-Webcam-video--mirrored {
  transform: scaleX(-1);
}

.uppy-Webcam-imageContainer {
  height: 100%;
  position: relative;
  width: 100%;
}

.uppy-Webcam-image {
  inset: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
}

.uppy-Webcam-image--mirrored {
  transform: scaleX(-1);
}

.uppy-Webcam-footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 75px;
  padding: 20px;
  width: 100%;
}

.uppy-Webcam-videoSourceContainer {
  flex-grow: 0;
  width: 100%;
}

.uppy-size--lg .uppy-Webcam-videoSourceContainer {
  margin: 0;
  width: 33%;
}

.uppy-Webcam-videoSource-select {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: right 0.4em top 50%, 0 0;
  background-repeat: no-repeat;
  background-size: 0.65em auto, 100%;
  border: 1px solid var(--color-gray-offset);
  color: var(--color-content);
  display: block;
  font-size: 1rem;
  line-height: 1.2;
  margin: auto;
  margin-bottom: 10px;
  max-width: 90%;
  padding: 0.4em 1em 0.3em 0.4em;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.uppy-size--lg .uppy-Webcam-videoSource-select {
  font-size: 0.875rem;
  margin-bottom: 0;
}

.uppy-Webcam-videoSource-select::-ms-expand {
  display: none;
}

.uppy-Webcam-buttonContainer {
  margin-left: 25%;
  text-align: center;
  width: 50%;
}

.uppy-size--lg .uppy-Webcam-buttonContainer {
  margin-left: 0;
  width: 34%;
}

.uppy-Webcam-recordingLength {
  color: var(--color-gray-offset);
  flex-grow: 0;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  text-align: right;
  width: 25%;
}

.uppy-size--lg .uppy-Webcam-recordingLength {
  width: 33%;
}

.uppy-Webcam-button {
  background-color: var(--color-danger);
  border-radius: 50%;
  color: var(--color-white);
  cursor: pointer;
  height: 45px;
  transition: all 0.3s;
  width: 45px;
}

.uppy-Webcam-button:focus {
  box-shadow: 0 0 0 3px color-mix(in srgb, var(--color-secondary) 50%, transparent);
  outline: none;
}

.uppy-Webcam-button::-moz-focus-inner {
  border: 0;
}

.uppy-Webcam-button:hover {
  background-color: var(--color-danger-offset);
}

.uppy-size--md .uppy-Webcam-button {
  height: 60px;
  width: 60px;
}

[data-uppy-theme="dark"] .uppy-Webcam-button:focus {
  box-shadow: 0 0 0 2px color-mix(in srgb, var(--color-secondary) 85%, transparent);
  outline: none;
}

[data-uppy-theme="dark"] .uppy-Webcam-button::-moz-focus-inner {
  border: 0;
}

.uppy-Webcam-button--submit {
  background-color: var(--color-secondary);
  margin: 0 12px;
}

.uppy-Webcam-button--submit:hover {
  background-color: var(--color-secondary-offset);
}

.uppy-Webcam-button svg {
  display: inline-block;
  fill: currentcolor;
  height: 30px;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  vertical-align: text-top;
  width: 30px;
}

.uppy-Webcam-button--picture {
  margin-right: 12px;
}

.uppy-Webcam-permissons {
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  height: 100%;
  justify-content: center;
  padding: 15px;
}

.uppy-Webcam-permissons p {
  color: var(--color-gray-offset);
  line-height: 1.3;
  line-height: 1.45;
  margin: 0;
  max-width: 450px;
  text-align: center;
}

.uppy-Webcam-permissonsIcon svg {
  color: var(--color-gray-offset);
  height: 75px;
  margin-bottom: 30px;
  width: 100px;
}

.uppy-Webcam-title {
  color: var(--color-content);
  font-size: 1.375rem;
  font-weight: normal;
  line-height: 1.35;
  margin: 0;
  margin-bottom: 5px;
  max-width: 500px;
  padding: 0 15px;
  text-align: center;
}

[data-uppy-theme="dark"] .uppy-Webcam-title {
  color: var(--color-content);
}
