---
import Icon from '@components/Icon/index.astro'
import Tooltip from '@components/Tooltip/index.astro'
---

<ul class="md:flex md:flex-row md:items-center md:gap-4 print:hidden text-content-offset">
  <li>
    <Tooltip text="Download PDF">
      <a
        class="inline-flex h-7 w-7 items-center justify-center hover:text-primary transition-colors duration-200"
        href="pdf/resume.pdf"
        aria-label="Download PDF"
      >
        <Icon icon="download" color="content" size={7} />
      </a>
    </Tooltip>
  </li>
  <li>
    <Tooltip text="Print Resume">
      <button
        class="inline-flex h-7 w-7 cursor-pointer items-center justify-center appearance-none border-0 bg-transparent p-0 leading-none hover:text-primary transition-colors duration-200"
        onclick="window.print()"
        aria-label="Print Resume"
      >
        <Icon icon="print" color="content" size={6} />
      </button>
    </Tooltip>
  </li>
</ul>