---
import type { CollectionEntry } from 'astro:content'

export interface Props {
  languages: CollectionEntry<'resume'>['data']['languages']
}

const { languages } = Astro.props as Props
---

<section
  id="languages"
  class="mt-8"
  itemscope
  itemref="resumeSubject"
  itemtype="http://schema.org/ItemList"
>
  <h2 class="text-xs font-bold tracking-widest text-primary uppercase mb-4 border-b-2 border-trim/10 pb-2">Languages</h2>
  <ul class="flex flex-wrap gap-4 text-sm font-medium text-content-offset">
    {
      languages.map((language: (typeof languages)[number]) => (
        <li
          class="bg-trim/5 px-3 py-1 rounded-full text-primary-offset print:bg-transparent"
          itemref="resumeSubject"
          itemscope
          itemprop="knowsAbout"
          itemtype="http://schema.org/knowsAbout"
        >
          <span itemprop="name">{language}</span>
        </li>
      ))
    }
  </ul>
</section>