---
import type { CollectionEntry } from 'astro:content'

export interface Props {
  languages: CollectionEntry<'resume'>['data']['languages']
}

const { languages } = Astro.props as Props
---

<section
  id="languages"
  class="mt-6"
  itemscope
  itemref="resumeSubject"
  itemtype="http://schema.org/ItemList"
>
  <h2 class="text-sm font-mono font-bold tracking-widest text-content-offset print:text-content uppercase p-3 border-2 border-dashed border-gray-400 rounded-md">
    Languages
  </h2>
  <ul class="flex flex-wrap justify-evenly text-sm font-medium text-content-offset mt-4">
    {
      languages.map((language: (typeof languages)[number]) => (
        <li
          class="bg-trim/5 px-3 py-1 rounded-full text-primary-offset print:bg-transparent"
          itemref="resumeSubject"
          itemscope
          itemprop="knowsAbout"
          itemtype="http://schema.org/knowsAbout"
        >
          <span itemprop="name">{language}</span>
        </li>
      ))
    }
  </ul>
</section>
