---
export interface Props {
  familyName: string
  givenName: string
  title: string
}

const {
  familyName,
  givenName,
  title,
} = Astro.props as Props
---

<h1
  itemprop="name"
  class="text-4xl font-extrabold tracking-tight text-primary print:text-3xl"
>
  <span itemprop="givenName">{givenName}</span>
  <span itemprop="familyName">{familyName}</span>
</h1>
<div
  class="text-xl font-medium text-danger-offset mt-1 tracking-wide print:text-lg"
  itemprop="jobTitle"
>
  {title}
</div>