---
export interface Props {
  familyName: string
  givenName: string
  title: string
}

const {
  familyName,
  givenName,
  title,
} = Astro.props as Props
---

<h1
  itemprop="name"
  class="text-4xl tracking-tight text-primary-offset print:text-content"
>
  <span itemprop="givenName">{givenName}</span>
  <span itemprop="familyName">{familyName}</span>
</h1>
<div
  class="text-2xl font-semibold text-danger-offset mt-1 tracking-wide print:text-content"
  itemprop="jobTitle"
>
  {title}
</div>