---
import type { CollectionEntry } from 'astro:content'

export interface Props {
  skills: CollectionEntry<'resume'>['data']['skills']
}

const { skills } = Astro.props as Props
---

{skills.map(skill => (
  <div
    class="flex flex-col"
    itemref="resumeSubject"
    itemscope
    itemprop="knowsAbout"
    itemtype="http://schema.org/knowsAbout"
  >
    <h3 class="font-bold text-content-active text-sm mb-1">{skill.lead}</h3>
    <p class="text-sm text-content-offset leading-relaxed print:text-xs">{skill.text}</p>
  </div>
))}