---
import type { CollectionEntry } from 'astro:content'

export interface Props {
  skills: CollectionEntry<'resume'>['data']['skills']
}

const { skills } = Astro.props as Props
---

<section class="mt-6" itemscope itemref="resumeSubject" itemtype="http://schema.org/ItemList">
  <h2
    class="text-sm font-mono font-bold tracking-widest text-content-offset print:text-content uppercase p-3 border-2 border-dashed border-gray-400 rounded-md"
  >
    Skills
  </h2>
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-4 mx-2 mt-4">
    {
      skills.map(skill => (
        <li
          class="flex flex-col"
          itemref="resumeSubject"
          itemscope
          itemprop="knowsAbout"
          itemtype="http://schema.org/knowsAbout"
        >
          <h3 class="text-primary-offset font-bold text-content-active text-base mb-1">
            {skill.lead}
          </h3>
          <p class="text-sm text-content-offset leading-relaxed">{skill.text}</p>
        </li>
      ))
    }
  </ul>
</section>
