---
import type { CollectionEntry } from 'astro:content'
import Icon from '@components/Icon/index.astro'

export interface Props {
  socials: CollectionEntry<'contactData'>['data']['company']['social']
}

const { socials } = Astro.props as Props
---

<section
  id="socialSection"
  class="mt-8 print:mt-6 print:hidden"
  itemscope
  itemref="resumeSubject"
  itemtype="http://schema.org/ItemList"
>
  <h2 class="text-sm font-mono font-bold tracking-widest text-content-offset print:text-content uppercase p-3 border-2 border-dashed border-gray-400 rounded-md">
    Social Profiles
  </h2>
  {
    socials.length > 0 ? (
      <ul id="socialList" class="grid grid-cols-1 md:grid-cols-2 gap-x-2 gap-y-4 mx-4 mt-4">
        {socials.map((entry) => (
          <li
            itemref="resumeSubject"
            itemscope
            itemprop="sameAs"
            itemtype="http://schema.org/WebSite"
          >
            <a
              class="group flex gap-4 hover:text-primary transition-colors text-content-offset no-underline"
              itemprop="url"
              title={entry.displayName}
              rel="me"
              href={entry.url}
            >
              <span class="mt-1">
                <Icon icon={entry.iconName} color="content" size={8} />
              </span>
              <span class="flex flex-col leading-5">
                <div
                  class="text-base font-bold text-primary-offset group-hover:text-primary transition-colors underline decoration-dotted decoration-primary-offset print:no-underline"
                >
                  {entry.displayName}
                </div>
                <div class="text-sm truncate no-underline">
                  {entry.url.replace(/^https?:\/\//, '')}
                </div>
              </span>
            </a>
          </li>
        ))}
      </ul>
    ) : (
      <p class="text-sm text-content-offset italic">No social profiles available.</p>
    )
  }
</section>
