---
export interface Props {
  summary: string
}

const { summary } = Astro.props as Props
---

<section itemscope itemref="resumeSubject" itemtype="http://schema.org/ItemList">
  <h2 class="text-sm font-mono font-bold tracking-widest text-content-offset print:text-content uppercase p-3 border-2 border-dashed border-gray-400 rounded-md">
    Summary
  </h2>
  <p
    itemprop="description"
    itemref="resumeSubject"
    class="text-md text-content leading-relaxed mt-2!"
  >
    {summary}
  </p>
</section>
