---
export interface Props {
  summary: string
}

const { summary } = Astro.props as Props
---

<section itemscope itemref="resumeSubject" itemtype="http://schema.org/ItemList">
  <h2 class="text-xs font-bold tracking-widest text-primary uppercase">Summary</h2>
  <p
    itemprop="description"
    itemref="resumeSubject"
    class="text-content leading-relaxed print:text-sm"
  >
    {summary}
  </p>
</section>
