---
export interface Props {
  author: string
}

const { author } = Astro.props
---

<span
  class="inline-flex items-center gap-1 before:content-['✍️']"
  itemprop="author"
  itemscope
  itemtype="http://schema.org/Person"
>
  <span itemprop="name">
    {author}
  </span>
</span>