.content-switcher-track[aria-checked='false'] {
  background-color: var(--color-trim-offset);
}

.content-switcher-track[aria-checked='true'] {
  background-color: var(--color-secondary);
}

.content-switcher-track[aria-checked='true'] .content-switcher-thumb {
  transform: translateX(1.25rem);
}

.content-switcher-track[aria-checked='false'] ~ .content-switcher-label--overview {
  color: var(--color-content-active);
  font-weight: 600;
}

.content-switcher-track[aria-checked='false'] ~ .content-switcher-label--deep-dive {
  color: var(--color-content-offset);
}

.content-switcher-track[aria-checked='true'] ~ .content-switcher-label--deep-dive {
  color: var(--color-content-active);
  font-weight: 600;
}
