.content-switcher-track[aria-checked='false'] {
  background-color: var(--color-trim-offset);
}

.content-switcher-track[aria-checked='true'] {
  background-color: var(--color-secondary);
}

.content-switcher-track[aria-checked='true'] .content-switcher-thumb {
  transform: translateX(1.25rem);
}
