---
import BaseLayout from '@layouts/BaseLayout.astro'

const pageTitle = 'Scratchpad'
const pageDescription = 'Troubleshooting Component Variants'
const path = '/testing/comps/scratchpad'
---

<BaseLayout pageDescription={pageDescription} noindex={true} pageTitle={pageTitle} path={path}>
  <div class="">

  </div>
</BaseLayout>

