---
import BaseLayout from '@layouts/BaseLayout.astro'

const pageTitle = 'Scratchpad'
const pageDescription = 'Troubleshooting Component Variants'
const path = '/testing/comps/scratchpad'
---

<BaseLayout pageDescription={pageDescription} noindex={true} pageTitle={pageTitle} path={path}>
  {/** The svg elements on the site are rendering the <path> "fill-rule" attribute as "fillRule" */}
  <div class="uppy-Audio-buttonContainer">
      <button class="uppy-u-reset uppy-c-btn uppy-Audio-button uppy-Audio-button--submit" type="button" title="Submit recorded file" aria-label="Submit recorded file" data-uppy-super-focusable="true">
          <svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="uppy-c-icon">
              <path fill="#fff" fill-rule="nonzero" d="M10.66 0L12 1.31 4.136 9 0 4.956l1.34-1.31L4.136 6.38z"></path>
          </svg>
      </button>
      <button class="uppy-u-reset uppy-c-btn uppy-Audio-button" type="button" title="Discard recorded file" aria-label="Discard recorded file" data-uppy-super-focusable="true">
          <svg width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="uppy-c-icon">
              <g fill="#FFF" fill-rule="evenodd">
                  <path d="M.496 11.367L11.103.76l1.414 1.414L1.911 12.781z"></path>
                  <path d="M11.104 12.782L.497 2.175 1.911.76l10.607 10.606z"></path>
              </g>
          </svg>
      </button>
  </div>
  <div class="uppy-Audio-buttonContainer">
      <button class="uppy-u-reset uppy-c-btn uppy-Audio-button uppy-Audio-button--submit" type="button" title="Submit recorded file" aria-label="Submit recorded file" data-uppy-super-focusable="true">
          <svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="uppy-c-icon">
              <path fill="#fff" fill-rule="nonzero" d="M10.66 0L12 1.31 4.136 9 0 4.956l1.34-1.31L4.136 6.38z"></path>
          </svg>
      </button>
      <button class="uppy-u-reset uppy-c-btn uppy-Audio-button" type="button" title="Discard recorded file" aria-label="Discard recorded file" data-uppy-super-focusable="true">
          <svg width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="uppy-c-icon">
              <g fill="#FFF" fill-rule="evenodd">
                  <path d="M.496 11.367L11.103.76l1.414 1.414L1.911 12.781z"></path>
                  <path d="M11.104 12.782L.497 2.175 1.911.76l10.607 10.606z"></path>
              </g>
          </svg>
      </button>
  </div>
</BaseLayout>
