---
import BaseLayout from '@layouts/BaseLayout.astro'

const pageTitle = 'Scratchpad'
const pageDescription = 'Troubleshooting Component Variants'
const path = '/testing/comps/scratchpad'
---

<BaseLayout pageDescription={pageDescription} noindex={true} pageTitle={pageTitle} path={path}>
  <div class="max-w-4xl mx-auto py-12 space-y-20">

  </div>
</BaseLayout>
