html,
body {
  height: auto;
  min-height: 100%;
}

body {
  background-color: lightgrey;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

p {
  overflow-wrap: break-word;
}

svg {
  display: block;
  max-width: 100%;
}
