.toastHost {
  display: contents;
}

:global([data-network-status-toast][data-type='success']) {
  background-color: var(--color-success);
  color: var(--color-success-inverse);
}

:global([data-network-status-toast][data-type='error']) {
  background-color: var(--color-danger);
  color: var(--color-danger-inverse);
}

:global([data-network-status-toast][data-type='success'] .success-icon) {
  display: block;
}

:global([data-network-status-toast][data-type='success'] .error-icon) {
  display: none;
}

:global([data-network-status-toast][data-type='error'] .success-icon) {
  display: none;
}

:global([data-network-status-toast][data-type='error'] .error-icon) {
  display: block;
}
