/**
* =============================================================================
*  DARK THEME DEFINITIONS
* =============================================================================
*/
[data-theme="dark"]  {
  /**
   * =============================================================================
   *  Base colors
   * =============================================================================
   */

  /** Primary color for theme */
  --theme-color-primary: #f3f4f6;

  /** A shade of the primary color for accent */
  --theme-color-primary-offset: #e5e7eb;

  /** Secondary color for theme */
  --theme-color-secondary: #f3f4f6;

  /** A shade of the secondary color for accent */
  --theme-color-secondary-offset: #d1d5db;

  /** Accent color for theme */
  --theme-color-accent: #8b5cf6;

  /** A shade of the accent color for accent */
  --theme-color-accent-offset: #2e1065;

  /**
   * =============================================================================
   *  Page element colors
   * =============================================================================
   */

  /** A solid fill color for page page elements */
  --theme-color-page-base: #001a39; /** --color-bg */

  /** A solid fill color for page page elements */
  --theme-color-page-active: #e5e7eb; /** --color-bg */

  /** A shade of the page color for hover and focus states */
  --theme-color-page-base-offset: #00386d; /** --color-bg-page-base-offset */

  /**
   * =============================================================================
   *  Text colors
   * =============================================================================
   */

  /** Main content text color */
  --theme-color-content: #f3f4f6; /** --color-content */

  /** A shade of the text color for hover and focus states */
  --theme-color-content-active: #e5e7eb; /** --color-content-offset */

  /** Main content text color */
  --theme-color-content-inverse: #001a39; /** --color-content */

  /** A shade of the text color for hover and focus states */
  --theme-color-content-inverse-active: #334155; /** --color-content-offset */

  /**
   * =============================================================================
   *  Border colors
   * =============================================================================
   */

   /** A color for use in page borders */
  --theme-color-trim: #222;

  /** A color for use in primary page accent elements */
  --theme-color-spotlight: #facc15;

  /** A shade of the accent color for hover and focus states */
  --theme-color-spotlight-offset: #ca8a04;

  /**
   * =============================================================================
   *  Brand colors for use in the logo and wordmarks
   * =============================================================================
   */

  /** Primary brand color */
  --theme-color-primary-brand: #001A39;

  /** Secondary brand color */
  --theme-color-secondary-brand: #006DCA; /** --color-primary */

  /**
   * =============================================================================
   *  Success colors
   * =============================================================================
   */

  --theme-color-success: #16a34a;
  --theme-color-success-offset: #22c55e;
  --theme-color-success-inverse: #052e16;

  /**
   * =============================================================================
   *  Info colors
   * =============================================================================
   */

  --theme-color-info: #0891b2;
  --theme-color-info-offset: #38bdf8;
  --theme-color-info-inverse: #164e63;

  /**
   * =============================================================================
   *  Warning colors
   * =============================================================================
   */

  --theme-color-warning: #a16207;
  --theme-color-warning-offset: #ca8a04;
  --theme-color-warning-inverse: #451a03;

  /**
   * =============================================================================
   *  Danger colors
   * =============================================================================
   */

  --theme-color-danger: #dc2626;
  --theme-color-danger-offset: #b91c1c;
  --theme-color-danger-inverse: #7f1d1d;

  /**
   * =============================================================================
   *  Icon color
   * =============================================================================
   */

    /** Main icon color */
  --theme-color-icons: #f3f4f6;

  /** A shade of the icon color for hover and focus states */
  --theme-color-icons-active: #e5e7eb;

  /**
   * =============================================================================
   *  Palette colors
   * =============================================================================
   */
  --theme-color-black: #000;
  --theme-color-white: #fff;

  /** Blues */
  --theme-color-blue-100: #dbeafe;
  --theme-color-blue-300: #93c5fd;
  --theme-color-blue-600: #2563eb;
  --theme-color-blue-800: #1e40af;
  --theme-color-blue-900: #1e3a8a;

  /** Grays */
  --theme-color-gray-50: #f9fafb;
  --theme-color-gray-200: #e5e7eb;
  --theme-color-gray-300: #d1d5db;
  --theme-color-gray-400: #9ca3af;
  --theme-color-gray-600: #4b5563;
  --theme-color-gray-700: #374151;
  --theme-color-gray-800: #1f2937;
  --theme-color-gray-900: #111827;
  --theme-color-gray-offset: #9ca3af;

  /** Greens */
  --theme-color-green-100: #d1fae5;
  --theme-color-green-400: #4ade80;
  --theme-color-green-500: #22c55e;
  --theme-color-green-600: #16a34a;
  --theme-color-green-700: #15803d;
  --theme-color-green-900: #14532d;

  /** Reds */
  --theme-color-red-400: #f87171;
  --theme-color-red-500: #ef4444;

  /** Yellows */
  --theme-color-yellow-500: #eab308;

  /**
   * =============================================================================
   *  Vendor colors
   * =============================================================================
   */

  --theme-color-bluesky: #00A8E8;
  --theme-color-bluesky-active: #0087bd;
  --theme-color-codepen: #000;
  --theme-color-codepen-active: #1a1a1a;
  --theme-color-github: #211F1F;
  --theme-color-github-active: #333131;
  --theme-color-linkedin: #0a66c2;
  --theme-color-linkedin-active: #084c9e;
  --theme-color-mastodon: #6364FF;
  --theme-color-mastodon-active: #5557e6;
  --theme-color-google-red: #EA4335;
  --theme-color-google-yellow: #FBBC04;
  --theme-color-google-blue: #4285F4;
  --theme-color-google-blue-dark: #1967D2;
  --theme-color-google-green: #34A853;
  --theme-color-google-green-dark: #188038;
  --theme-color-reddit: #FF4500;
  --theme-color-reddit-active: #e03d00;
  --theme-color-x: #000;
  --theme-color-x-active: #1a1a1a;
}
