/**
 * Default Focus styles
 */
@layer base {
  :where(a, button, input, textarea, select):focus-visible {
    outline: 2px solid var(--color-secondary);
  }

  /** Allow programmatic focus without a visible ring */
  [tabindex='-1']:focus:not(:focus-visible) {
    outline: none;
  }
}