@charset "UTF-8";

/** Tailwind configuration */
@import "tailwindcss";

/** Replaces "content" key in Tailwind config */
@source "../src/**/*.{astro,ts,tsx,md,mdx}";

/** New CSS directive in v4 to import Tailwind plugins */
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-brandPrimary: #00539f;
  --color-slate-100: #f8fcfd;
  --color-slate-300: #a1a1a1;
}

/** Variables SCSS */
@import 'variables/animations';
@import 'variables/breakpoints';
@import 'variables/colors';
@import 'variables/layers';
@import 'variables/themes'; // must be after `colors`
@import 'variables/typography';

/** Reset comes first once SASS variables are set */
@import 'base/reset';

/** Utility SCSS comes before production SCSS stylings */
@import 'utils/mediaQueries';
@import 'utils/mixins';

/** Animations SCSS */
@import 'animations/spinner';

/** Base SCSS */
@import 'base/accessibility';
@import 'base/animation';
@import 'base/classes';
@import 'base/focus';
@import 'base/fonts';
@import 'base/print';
@import 'base/pwa';
@import 'base/typography';

/** Element SCSS */
//@import 'elements/alert';
@import 'elements/button';
@import 'elements/icon';

/** Components SCSS */
@import 'components/content';
@import 'components/form';
@import 'components/responsiveImage';
//@import 'components/sharer';
//@import 'components/signup';

/** Modules SCSS */

/** Page SCSS */

/** Vendor SCSS */
@import 'vendor/codetab';
@import 'vendor/expandable';
@import 'vendor/namedCodeBlock';
@import 'vendor/shareHighlight';
//@import 'vendor/uppy/index'
