/**
 * Icons styling for astro-icon components
 *
 *  Any styles can be targeted to the [data-icon] attribute selector. If you want to
 * target a specific icon, you can target it by name using [data-icon="filename"].
 */

/* Default astro-icon base styling - minimal base only */
[data-icon] {
  display: inline-block;
  height: 1.5rem;
  vertical-align: middle;
  width: 1.5rem;
}