@theme inline {
  /**
   * Set of colors to use to style main page elements
   */
  --theme-color-text-hover: #f3f4f6;
  --theme-color-text-focus: #e5e7eb;
  --theme-color-text-active: #374151;

  /** A solid fill color for page page elements */
  --color-page-base: #f3f4f6; /** --color-bg */

  /** A shade of the page color for hover and focus states */
  --color-page-base-offset: #e5e7eb; /** --color-bg-offset */

  /** A text color for use in page elements */
  --color-page-content: #374151; /** --color-text */

  /** A shade of the text color for hover and focus states */
  --color-page-content-offset: #9ca3af; /** --color-text-offset */

  /** A border color for use with page elements */
  --color-page-ring: #000;

  /** A shade of the border color for hover and focus states */
  --color-page-ring-offset: #000;

  /** A color for use in page accent elements */
  --color-page-accent: #000;

  /** A shade of the accent color for hover and focus states */
  --color-page-accent-offset: #000;

  /**
   * Set of colors to use to style primary page elements
   */

  /** The primary brand color for use in the logo and wordmarks */
  --color-primary-brand: #001733;

  /** A solid fill color for primary page elements */
  --color-primary-base: #000;

  /** A shade of the primary color for hover and focus states */
  --color-primary-base-offset: #000;

  /** A text color for use in primary page elements */
  --color-primary-content: #f0f4ff;

  /** A shade of the text color for hover and focus states */
  --color-primary-content-offset: #000;

  /** A border color for use with primary page elements */
  --color-primary-ring: #000;

  /** A shade of the border color for hover and focus states */
  --color-primary-ring-offset: #000;

  /** A color for use in primary page accent elements */
  --color-primary-accent: #000;

  /** A shade of the accent color for hover and focus states */
  --color-primary-accent-offset: #000;

  /**
   * Set of colors to use to style secondary page elements
   */

  /** The secondary brand color for use in the logo and wordmarks */
  --color-secondary-brand: #0062B6; /** --color-primary */

  /** A solid fill color for secondary page elements */
  --color-secondary-base: #000;

  /** A shade of the secondary color for hover and focus states */
  --color-secondary-base-offset: #000;

  /** A text color for use in secondary page elements */
  --color-secondary-content: #000;

  /** A shade of the text color for hover and focus states */
  --color-secondary-content-offset: #000;

  /** A border color for use with secondary page elements */
  --color-secondary-ring: #000;

  /** A shade of the border color for hover and focus states */
  --color-secondary-ring-offset: #000;

  /** A color for use in secondary page accent elements */
  --color-secondary-accent: #000;

  /** A shade of the accent color for hover and focus states */
  --color-secondary-accent-offset: #000;

  /** Success colors */

  --color-success: #16a34a;
  --color-success-offset: #22c55e;
  --color-success-bg: #dcfce7;

  /** Info colors */

  --color-info: #0891b2;
  --color-info-bg: #cffafe;

  /** Warning colors */

  --color-warning: #a16207;
  --color-warning-offset: #ca8a04;
  --color-warning-bg: #fef3c7;

  /** Danger colors */

  --color-danger: #dc2626;
  --color-danger-bg: #fecaca;

  /** Icon color */

  --color-icons: #001733;

  /**
   * Vendor colors
   */

  --color-codepen: #000000;
  --color-github: #211F1F;
  --color-linkedin: #0a66c2;
  --color-mastodon: #6364FF;
  --color-x: #000000;
}
