@media print {
  html {
    --theme-color-accent: #111827;
    --theme-color-accent-bg: #e5e7eb;
    --theme-color-bg: #fff;
    --theme-color-bg-inverse: #000;
    --theme-color-bg-offset: #f3f4f6;
    --theme-color-border: #111827;
    --theme-color-danger: #111827;
    --theme-color-danger-bg: #e5e7eb;
    --theme-color-info: #111827;
    --theme-color-info-bg: #e5e7eb;
    --theme-color-link-shadow: #000;
    --theme-color-primary: #000;
    --theme-color-primary-bg: #e5e7eb;
    --theme-color-primary-bg-hover: #d1d5db;
    --theme-color-primary-hover: #000;
    --theme-color-primary-offset: #111827;
    --theme-color-secondary: #374151;
    --theme-color-secondary-bg: #e5e7eb;
    --theme-color-secondary-offset: #111827;
    --theme-color-share-highlight-bg: #e5e7eb;
    --theme-color-share-highlight-bg-active: #000;
    --theme-color-share-highlight-text: #000;
    --theme-color-share-highlight-text-active: #fff;
    --theme-color-share-highlight-tooltip-bg: #000;
    --theme-color-share-highlight-tooltip-text: #fff;
    --theme-color-success: #111827;
    --theme-color-success-bg: #e5e7eb;
    --theme-color-success-offset: #000;
    --theme-color-text: #000;
    --theme-color-text-offset: #374151;
    --theme-color-twitter: #111827;
    --theme-color-warning: #111827;
    --theme-color-warning-bg: #e5e7eb;
    --theme-color-warning-offset: #000;
    --theme-shadow-active: 0 3px 12px -2px inset #0000004d;
    --theme-shadow-hover: 0 7px 14px #0000001f, 0 3px 6px #0003;
    --theme-shadow-md: 0 4px 6px #0000002b, 0 1px 3px #0003;
    --theme-shadow-sm: 0 2px 16px #00000040;
    --theme-shadow-text: 0 1px 3px #00000040;
    --theme-shiki-theme: 'github-light';
  }

  body {
    color: #222;
    display: block;
    margin: 0 0.6cm;
    padding: 3mm 0;
  }

  img::after,
  img::before {
    display: none !important;
  }

  body::after {
    clear: both;
    content: ' ';
    height: 0;

    /* background: */
    visibility: hidden;
  }

  .featured-cta {
    display: none;
  }

  a[href] {
    text-decoration: underline !important;
  }

  a {
    background: 0 0 !important;
    text-shadow: none !important;
  }

  .layout {
    background-color: white !important;
    margin: 0 !important; /* page containing everything will get margin */
    padding: 0 !important;
    width: 100% !important;
  }

  /** Display links for print with the URL in parentheses */
  .layout a::after {
    content: "("attr(href)")" !important;
  }

  .layout .header,
  .layout .footer {
    display: none;
  }
}

/** Applied to individual printed pages */
@page {
  margin: 2cm;
}