/** Print colors on color-capable printers */
@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

/*
To make it so that 3 lines will always carry over to the next page if text is split, we can apply orphans: 3 to an element. widows are similar to orphans, but they are the lines of text at the top, rather than those at the bottom.

Element borders can look a tad broken when fragmented across pages. We can use box-decoration-break to make it look a bit nicer. By default, it is assigned slice which looks poorly, however, we can make things look a tad more cohesive with box-decoration-break: clone;

Take care with content housed within a scrolling container. It can be worth applying some print-specific CSS to set overflow: visible or to extend the size of a container.

Add borders to containers in print that are identified by color contrast with no border for web.

Hide web mentions, social shares, any interactive elements

Things to do on Playwright for printing to PDF:

- Change scaling in print dialogue to get something close to an 11pt font in Microsoft Word
- Turn off Headers & Footers in print dialogue
*/

@media print {
  body {
    color: var(--color-content);
    display: block;
    margin: 0 0.6cm;
    padding: 3mm 0;
  }

  /** Don't print pseudo-element images for any on printed page */
  img::after,
  img::before {
    display: none !important;
  }

  body::after {
    clear: both;
    content: ' ';
    height: 0;

    /* background: */
    visibility: hidden;
  }

  /** Ensure that articles always start on a fresh page */
  article {
    break-before: always;
  }

  /** We're expanding external links in articles, no other links need styling */
  a {
    text-decoration: none;
  }

  /** Expand only outbound links in articles, and suppress internal ones */
  a[href^="http"]::after,
  a[href^="https"]::after {
    content:" <" attr(href) "> ";
  }

  /** Suppress internal links (relative paths, anchors) */
  article a[href^="/"], /** Relative internal links */
  article a[href^="#"] { /** Anchor links */
    content: ""; /** Remove any added content */
  }

  /** Don't expand links that contain images */
  a:has(img)::after {
    content: "";
  }

  /** Print abbreviation definitions in parantheses */
  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /** Make sure a header isn't the last element on a printed page */
  h2, h3, h4 {
    break-after: avoid;
  }

  /** Prevent images from bleeding over the edge of the printed page */
  img {
    max-width: 100% !important;
  }

  /** Prevent large elements from being split across multiple pages. */
  ul, img {
    break-inside: avoid;
  }

  /** Hide Call to Actions */
  .cta {
    display: none;
  }


  /** Don't print the header and footer */
  .header,
  .footer {
    display: none;
  }

  /** Applied to the main layout wrapper */
  .layout {
    background-color: var(--color-page-base) !important;
    margin: 0 !important; /* page containing everything will get margin */
    padding: 0 !important;
    width: 100% !important;
  }

  /** Applied to individual printed pages */
  @page {
    /** Margin in physical units for printed pages */
    margin: 2cm;
  }

  html {
    --theme-color-primary: var(--a11y-theme-color-primary);
    --theme-color-primary-offset: var(--a11y-theme-color-primary-offset);
    --theme-color-primary-inverse: var(--a11y-theme-color-primary-inverse);
    --theme-color-secondary: var(--a11y-theme-color-secondary);
    --theme-color-secondary-offset: var(--a11y-theme-color-secondary-offset);
    --theme-color-secondary-inverse: var(--a11y-theme-color-secondary-inverse);
    --theme-color-accent: var(--a11y-theme-color-accent);
    --theme-color-accent-offset: var(--a11y-theme-color-accent-offset);
    --theme-color-page-base: var(--a11y-theme-color-page-base);
    --theme-color-page-active: var(--a11y-theme-color-page-active);
    --theme-color-page-inverse: var(--a11y-theme-color-page-inverse);
    --theme-color-page-offset: var(--a11y-theme-color-page-offset);
    --theme-color-content: var(--a11y-theme-color-content);
    --theme-color-content-offset: var(--a11y-theme-color-content-active);
    --theme-color-content-active: var(--a11y-theme-color-content-active);
    --theme-color-content-inverse: var(--a11y-theme-color-content-inverse);
    --theme-color-content-inverse-active: var(--a11y-theme-color-content-inverse-active);
    --theme-color-trim: var(--a11y-theme-color-trim);
    --theme-color-spotlight: var(--a11y-theme-color-spotlight);
    --theme-color-spotlight-offset: var(--a11y-theme-color-spotlight-offset);
    --theme-color-success: var(--a11y-theme-color-success);
    --theme-color-success-offset: var(--a11y-theme-color-success-offset);
    --theme-color-success-inverse: var(--a11y-theme-color-success-inverse);
    --theme-color-info: var(--a11y-theme-color-info);
    --theme-color-info-offset: var(--a11y-theme-color-info-offset);
    --theme-color-info-inverse: var(--a11y-theme-color-info-inverse);
    --theme-color-note: var(--a11y-theme-color-note);
    --theme-color-note-offset: var(--a11y-theme-color-note-offset);
    --theme-color-note-inverse: var(--a11y-theme-color-note-inverse);
    --theme-color-warning: var(--a11y-theme-color-warning);
    --theme-color-warning-offset: var(--a11y-theme-color-warning-offset);
    --theme-color-warning-inverse: var(--a11y-theme-color-warning-inverse);
    --theme-color-danger: var(--a11y-theme-color-danger);
    --theme-color-danger-offset: var(--a11y-theme-color-danger-offset);
    --theme-color-danger-inverse: var(--a11y-theme-color-danger-inverse);
    --theme-color-icons: var(--a11y-theme-color-icons);
    --theme-color-icons-active: var(--a11y-theme-color-icons-active);
    --theme-color-black: var(--a11y-theme-color-black);
    --theme-color-white: var(--a11y-theme-color-white);
    --theme-color-blue-100: var(--a11y-theme-color-blue-100);
    --theme-color-blue-600: var(--a11y-theme-color-blue-600);
    --theme-color-blue-900: var(--a11y-theme-color-blue-900);
    --theme-color-gray-50: var(--a11y-theme-color-gray-50);
    --theme-color-gray-200: var(--a11y-theme-color-gray-200);
    --theme-color-gray-300: var(--a11y-theme-color-gray-300);
    --theme-color-gray-600: var(--a11y-theme-color-gray-600);
    --theme-color-gray-700: var(--a11y-theme-color-gray-700);
    --theme-color-gray-800: var(--a11y-theme-color-gray-800);
    --theme-color-gray-offset: var(--a11y-theme-color-gray-offset);
    --theme-color-green-100: var(--a11y-theme-color-green-100);
    --theme-color-green-900: var(--a11y-theme-color-green-900);

    /** Shiki code highlighting colors **/
    --shiki-foreground: var(--a11y-theme-shiki-foreground);
    --shiki-background: var(--a11y-theme-shiki-background);
    --shiki-token-constant: var(--a11y-theme-shiki-token-constant);
    --shiki-token-string: var(--a11y-theme-shiki-token-string);
    --shiki-token-comment: var(--a11y-theme-shiki-token-comment);
    --shiki-token-keyword: var(--a11y-theme-shiki-token-keyword);
    --shiki-token-parameter: var(--a11y-theme-shiki-token-parameter);
    --shiki-token-function: var(--a11y-theme-shiki-token-function);
    --shiki-token-string-expression: var(--a11y-theme-shiki-token-string-expression);
    --shiki-token-punctuation: var(--a11y-theme-shiki-token-punctuation);
    --shiki-token-link: var(--a11y-theme-shiki-token-link);
    --shiki-token-inserted: var(--a11y-theme-shiki-token-inserted);
    --shiki-token-deleted: var(--a11y-theme-shiki-token-deleted);
    --shiki-token-changed: var(--a11y-theme-shiki-token-changed);
    --shiki-ansi-black: var(--a11y-theme-shiki-ansi-black);
    --shiki-ansi-red: var(--a11y-theme-shiki-ansi-red);
    --shiki-ansi-green: var(--a11y-theme-shiki-ansi-green);
    --shiki-ansi-yellow: var(--a11y-theme-shiki-ansi-yellow);
    --shiki-ansi-blue: var(--a11y-theme-shiki-ansi-blue);
    --shiki-ansi-magenta: var(--a11y-theme-shiki-ansi-magenta);
    --shiki-ansi-cyan: var(--a11y-theme-shiki-ansi-cyan);
    --shiki-ansi-white: var(--a11y-theme-shiki-ansi-white);
    --shiki-ansi-bright-black: var(--a11y-theme-shiki-ansi-bright-black);
    --shiki-ansi-bright-red: var(--a11y-theme-shiki-ansi-bright-red);
    --shiki-ansi-bright-green: var(--a11y-theme-shiki-ansi-bright-green);
    --shiki-ansi-bright-yellow: var(--a11y-theme-shiki-ansi-bright-yellow);
    --shiki-ansi-bright-blue: var(--a11y-theme-shiki-ansi-bright-blue);
    --shiki-ansi-bright-magenta: var(--a11y-theme-shiki-ansi-bright-magenta);
    --shiki-ansi-bright-cyan: var(--a11y-theme-shiki-ansi-bright-cyan);
    --shiki-ansi-bright-white: var(--a11y-theme-shiki-ansi-bright-white);
  }
}
