@media print {
  html {
    --theme-color-primary: var(--a11y-theme-color-primary);
    --theme-color-primary-offset: var(--a11y-theme-color-primary-offset);
    --theme-color-primary-inverse: var(--a11y-theme-color-primary-inverse);
    --theme-color-secondary: var(--a11y-theme-color-secondary);
    --theme-color-secondary-offset: var(--a11y-theme-color-secondary-offset);
    --theme-color-secondary-inverse: var(--a11y-theme-color-secondary-inverse);
    --theme-color-accent: var(--a11y-theme-color-accent);
    --theme-color-accent-offset: var(--a11y-theme-color-accent-offset);
    --theme-color-page-base: var(--a11y-theme-color-page-base);
    --theme-color-page-active: var(--a11y-theme-color-page-active);
    --theme-color-page-base-offset: var(--a11y-theme-color-page-base-offset);
    --theme-color-content: var(--a11y-theme-color-content);
    --theme-color-content-offset: var(--a11y-theme-color-content-active);
    --theme-color-content-active: var(--a11y-theme-color-content-active);
    --theme-color-content-inverse: var(--a11y-theme-color-content-inverse);
    --theme-color-content-inverse-active: var(--a11y-theme-color-content-inverse-active);
    --theme-color-trim: var(--a11y-theme-color-trim);
    --theme-color-spotlight: var(--a11y-theme-color-spotlight);
    --theme-color-spotlight-offset: var(--a11y-theme-color-spotlight-offset);
    --theme-color-success: var(--a11y-theme-color-success);
    --theme-color-success-offset: var(--a11y-theme-color-success-offset);
    --theme-color-success-inverse: var(--a11y-theme-color-success-inverse);
    --theme-color-info: var(--a11y-theme-color-info);
    --theme-color-info-offset: var(--a11y-theme-color-info-offset);
    --theme-color-info-inverse: var(--a11y-theme-color-info-inverse);
    --theme-color-note: var(--a11y-theme-color-note);
    --theme-color-note-offset: var(--a11y-theme-color-note-offset);
    --theme-color-note-inverse: var(--a11y-theme-color-note-inverse);
    --theme-color-warning: var(--a11y-theme-color-warning);
    --theme-color-warning-offset: var(--a11y-theme-color-warning-offset);
    --theme-color-warning-inverse: var(--a11y-theme-color-warning-inverse);
    --theme-color-danger: var(--a11y-theme-color-danger);
    --theme-color-danger-offset: var(--a11y-theme-color-danger-offset);
    --theme-color-danger-inverse: var(--a11y-theme-color-danger-inverse);
    --theme-color-icons: var(--a11y-theme-color-icons);
    --theme-color-icons-active: var(--a11y-theme-color-icons-active);
    --theme-color-black: var(--a11y-theme-color-black);
    --theme-color-white: var(--a11y-theme-color-white);
    --theme-color-blue-100: var(--a11y-theme-color-blue-100);
    --theme-color-blue-600: var(--a11y-theme-color-blue-600);
    --theme-color-blue-900: var(--a11y-theme-color-blue-900);
    --theme-color-gray-50: var(--a11y-theme-color-gray-50);
    --theme-color-gray-200: var(--a11y-theme-color-gray-200);
    --theme-color-gray-300: var(--a11y-theme-color-gray-300);
    --theme-color-gray-600: var(--a11y-theme-color-gray-600);
    --theme-color-gray-700: var(--a11y-theme-color-gray-700);
    --theme-color-gray-800: var(--a11y-theme-color-gray-800);
    --theme-color-gray-offset: var(--a11y-theme-color-gray-offset);
    --theme-color-green-100: var(--a11y-theme-color-green-100);
    --theme-color-green-900: var(--a11y-theme-color-green-900);

    /** Shiki code highlighting colors **/
    --shiki-foreground: var(--a11y-theme-shiki-foreground);
    --shiki-background: var(--a11y-theme-shiki-background);
    --shiki-token-constant: var(--a11y-theme-shiki-token-constant);
    --shiki-token-string: var(--a11y-theme-shiki-token-string);
    --shiki-token-comment: var(--a11y-theme-shiki-token-comment);
    --shiki-token-keyword: var(--a11y-theme-shiki-token-keyword);
    --shiki-token-parameter: var(--a11y-theme-shiki-token-parameter);
    --shiki-token-function: var(--a11y-theme-shiki-token-function);
    --shiki-token-string-expression: var(--a11y-theme-shiki-token-string-expression);
    --shiki-token-punctuation: var(--a11y-theme-shiki-token-punctuation);
    --shiki-token-link: var(--a11y-theme-shiki-token-link);
  }

  body {
    color: var(--color-content);
    display: block;
    margin: 0 0.6cm;
    padding: 3mm 0;
  }

  img::after,
  img::before {
    display: none !important;
  }

  body::after {
    clear: both;
    content: ' ';
    height: 0;

    /* background: */
    visibility: hidden;
  }

  .featured-cta {
    display: none;
  }

  a[href] {
    text-decoration: underline !important;
  }

  a {
    background: 0 0 !important;
    text-shadow: none !important;
  }

  .layout {
    background-color: var(--color-page-base) !important;
    margin: 0 !important; /* page containing everything will get margin */
    padding: 0 !important;
    width: 100% !important;
  }

  /** Display links for print with the URL in parentheses */
  .layout a::after {
    content: "("attr(href)")" !important;
  }

  .layout .header,
  .layout .footer {
    display: none;
  }
}

/** Applied to individual printed pages */
@page {
  margin: 2cm;
}