@media print {
  body {
    color: #222;
    display: block;
    margin: 0 0.6cm;
    padding: 3mm 0;
  }

  img::after,
  img::before {
    display: none !important;
  }

  body::after {
    clear: both;
    content: ' ';
    height: 0;

    /* background: */
    visibility: hidden;
  }

  .featured-cta {
    display: none;
  }

  a[href] {
    text-decoration: underline !important;
  }

  a {
    background: 0 0 !important;
    text-shadow: none !important;
  }

  .layout {
    background-color: white !important;
    margin: 0 !important; /* page containing everything will get margin */
    padding: 0 !important;
    width: 100% !important;
  }

  /** Display links for print with the URL in parentheses */
  .layout a::after {
    content: "("attr(href)")" !important;
  }

  .layout .header,
  .layout .footer {
    display: none;
  }
}

/** Applied to individual printed pages */
@page {
  margin: 2cm;
}