/**
 * Stylings for Shiki Textmate-based Code Highlighter using VS Code templates
 *
 * Supports dual themes configured in astro.config.mjs:
 * - github-light for light mode
 * - github-dark for dark mode
 */

/**
 * Each line is wrapped in a <span class='line'> so line number can be done
 * like this, here with a different starting number:
 * <code style="--start: 13;">...</code>
 */
code {
	counter-increment: step calc(var(--start, 1) - 1);
	counter-reset: step;
}

code .line::before {
  color: rgb(from var(--color-content-active) r g b / 40%);
  content: counter(step);
  counter-increment: step;
  display: inline-block;
  margin-right: 1.5rem;
  text-align: right;
  width: 1rem
}

/* Query based dark mode */

@media (prefers-color-scheme: dark) {
  .shiki-light {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .shiki-dark {
    display: none;
  }
}

/* Class based dark mode */

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}