/**
 * Icons styling for astro-icon components
 */

/* Default astro-icon base styling - minimal base only */
[astro-icon] {
  display: inline-block;
  height: 1.5rem;
  vertical-align: middle;
  width: 1.5rem;
}