@theme inline {
  /**
   * =============================================================================
   *  Base colors
   * =============================================================================
   */

  /** Primary color for theme */
  --color-primary: #006dca;

  /** A shade of the primary color for accent */
  --color-primary-offset: #00386d;

  /** Secondary color for theme */
  --color-secondary: #2563eb;

  /** A shade of the secondary color for accent */
  --color-secondary-offset: #0056a3;

  /**
   * =============================================================================
   *  Page element colors
   * =============================================================================
   */

  /** A solid fill color for page page elements */
  --color-page-base: #f3f4f6; /** --color-bg */

  /** A shade of the page color for hover and focus states */
  --color-page-base-offset: #e5e7eb; /** --color-bg-offset */

  /**
   * =============================================================================
   *  Text colors
   * =============================================================================
   */

  /** Main content text color */
  --color-content: #374151; /** --color-text */

  /** A shade of the text color for hover and focus states */
  --color-content-active: #9ca3af; /** --color-text-offset */

  /** Main content text color */
  --color-content-inverse: #f3f4f6; /** --color-text */

  /** A shade of the text color for hover and focus states */
  --color-content-inverse-active: #bfdbfe; /** --color-text-offset */

  /**
   * =============================================================================
   *  Border colors
   * =============================================================================
   */

  /** A color for use in primary page accent elements */
  --color-spotlight: #facc15;

  /** A shade of the accent color for hover and focus states */
  --color-spotlight-offset: #ca8a04;

  /**
   * =============================================================================
   *  Brand colors for use in the logo and wordmarks
   * =============================================================================
   */

  /** Primary brand color */
  --color-primary-brand: #001733;

  /** Secondary brand color */
  --color-secondary-brand: #0062B6; /** --color-primary */

  /**
   * =============================================================================
   *  Success colors
   * =============================================================================
   */

  --color-success: #16a34a;
  --color-success-offset: #22c55e;
  --color-success-inverse: #dcfce7;

  /**
   * =============================================================================
   *  Info colors
   * =============================================================================
   */

  --color-info: #0891b2;
  --color-info-inverse: #cffafe;

  /**
   * =============================================================================
   *  Warning colors
   * =============================================================================
   */

  --color-warning: #a16207;
  --color-warning-offset: #ca8a04;
  --color-warning-inverse: #fef3c7;

  /**
   * =============================================================================
   *  Danger colors
   * =============================================================================
   */

  --color-danger: #dc2626;
  --color-danger-inverse: #fecaca;

  /**
   * =============================================================================
   *  Icon color
   * =============================================================================
   */

  --color-icons: #001733;

  /**
   * =============================================================================
   *  Vendor colors
   * =============================================================================
   */

  --color-codepen: #000;
  --color-github: #211F1F;
  --color-linkedin: #0a66c2;
  --color-mastodon: #6364FF;
  --color-x: #000;
}
