@theme inline {
  /** Disable all Tailwind default palette colors */
  --color-*: initial;

  /**
   * =============================================================================
   *  Base colors
   * =============================================================================
   */

  /** Primary color for theme */
  --color-primary: #001A39;

  /** A shade of the primary color for accent */
  --color-primary-offset: #00386d;

  /** Secondary color for theme */
  --color-secondary: #006dca;

  /** A shade of the secondary color for accent */
  --color-secondary-offset: #0056a3;

  /** Accent color for theme */
  --color-accent: ##7c3aed;

  /** A shade of the accent color for accent */
  --color-accent-offset: #d28fe0;

  /**
   * =============================================================================
   *  Page element colors
   * =============================================================================
   */

  /** A solid fill color for page page elements */
  --color-page-base: #f3f4f6; /** --color-bg */

  /** A solid fill color for page page elements */
  --color-page-active: #9ca3af; /** --color-bg */

  /** A shade of the page color for hover and focus states */
  --color-page-base-offset: #e5e7eb; /** --color-bg-page-base-offset */

  /**
   * =============================================================================
   *  Text colors
   * =============================================================================
   */

  /** Main content text color */
  --color-content: #374151; /** --color-content */

  /** A shade of the text color for hover and focus states */
  --color-content-active: #9ca3af; /** --color-content-offset */

  /** Main content text color */
  --color-content-inverse: #f3f4f6; /** --color-content */

  /** A shade of the text color for hover and focus states */
  --color-content-inverse-active: #bfdbfe; /** --color-content-offset */

  /**
   * =============================================================================
   *  Border colors
   * =============================================================================
   */

  /** A color for use in primary page accent elements */
  --color-spotlight: #facc15;

  /** A shade of the accent color for hover and focus states */
  --color-spotlight-offset: #ca8a04;

  /**
   * =============================================================================
   *  Brand colors for use in the logo and wordmarks
   * =============================================================================
   */

  /** Primary brand color */
  --color-primary-brand: #001A39;

  /** Secondary brand color */
  --color-secondary-brand: #006DCA; /** --color-primary */

  /**
   * =============================================================================
   *  Success colors
   * =============================================================================
   */

  --color-success: #16a34a;
  --color-success-offset: #22c55e;
  --color-success-inverse: #dcfce7;

  /**
   * =============================================================================
   *  Info colors
   * =============================================================================
   */

  --color-info: #0891b2;
  --color-info-offset: #38bdf8;
  --color-info-inverse: #cffafe;

  /**
   * =============================================================================
   *  Warning colors
   * =============================================================================
   */

  --color-warning: #a16207;
  --color-warning-offset: #ca8a04;
  --color-warning-inverse: #fef3c7;

  /**
   * =============================================================================
   *  Danger colors
   * =============================================================================
   */

  --color-danger: #dc2626;
  --color-danger-offset: #b91c1c;
  --color-danger-inverse: #fecaca;

  /**
   * =============================================================================
   *  Icon color
   * =============================================================================
   */

    /** Main icon color */
  --color-icons: #374151;

  /** A shade of the icon color for hover and focus states */
  --color-icons-active: #9ca3af;

  /**
   * =============================================================================
   *  Palette colors
   * =============================================================================
   */
  --color-black: #000000;

  --color-blue-100: #dbeafe;
  --color-blue-600: #2563eb;
  --color-blue-900: #1e3a8a;

  --color-gray-50: #f9fafb;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-offset: #9ca3af;

  --color-green-100: #d1fae5;
  --color-green-900: #14532d;

  --color-white: #ffffff;

  /**
   * =============================================================================
   *  Vendor colors
   * =============================================================================
   */

  --color-codepen: #000;
  --color-github: #211F1F;
  --color-linkedin: #0a66c2;
  --color-mastodon: #6364FF;
  --color-x: #000;
}
