@theme inline {
  /** Disable all Tailwind default palette colors */
  --color-*: initial;

  /**
   * =============================================================================
   *  Base colors
   * =============================================================================
   */

  /** Primary color for theme */
  --color-primary: var(--theme-color-primary); /* Light theme: #001A39 */

  /** A shade of the primary color for accent */
  --color-primary-offset: var(--theme-color-primary-offset); /* Light theme: #003d86 */

  /** A shade of the primary color for accent */
  --color-primary-inverse: var(--theme-color-primary-inverse); /* Light theme: #FFF */

  /** Secondary color for theme */
  --color-secondary: var(--theme-color-secondary); /* Light theme: #006dca */

  /** A shade of the secondary color for accent */
  --color-secondary-offset: var(--theme-color-secondary-offset); /* Light theme: #1894ff */

  /** A shade of the primary color for accent */
  --color-secondary-inverse: var(--theme-color-secondary-inverse); /* Light theme: #FFF */

  /** Accent color for theme */
  --color-accent: var(--theme-color-accent); /* Light theme: #7c3aed */

  /** A shade of the accent color for accent */
  --color-accent-offset: var(--theme-color-accent-offset); /* Light theme: #d28fe0 */

  /**
   * =============================================================================
   *  Page element colors
   * =============================================================================
   */

  /** A solid fill color for page page elements */
  --color-page-base: var(--theme-color-page-base); /* Light theme: #f3f4f6 */

  /** A solid fill color for page page elements */
  --color-page-active: var(--theme-color-page-active); /* Light theme: #001A39 */

  /** Opposite of a solid fill color for page page elements */
  --color-page-inverse: var(--theme-color-page-inverse); /* Light theme: #f3f4f6 */

  /** A shade of the page color for hover and focus states */
  --color-page-offset: var(--theme-color-page-offset); /* Light theme: #e5e7eb */

  /**
   * =============================================================================
   *  Text colors
   * =============================================================================
   */

  /** Main content text color */
  --color-content: var(--theme-color-content); /* Light theme: #374151 */

  /** A shade of the text color for accent */
  --color-content-offset: var(--theme-color-content-offset); /* Light theme: #9ca3af */

  /** A shade of the text color for hover and focus states */
  --color-content-active: var(--theme-color-content-active); /* Light theme: #9ca3af */

  /** Main content text color */
  --color-content-inverse: var(--theme-color-content-inverse); /* Light theme: #f3f4f6 */

  /** A shade of the text color for hover and focus states */
  --color-content-inverse-active: var(--theme-color-content-inverse-active); /* Light theme: #bfdbfe */

  /**
   * =============================================================================
   *  Border colors
   * =============================================================================
   */

  /** A color for use in page borders */
  --color-trim: var(--theme-color-trim); /* Light theme: #f0f4ff */

  /** A color for use in primary page accent elements */
  --color-spotlight: var(--theme-color-spotlight); /* Light theme: #facc15 */

  /** A shade of the accent color for hover and focus states */
  --color-spotlight-offset: var(--theme-color-spotlight-offset); /* Light theme: #ca8a04 */

  /**
   * =============================================================================
   *  Success colors
   * =============================================================================
   */

  --color-success: var(--theme-color-success); /* Light theme: #16a34a */
  --color-success-offset: var(--theme-color-success-offset); /* Light theme: #22c55e */
  --color-success-inverse: var(--theme-color-success-inverse); /* Light theme: #dcfce7 */

  /**
   * =============================================================================
   *  Info colors
   * =============================================================================
   */

  --color-info: var(--theme-color-info); /* Light theme: #0891b2 */
  --color-info-offset: var(--theme-color-info-offset); /* Light theme: #38bdf8 */
  --color-info-inverse: var(--theme-color-info-inverse); /* Light theme: #cffafe */

  /**
   * =============================================================================
   *  Note colors
   * =============================================================================
   */

  --color-note: var(--theme-color-note); /* Light theme: #374151 */
  --color-note-offset: var(--theme-color-note-offset); /* Light theme: #6b7280 */
  --color-note-inverse: var(--theme-color-note-inverse); /* Light theme: #d1d5db */

  /**
   * =============================================================================
   *  Warning colors
   * =============================================================================
   */

  --color-warning: var(--theme-color-warning); /* Light theme: #a16207 */
  --color-warning-offset: var(--theme-color-warning-offset); /* Light theme: #ca8a04 */
  --color-warning-inverse: var(--theme-color-warning-inverse); /* Light theme: #fef3c7 */

  /**
   * =============================================================================
   *  Danger colors
   * =============================================================================
   */

  --color-danger: var(--theme-color-danger); /* Light theme: #dc2626 */
  --color-danger-offset: var(--theme-color-danger-offset); /* Light theme: #b91c1c */
  --color-danger-inverse: var(--theme-color-danger-inverse); /* Light theme: #fecaca */

  /**
   * =============================================================================
   *  Icon color
   * =============================================================================
   */

  /** Main icon color */
  --color-icons: var(--theme-color-icons); /* Light theme: #374151 */

  /** A shade of the icon color for hover and focus states */
  --color-icons-active: var(--theme-color-icons-active); /* Light theme: #9ca3af */

  /**
   * =============================================================================
   *  Palette colors
   * =============================================================================
   */

  /** Blues */
  --color-blue-50: var(--theme-color-blue-50); /* Light theme: #eff6ff */
  --color-blue-100: var(--theme-color-blue-100); /* Light theme: #dbeafe */
  --color-blue-200: var(--theme-color-blue-200); /* Light theme: #bfdbfe */
  --color-blue-300: var(--theme-color-blue-300); /* Light theme: #93c5fd */
  --color-blue-400: var(--theme-color-blue-400); /* Light theme: #60a5fa */
  --color-blue-500: var(--theme-color-blue-500); /* Light theme: #3b82f6 */
  --color-blue-600: var(--theme-color-blue-600); /* Light theme: #2563eb */
  --color-blue-800: var(--theme-color-blue-800); /* Light theme: #1e40af */
  --color-blue-900: var(--theme-color-blue-900); /* Light theme: #1e3a8a */

  /** Grays */
  --color-gray-50: var(--theme-color-gray-50); /* Light theme: #f9fafb */
  --color-gray-100: var(--theme-color-gray-100); /* Light theme: #f3f4f6 */
  --color-gray-200: var(--theme-color-gray-200); /* Light theme: #e5e7eb */
  --color-gray-300: var(--theme-color-gray-300); /* Light theme: #d1d5db */
  --color-gray-400: var(--theme-color-gray-400); /* Light theme: #9ca3af */
  --color-gray-500: var(--theme-color-gray-500); /* Light theme: #6b7280 */
  --color-gray-600: var(--theme-color-gray-600); /* Light theme: #4b5563 */
  --color-gray-700: var(--theme-color-gray-700); /* Light theme: #374151 */
  --color-gray-800: var(--theme-color-gray-800); /* Light theme: #1f2937 */
  --color-gray-900: var(--theme-color-gray-900); /* Light theme: #111827 */
  --color-gray-offset: var(--theme-color-gray-offset); /* Light theme: #9ca3af */

  /** Greens */
  --color-green-100: var(--theme-color-green-100); /* Light theme: #d1fae5 */
  --color-green-400: var(--theme-color-green-400); /* Light theme: #4ade80 */
  --color-green-500: var(--theme-color-green-500); /* Light theme: #22c55e */
  --color-green-600: var(--theme-color-green-600); /* Light theme: #16a34a */
  --color-green-700: var(--theme-color-green-700); /* Light theme: #15803d */
  --color-green-900: var(--theme-color-green-900); /* Light theme: #14532d */

  /** Oranges */
  --color-orange-100: var(--theme-color-orange-100); /* Light theme: #ffedd5 */

  /** Purples */
  --color-purple-100: var(--theme-color-purple-100); /* Light theme: #f3e8ff */
  --color-purple-600: var(--theme-color-purple-600); /* Light theme: #9333ea */

  /** Reds */
  --color-red-400: var(--theme-color-red-400); /* Light theme: #f87171 */
  --color-red-500: var(--theme-color-red-500); /* Light theme: #ef4444 */

  /** Yellows */
  --color-yellow-500: var(--theme-color-yellow-500); /* Light theme: #eab308 */

  /**
   * =============================================================================
   *  Vendor colors
   * =============================================================================
   */

  --color-bluesky: var(--theme-color-bluesky); /* Light theme: #00A8E8 */
  --color-bluesky-active: var(--theme-color-bluesky-active); /* Light theme: #0087bd */
  --color-codepen: var(--theme-color-codepen); /* Light theme: #000 */
  --color-codepen-active: var(--theme-color-codepen-active); /* Light theme: #1a1a1a */
  --color-github: var(--theme-color-github); /* Light theme: #211F1F */
  --color-github-active: var(--theme-color-github-active); /* Light theme: #333131 */
  --color-linkedin: var(--theme-color-linkedin); /* Light theme: #0a66c2 */
  --color-linkedin-active: var(--theme-color-linkedin-active); /* Light theme: #084c9e */
  --color-mastodon: var(--theme-color-mastodon); /* Light theme: #6364FF */
  --color-mastodon-active: var(--theme-color-mastodon-active); /* Light theme: #5557e6 */
  --color-reddit: var(--theme-color-reddit); /* Light theme: #FF4500 */
  --color-reddit-active: var(--theme-color-reddit-active); /* Light theme: #e03d00 */
  --color-google-red: var(--theme-color-google-red); /* Light theme: #EA4335 */
  --color-google-yellow: var(--theme-color-google-yellow); /* Light theme: #FBBC04 */
  --color-google-blue: var(--theme-color-google-blue); /* Light theme: #4285F4 */
  --color-google-blue-dark: var(--theme-color-google-blue-dark); /* Light theme: #1967D2 */
  --color-google-green: var(--theme-color-google-green); /* Light theme: #34A853 */
  --color-google-green-dark: var(--theme-color-google-green-dark); /* Light theme: #188038 */
  --color-x: var(--theme-color-x); /* Light theme: #000 */
  --color-x-active: var(--theme-color-x-active); /* Light theme: #1a1a1a */
}
