---
import TableOfContents from '@components/Toc/index.astro'
import type { TocFixtureProps } from './toc.fixture.types'

export type Props = TocFixtureProps

const { headings } = Astro.props as TocFixtureProps
---

<TableOfContents items={headings} />

<main>
	<h2 id="overview">Overview</h2>
	<h3 id="installation">Installation</h3>
	<h2 id="usage">Usage</h2>
</main>
