---
import ConsentCheckbox, { type Props as ConsentCheckboxProps } from '@components/Consent/Checkbox/index.astro'

export interface CheckboxFixtureProps extends ConsentCheckboxProps {
  formId?: string
  wrapInForm?: boolean
}

const {
  wrapInForm = true,
  ...props
} = {
  purpose: 'Responding to your inquiry',
  wrapInForm: true,
  ...Astro.props,
} as CheckboxFixtureProps
---
{wrapInForm ? (
  <form id="gdpr-consent-form" data-testid="gdpr-consent-form">
    <ConsentCheckbox {...props} />
    <button type="submit">Submit</button>
  </form>
) : (
  <ConsentCheckbox {...props} />
)}
