---
import Meta from '@components/Head/Meta.astro'

export interface Props {
  pageTitle: string
  path: string
  description?: string
  image?: string
  noindex?: boolean
  contentType?: 'article' | 'website'
  publishDate?: Date
  modifiedDate?: Date
  author?: string
  section?: string
  tags?: string[]
}

const {
  pageTitle,
  path,
  description,
  image,
  noindex,
  contentType,
  publishDate,
  modifiedDate,
  author,
  section,
  tags,
} = Astro.props
---

{/* The <head> element is in BaseLayout.astro due to Astro */}
{/* hoisting issues related to <html> and <head> elements */}
<meta charset="utf-8">
<title>{pageTitle}</title>
{/* Site <meta> tags, Open Graph social tags, and favicon, PWA manifest, */}
{/* RSS, canonical, pingback, and webmention links  */}
<Meta
  pageTitle={pageTitle}
  path={path}
  {...description && { description }}
  {...image && { image }}
  {...noindex && { noindex }}
  {...contentType && { contentType }}
  {...publishDate && { publishDate }}
  {...modifiedDate && { modifiedDate }}
  {...author && { author }}
  {...section && { section }}
  {...tags && { tags }}
/>
<script>
  {/** Script to set theme name on <html>. This should be inlined by Astro so */}
  {/** that it runs first. Do not add other scripts in this <script> block. */}
  import { setInitialTheme } from '@components/Scripts/theme'
  setInitialTheme()
</script>
<script>
  {/* Be careful adding script here. It runs before any script tags in components. */}
  import { SentryBootstrap } from '@components/Scripts/sentry/client'
  import { PUBLIC_SENTRY_DSN } from 'astro:env/client'
  if (import.meta.env.PROD && PUBLIC_SENTRY_DSN) {
    SentryBootstrap.init()
  } else {
    console.info('🔧 Sentry disabled in development mode')
  }

  import { AppBootstrap } from '@components/Scripts/bootstrap'
  AppBootstrap.init()
</script>