---
import { ClientRouter } from 'astro:transitions'
import Meta from '@components/Head/Meta.astro'

export interface Props {
  pageTitle: string
  path: string
  description?: string
  image?: string
}

const { pageTitle, path, description, image } = Astro.props
---

<head>
  <title>{pageTitle}</title>
  {/* Site <meta> tags, Open Graph social tags, and favicon, PWA manifest, */}
  {/* RSS, canonical, pingback, and webmention links  */}
  <Meta
    pageTitle={pageTitle}
    path={path}
    {...description && { description }}
    {...image && { image }}
  />
  {/* Set theme name on <html> element from storage early to prevent flash of  */}
  {/* unstyled content. IMPORTANT: This violates invariant rules and is intentional. */}
  <script is:inline>
    document.documentElement.setAttribute('data-theme', localStorage.getItem('theme') ?? 'default')
  </script>
  {/* Client-side router for Astro pages (enables partial page reloads) */}
  {/* Must be placed at the end of the <head> to avoid blocking page rendering */}
  <ClientRouter />
</head>