---
import Meta from '@components/Head/Meta.astro'
import ThemeInit from '@components/Head/ThemeInit.astro'

export interface Props {
  /** Author name */
  author?: string
  /** Content type for OpenGraph metadata */
  contentType?: 'article' | 'website'
  /** Meta description */
  pageDescription?: string
  /** Last modified date */
  modifiedDate?: Date
  /** Whether search engines should ignore the page, default: false */
  noindex?: boolean
  /** Meta page title displayed in the browser tab and window title bar */
  pageTitle: string
  /** URL path component e.g. 'articles/my-article' */
  path: string
  /** Publication date for articles */
  publishDate?: Date
  /** Specifies the main, high-level category or theme of the article */
  section?: string
  /** Content tags */
  tags?: string[]
}

const {
  author,
  contentType,
  pageDescription,
  modifiedDate,
  noindex,
  pageTitle,
  path,
  publishDate,
  section,
  tags,
} = Astro.props
---

{/* The <head> element is in BaseLayout.astro due to Astro */}
{/* hoisting issues related to <html> and <head> elements */}
<meta charset="utf-8" />
<title>{pageTitle}</title>
{/* Inline script to set theme ASAP - prevents FOUC */}
<ThemeInit />
{/* Site <meta> tags, Open Graph social tags, and favicon, PWA manifest, */}
{/* RSS, canonical, pingback, and webmention links  */}
<Meta
  pageTitle={pageTitle}
  path={path}
  {...pageDescription && { pageDescription }}
  {...noindex && { noindex }}
  {...contentType && { contentType }}
  {...publishDate && { publishDate }}
  {...modifiedDate && { modifiedDate }}
  {...author && { author }}
  {...section && { section }}
  {...tags && { tags }}
/>
<script>
  import { AppBootstrap } from '@components/scripts/bootstrap'
  AppBootstrap.init()
</script>
