.searchBar[data-search-variant='header'] button[data-search-toggle][data-state='open'] .icon--search {
  color: var(--color-primary);
  fill: var(--color-primary);
}

/* Keep behavior consistent across browsers by disabling the native search clear control.
   We'll render our own clear button instead. */
.searchBar[data-search-variant='header'] input[type='search']::-webkit-search-cancel-button {
  display: none;
}

.searchBar[data-search-variant='header'] button[data-search-clear] svg {
  display: block;
  height: calc(var(--header-icon-svg-size) * 0.75);
  width: calc(var(--header-icon-svg-size) * 0.75);
  fill: currentColor;
}
