---
import Brand from '@components/Brand/index.astro'

export interface Props {
  /** Article title to display in the running header */
  articleTitle: string
}

const { articleTitle } = Astro.props
---

<div class="print-running-header">
  <div class="print-running-header__body">
    <Brand />
    <span>{articleTitle}</span>
  </div>
</div>
