---
import BaseLayout from "@layouts/BaseLayout.astro"
import { getCollection } from "astro:content"

const allArticles = await getCollection("articles", ({ data }) => {
  return import.meta.env.PROD ? data.isDraft !== true : true;
})

const tags = [...new Set(allArticles.map((article) => article.data.tags).flat())]
const pageTitle = "Tag Index"
---

<BaseLayout pageTitle={pageTitle} path={path}>
  <div class="flex flex-wrap m-auto">
    {
      tags.map((tag) => (
        <p class="m-1 rounded-lg border-solid border-[1px] border-slate-300 py-2 px-4 text-lg bg-slate-100">
          <a class="text-brandPrimary" href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
