---
import Menu from '@components/Navigation/Menu.astro'
import NavToggle from '@components/Navigation/NavToggle.astro'

export interface Props {
  /** The URL path component e.g. 'articles/my-article' */
  path: string
}

const { path } = Astro.props
---

<site-navigation class="contents" data-testid="site-navigation">
  <div id="mobile-nav-focus-container" class="contents">
    {/* Main Navigation Menu */}
    <span id="header__main-nav" class="lg:z-(--z-nav) lg:flex-1 lg:mx-8">
      <Menu path={path} />
    </span>
    {/* Mobile navigation toggle button to show menu on full-page splash screen */}
    <span
      id="header__nav-icon"
      class="block fixed right-4 sm:right-6 top-2 z-(--z-mobile-close-btn) lg:hidden"
    >
      <NavToggle />
    </span>
  </div>
</site-navigation>

<script>
  import { registerNavigationElement } from '@components/Navigation/client'

  registerNavigationElement()
</script>