---
import Menu from '@components/Navigation/Menu.astro'
import NavToggle from '@components/Navigation/NavToggle.astro'

export interface Props {
  /** The URL path component e.g. 'articles/my-article' */
  path: string
}

const { path } = Astro.props
---

<site-navigation class="contents" data-testid="site-navigation">
  <div id="mobile-nav-focus-container" class="contents">
    {/* Main Navigation Menu */}
    <span
      id="header__main-nav"
      class="header-nav flex-1 min-w-0 lg:z-(--z-nav) lg:mx-8"
    >
      <Menu path={path} />
    </span>
    {/* Mobile navigation toggle button to show menu on full-page splash screen */}
    <span
      id="header__nav-icon"
      class="header-icon order-5 block shrink-0 w-(--header-icon-size) h-(--header-icon-size) relative z-(--z-mobile-close-btn) lg:hidden"
    >
      <NavToggle />
    </span>
  </div>
</site-navigation>

<script>
  import { registerNavigationElement } from '@components/Navigation/client'

  registerNavigationElement()
</script>
