---
import navToggleStyles from './navToggle.module.css'
/**
 * Menu Toggle Button
 */
---

<button
  class:list={[
    'nav-toggle-btn',
    'lg:hidden inline-flex items-center justify-center rounded-full border-0 bg-primary-offset text-bg transition-colors duration-150 ease-linear hover:bg-primary focus:bg-primary focus:outline-none',
    navToggleStyles['button'],
  ]}
  type="button"
  aria-expanded="false"
  aria-controls="main-nav"
  aria-label="toggle menu"
  aria-haspopup="menu"
>
  <svg
    class:list={['nav-toggle-svg', 'h-(--header-icon-size) w-(--header-icon-size)', navToggleStyles['icon']]}
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 50 50"
  >
    <title>menu toggle</title>
    <g>
      <line class:list={['nav-toggle-bar', navToggleStyles['bar']]} x1="13" y1="16.5" x2="37" y2="16.5"></line>
      <line class:list={['nav-toggle-bar', navToggleStyles['bar']]} x1="13" y1="24.5" x2="37" y2="24.5"></line>
      <line class:list={['nav-toggle-bar', navToggleStyles['bar']]} x1="13" y1="24.5" x2="37" y2="24.5"></line>
      <line class:list={['nav-toggle-bar', navToggleStyles['bar']]} x1="13" y1="32.5" x2="37" y2="32.5"></line>
      <circle class:list={['nav-toggle-circle', navToggleStyles['circle']]} r="23" cx="25" cy="25"></circle>
    </g>
  </svg>
</button>
