---
/**
 * Menu Toggle Button
 *
 * IF THIS CHANGES update navigationHtml.ts fixture in navigation script folder
 */
---

<style>
  /* Nav toggle button styles */
  .nav-toggle-btn {
    background-color: var(--color-primary-offset);
    border-radius: 50%;
    border-width: 0;
    transition: 0.15s linear;
    height: var(--header-icon-size);
    width: var(--header-icon-size);
  }

  .nav-toggle-btn:hover,
  .nav-toggle-btn:focus {
    background-color: var(--color-primary);
    outline-width: 0;
  }

  .nav-toggle-svg {
    transform: rotate(0deg);
    transition: 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    height: var(--header-icon-size);
    width: var(--header-icon-size);
  }

  .nav-toggle-bar,
  .nav-toggle-circle {
    fill: none;
    stroke-linecap: round;
    stroke-width: 0.3rem;
    stroke: var(--color-bg);
  }

  .nav-toggle-bar {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-in-out;
  }

  .nav-toggle-circle {
    stroke-dasharray: var(--circle-stroke);
    stroke-dashoffset: var(--circle-stroke);
    transition: stroke-dashoffset 0.3s linear .1s;
  }

  /* Animation for menu active state */
  .nav-toggle-btn[aria-expanded="true"] .nav-toggle-svg {
    color: white;
    transform: rotate(180deg);
  }

  .nav-toggle-btn[aria-expanded="true"] .nav-toggle-bar:nth-child(1),
  .nav-toggle-btn[aria-expanded="true"] .nav-toggle-bar:nth-child(4) {
    opacity: 0;
  }

  .nav-toggle-btn[aria-expanded="true"] .nav-toggle-bar:nth-child(2) {
    transform: rotate(45deg);
  }

  .nav-toggle-btn[aria-expanded="true"] .nav-toggle-bar:nth-child(3) {
    transform: rotate(-45deg);
  }

  .nav-toggle-btn[aria-expanded="true"] .nav-toggle-circle {
    stroke-dashoffset: 0;
  }

  /* Hide on desktop */
  @media (min-width: 1024px) {
    .nav-toggle-btn {
      display: none;
    }
  }
</style>

<button
  class="nav-toggle-btn lg:hidden"
  type="button"
  aria-expanded="false"
  aria-owns="main-nav"
  aria-label="toggle menu"
  aria-haspopup="true"
>
  <svg
    class="nav-toggle-svg"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 50 50"
  >
    <title>menu toggle</title>
    <g>
      <line class="nav-toggle-bar" x1="13" y1="16.5" x2="37" y2="16.5"/>
      <line class="nav-toggle-bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
      <line class="nav-toggle-bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
      <line class="nav-toggle-bar" x1="13" y1="32.5" x2="37" y2="32.5"/>
      <circle
        class="nav-toggle-circle"
        r="23"
        cx="25"
        cy="25"
      />
    </g>
  </svg>
</button>