---
export type Props = {
  href: string
}

const { href } = Astro.props
---

<a class="heading-anchor no-underline hover:no-underline focus-visible:no-underline transition-colors" aria-label="Link to this section" href={href}><span class="anchor-link text-base sm:text-lg" aria-hidden="true">🔗</span></a>
