---
import BaseLayout from '@layouts/BaseLayout.astro'
import NotFoundHero from '@components/Errors/NotFoundHero/index.astro'

const pageTitle = 'Oops! Not Found'
const path = '/404/'
---

<BaseLayout pageTitle={pageTitle} path={path} noindex={true}>
  <div class="min-h-screen flex items-center justify-center px-4 sm:px-6 lg:px-8">
    <div class="max-w-lg w-full">
      <NotFoundHero />
    </div>
  </div>
</BaseLayout>
