---
import BaseLayout from '@layouts/BaseLayout.astro'
import NotFoundHero from '@components/Errors/NotFoundHero/index.astro'

const pageDescription = '404 Not Found page'
const pageTitle = 'Oops! Not Found'
const path = '/404/'
---

<BaseLayout
  description={pageDescription}
  noindex={true}
  pageTitle={pageTitle}
  path={path}
>
  <div class="min-h-screen flex items-center justify-center px-4 sm:px-6 lg:px-8">
    <div class="max-w-lg w-full">
      <NotFoundHero />
    </div>
  </div>
</BaseLayout>
