---
import BaseLayout from '@layouts/BaseLayout.astro'

const pageDescription = 'Styling Variants'
const pageTitle = 'Style Variants'
const path = '/hero/'
---

<BaseLayout pageDescription={pageDescription} noindex={true} pageTitle={pageTitle} path={path}>
  <div class="mt-12">

  </div>
</BaseLayout>
