---
import BaseLayout from '@layouts/BaseLayout.astro'

const pageDescription = 'Hero Demo Pages'
const pageTitle = 'Hero Demo Pages'
const path = '/hero/'
---

<BaseLayout description={pageDescription} noindex={true} pageTitle={pageTitle} path={path}>
	<main class="mx-auto max-w-7xl space-y-12 px-4 py-12 sm:px-6 lg:px-8">
		<header class="space-y-2">
			<h1 class="text-3xl font-bold tracking-tight text-content-active">Mockups</h1>
		</header>

  </main>
</BaseLayout>
