---
import BaseLayout from '@layouts/BaseLayout.astro'

const pageDescription = 'Hero Demo Pages'
const pageTitle = 'Hero Demo Pages'
const path = '/hero/'
---

<BaseLayout description={pageDescription} noindex={true} pageTitle={pageTitle} path={path}>
	<section class="sr-only" aria-hidden="true"></section>
</BaseLayout>
