---
import BaseLayout from '@layouts/BaseLayout.astro'

const pageTitle = "Home Page"
---
<BaseLayout pageTitle={pageTitle} path={path}>
  <h2>My awesome blog Home Page</h2>
</BaseLayout>

sudo openstack endpoint create --region RegionOne network public http://192.168.50.168:9696
b2bda2d06de84cbe8aa496f260a52ee5

