---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
}

const { color, classes, size, accessible, focusable } = Astro.props
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  class:list={[`w-${size} h-${size}`, color, classes]}
  fill="none"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  <title>Waiting Spinner Icon</title>
  <g class="offline-spinner-bars" stroke-width="1.5" stroke-linecap="round">
    <line x1="12" y1="2" x2="12" y2="6" opacity="0.14"></line>
    <line x1="19.07" y1="4.93" x2="16.24" y2="7.76" opacity="0.27"></line>
    <line x1="22" y1="12" x2="18" y2="12" opacity="0.40"></line>
    <line x1="19.07" y1="19.07" x2="16.24" y2="16.24" opacity="0.53"></line>
    <line x1="12" y1="22" x2="12" y2="18" opacity="0.66"></line>
    <line x1="4.93" y1="19.07" x2="7.76" y2="16.24" opacity="0.79"></line>
    <line x1="2" y1="12" x2="6" y2="12" opacity="0.92"></line>
    <line x1="4.93" y1="4.93" x2="7.76" y2="7.76" opacity="1"></line>
  </g>
</svg>
