#downloadFormStatus.success {
  background-color: var(--color-success-inverse);
  border: 1px solid var(--color-success-offset);
  color: var(--color-success);
  display: block;
}

#downloadFormStatus.error {
  background-color: var(--color-danger-inverse);
  border: 1px solid var(--color-danger-offset);
  color: var(--color-danger);
  display: block;
}
