---
export type Props = {
  classes?: {
    layout?: string
  }
}

const { classes }: Props = Astro.props

const layoutClass = "font-mono bg-content-inverse-active border-2 border-trim rounded-md px-6 pt-6"
---

<div class:list={[layoutClass, classes?.layout]}>
  <slot />
</div>
