---
/**
 * Test Navigation component that combines Menu and NavToggle for Container API testing
 * This component creates the complete DOM structure expected by Navigation.ts
 */
import Navigation from '@components/Navigation/index.astro'

export interface Props {
  path?: string
}

const { path = '/' } = Astro.props
---

<header id="header" class="header">
  <div id="mobile-splash" class="mobile-splash"></div>
  <Navigation path={path} />
</header>
