---
import Brand from '@components/Brand/index.astro'
import Menu from '@components/Navigation/Menu.astro'
import NavToggle from '@components/Navigation/NavToggle.astro'
import Themes from '@components/ThemePicker/Themes.astro'
import ThemeButton from '@components/ThemePicker/ThemeButton.astro'

export interface Props {
  /** The URL path component e.g. 'articles/my-article' */
  path: string
}

const { path } = Astro.props
---

<!-- CSS Custom Properties for Header Icons -->
<style>
  :root {
    --header-icon-size: calc(3.5em * 0.75);
    --header-icon-svg-size: calc(var(--header-icon-size) * 0.7);
    --circle-stroke: calc(var(--header-icon-size) * 2 * 3.141592653);
  }

  @media (min-width: 640px) {
    :root {
      --header-icon-size: calc(3.5em * 0.85);
    }
  }

  @media (min-width: 1024px) {
    :root {
      --header-icon-size: calc(3.5em);
    }
  }

  #header::after {
    content: '';
    display: block;
    position: absolute;
    left: 52%;
    top: 0;
    height: 100%;
    width: 102vw;
    transform: translateX(-52%);
    z-index: -1;
    box-sizing: border-box;
    background-color: var(--color-bg-offset);
  }
</style>

{/* Hidden modal shown when theme picker icon selected */}
<Themes />
{/* Header for all pages */}
<header
  id="header"
  class="flex flex-row items-center justify-between py-2 lg:py-3 relative mx-auto max-w-[75rem] w-[90%] px-4 sm:px-6 lg:px-8"
  role="banner"
>
  {/*- Element for animated background behind mobile navigation menu -*/}
  <div id="mobile-splash" class="mobile-splash"></div>
  {/* Logo and wordmark */}
  <span id="header__brand" class="flex items-center justify-between relative z-[var(--z-content-overlay)]">
    <Brand />
  </span>
  {/* Main Navigation Menu */}
  <span id="header__main-nav" class="z-[var(--z-nav)] lg:flex-1 lg:mx-8">
    <Menu path={path} />
  </span>
  {/* Theme picker toggle button to show modal */}
  <span
    id="header__theme-icon"
    class="w-[calc(var(--header-icon-size)*2+0.5em)] lg:w-[var(--header-icon-size)] relative z-[var(--z-content-overlay)]"
  >
    <ThemeButton />
  </span>
  {/* Mobile navigation toggle button to show menu on full-page splash screen */}
  <span
    id="header__nav-icon"
    class="block fixed right-4 sm:right-6 top-2 z-[var(--z-mobile-close-btn)] lg:hidden"
  >
    <NavToggle />
  </span>
</header>
