---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="none"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>API Icon</title>}
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    stroke-width="1.6"
    d="M 2.4357846e-7,3.6004623 A 3.5998854,3.5998854 0 1 1 6.8477824,5.1524129 L 8.9997139,7.3027445 9.4540994,6.848359 a 3.5998854,3.5998854 0 0 1 5.0910376,0 l 0.454386,0.4543855 2.150331,-2.1503316 A 3.5998854,3.5998854 0 1 1 18.8458,6.848359 l -2.148731,2.1519315 0.454385,0.4543855 a 3.5998854,3.5998854 0 0 1 0,5.091038 l -0.454385,0.454385 2.150331,2.150332 a 3.5998854,3.5998854 0 1 1 -1.695946,1.695946 l -2.151931,-2.148732 -0.454386,0.454386 a 3.5998854,3.5998854 0 0 1 -5.0910376,0 L 8.9997139,16.697645 6.8493823,18.847977 A 3.5998854,3.5998854 0 1 1 5.1534363,17.152031 L 7.3021679,15.000099 6.8477824,14.545714 a 3.5998854,3.5998854 0 0 1 0,-5.091038 L 7.3021679,9.0002905 5.1518363,6.8499589 A 3.5998854,3.5998854 0 0 1 2.4357846e-7,3.6004623 Z M 3.5998857,2.4005005 a 1.1999618,1.1999618 0 1 0 0,2.3999236 1.1999618,1.1999618 0 0 0 0,-2.3999236 z m 0,16.7994645 a 1.199962,1.199962 0 1 0 0,2.399924 1.199962,1.199962 0 0 0 0,-2.399924 z m 15.5995033,1.199962 a 1.199962,1.199962 0 1 1 2.399924,0 1.199962,1.199962 0 0 1 -2.399924,0 z M 20.399351,2.4005005 a 1.1999618,1.1999618 0 1 0 0,2.3999236 1.1999618,1.1999618 0 0 0 0,-2.3999236 z M 11.151645,8.545905 a 1.1999618,1.1999618 0 0 1 1.695946,0 l 2.607917,2.606317 a 1.1999618,1.1999618 0 0 1 0,1.695946 l -2.607917,2.607917 a 1.1999618,1.1999618 0 0 1 -1.695946,0 L 8.5437284,12.848168 a 1.1999618,1.1999618 0 0 1 0,-1.695946 L 11.151645,8.544305 Z"
  />
</svg>
