---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={[
    'shrink-0',
    `w-${size} h-${size}`,
    `text-${color}`,
    classes,
    isListMarker ? 'mt-0.5' : '',
  ]}
  fill="currentColor"
  stroke="none"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? 'false' : 'true'}
  focusable={focusable ? 'true' : 'false'}
>
  {accessible && <title>Availability Icon</title>}
  <path
    stroke-width="0.08"
    d="m 13.819602,13.80294 c 0,-0.0571 0.0028,-0.113611 0.0043,-0.170407 H 2.9158474 C 1.3080416,13.632533 0,14.940577 0,16.548382 c 0,1.607806 1.3080416,2.915847 2.9158474,2.915847 H 18.024709 C 15.594483,18.729208 13.819602,16.469843 13.819602,13.80294 Z M 6.1725083,17.305744 H 3.521738 c -0.41761,0 -0.7573632,-0.339753 -0.7573632,-0.757362 0,-0.417611 0.3397532,-0.757364 0.7573632,-0.757364 h 2.6507703 c 0.4176101,0 0.757363,0.339753 0.757363,0.757364 0,0.417609 -0.3397529,0.757362 -0.757363,0.757362 z"
  ></path>
  <path
    stroke-width="0.08"
    d="M 2.9158474,12.647961 H 13.933661 c 0.538789,-2.7098429 2.934251,-4.7590405 5.799962,-4.7590405 0.722524,0 1.414906,0.1307894 2.055407,0.3689862 C 21.281824,7.3961797 20.345042,6.8162678 19.274888,6.8162678 H 2.9158474 C 1.3080416,6.8162678 0,8.1243083 0,9.7321144 0,11.339921 1.3080416,12.647961 2.9158474,12.647961 Z M 3.521738,8.9747507 h 2.6507703 c 0.4176101,0 0.757363,0.339753 0.757363,0.7573637 0,0.4176106 -0.3397529,0.7573636 -0.757363,0.7573636 H 3.521738 c -0.41761,0 -0.7573632,-0.339753 -0.7573632,-0.7573636 0,-0.4176107 0.3397532,-0.7573637 0.7573632,-0.7573637 z"
  ></path>
  <path
    stroke-width="0.08"
    d="M 2.9158474,5.8316952 H 19.274888 c 1.607729,0 2.915848,-1.3080427 2.915848,-2.9158486 C 22.190736,1.3080407 20.882617,0 19.274888,0 H 2.9158474 C 1.3080416,0 0,1.3080407 0,2.9158466 0,4.5236525 1.3080416,5.8316952 2.9158474,5.8316952 Z M 17.987371,1.9502106 c 0.532426,0 0.965638,0.43321 0.965638,0.965636 0,0.5324281 -0.433212,0.9656381 -0.965638,0.9656381 -0.532426,0 -0.965638,-0.43321 -0.965638,-0.9656381 0,-0.532426 0.433212,-0.965636 0.965638,-0.965636 z M 3.521738,2.1584846 h 2.6507703 c 0.4176101,0 0.757363,0.3397534 0.757363,0.757362 0,0.4176107 -0.3397529,0.757364 -0.757363,0.757364 H 3.521738 c -0.41761,0 -0.7573632,-0.3397533 -0.7573632,-0.757364 0,-0.4176086 0.3397532,-0.757362 0.7573632,-0.757362 z"
  ></path>
  <path
    stroke-width="0.08"
    d="m 19.733623,9.5364876 c -2.356308,0 -4.266453,1.9101444 -4.266453,4.2664524 0,2.356309 1.910145,4.266454 4.266453,4.266454 C 22.089931,18.069394 24,16.159249 24,13.80294 24,11.446632 22.089931,9.5364876 19.733623,9.5364876 Z m 2.27936,3.3626164 -2.700303,2.700226 c -0.0571,0.05719 -0.133219,0.08876 -0.214182,0.08876 -0.08096,0 -0.157076,-0.03151 -0.214258,-0.08876 l -1.354164,-1.354165 c -0.05726,-0.05718 -0.08876,-0.133307 -0.08876,-0.214183 0,-0.08089 0.03151,-0.156996 0.08876,-0.214258 l 0.267727,-0.267727 c 0.0571,-0.05718 0.13322,-0.08876 0.214183,-0.08876 0.08088,0 0.157,0.03151 0.214182,0.08869 l 0.87233,0.872256 2.218392,-2.218241 c 0.0571,-0.05718 0.133225,-0.08876 0.214183,-0.08876 0.08095,0 0.157078,0.03159 0.214256,0.08876 l 0.267729,0.267727 c 0.05719,0.0571 0.08876,0.133225 0.08876,0.214183 -7.5e-5,0.08095 -0.03159,0.157078 -0.08884,0.214258 z"
  ></path>
</svg>
