---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>User Avatar Icon</title>}
  <rect
    x="0"
    y="12.705882"
    width="11.294118"
    height="11.294118"
    stroke-width="0.0662"
  />
  <rect
    x="12.705882"
    y="12.705882"
    width="11.294118"
    height="11.294118"
    stroke-width="0.0662"
  />
  <rect
    x="0"
    y="0"
    width="11.294118"
    height="11.294118"
    stroke-width="0.0662"
  />
  <rect
    x="15.529412"
    y="0"
    width="8.4705877"
    height="8.4705877"
    stroke-width="0.0662"
  />
</svg>
