---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
}

const { color, classes, size, accessible, focusable, isListMarker } = Astro.props
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="none"
  stroke="currentColor"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>Google calendar icon</title>}
  <path
   fill="#ffffff"
   d="M 18.31584,5.68416 12.63168,5.0526 5.68428,5.68416 5.0526,12 5.68416,18.31584 12,19.10532 18.31584,18.31584 18.9474,11.8422 Z"
   style="stroke-width:0.12" /><path
   fill="#1a73e8"
   d="M 8.27532,15.48312 C 7.80324,15.16416 7.47636,14.69844 7.29792,14.0826 l 1.09584,-0.45156 c 0.09948,0.37896 0.27312,0.6726 0.52104,0.88104 0.24636,0.20844 0.54636,0.31104 0.89688,0.31104 0.35844,0 0.66636,-0.10896 0.92364,-0.32688 0.25728,-0.21792 0.38688,-0.49584 0.38688,-0.83208 0,-0.34416 -0.13584,-0.62532 -0.4074,-0.84312 -0.27156,-0.2178 -0.6126,-0.32688 -1.02,-0.32688 H 9.06168 V 11.40948 H 9.63 c 0.35052,0 0.64584,-0.09468 0.88584,-0.28416 0.24,-0.18948 0.36,-0.44844 0.36,-0.77844 0,-0.29364 -0.1074,-0.5274 -0.32208,-0.7026 C 10.33908,9.46908 10.0674,9.38064 9.7374,9.38064 9.41532,9.38064 9.15948,9.46596 8.97,9.63804 8.78052,9.81012 8.64312,10.02168 8.55636,10.27116 L 7.47168,9.8196 C 7.61532,9.4122 7.87908,9.0522 8.26584,8.74116 8.65272,8.43012 9.14688,8.27376 9.74688,8.27376 c 0.44364,0 0.84312,0.08532 1.19688,0.2574 0.35364,0.17208 0.63156,0.41052 0.83208,0.71364 0.20052,0.30468 0.3,0.64584 0.3,1.02468 0,0.38688 -0.09312,0.71364 -0.27948,0.98208 C 11.61,11.52 11.38104,11.7252 11.10948,11.86896 v 0.06468 c 0.35844,0.15 0.65052,0.37896 0.88104,0.68688 0.22896,0.30792 0.34416,0.67584 0.34416,1.10532 0,0.42948 -0.10896,0.81312 -0.32688,1.14948 -0.21792,0.33636 -0.51948,0.60156 -0.90156,0.79416 C 10.7226,15.86208 10.29156,15.96 9.81312,15.96 9.25896,15.96156 8.7474,15.80208 8.27532,15.48312 Z"
   style="stroke-width:0.12" /><path
   fill="#1a73e8"
   d="m 15,10.04532 -1.19688,0.87 -0.60156,-0.9126 L 15.36,8.44584 h 0.8274 v 7.34364 H 15 Z"
   style="stroke-width:0.12" /><path
   fill="#ea4335"
   d="M 18.31584,24 24,18.31584 l -2.84208,-1.26312 -2.84208,1.26312 -1.26312,2.84208 z"
   style="stroke-width:0.12" /><path
   fill="#34a853"
   d="M 4.42104,21.15792 5.68416,24 H 18.31572 V 18.31584 H 5.68416 Z"
   style="stroke-width:0.12" /><path
   fill="#4285f4"
   d="M 1.89468,0 C 0.84792,0 0,0.84792 0,1.89468 v 16.42104 l 2.84208,1.26312 2.84208,-1.26312 V 5.68416 H 18.31572 L 19.57884,2.84208 18.31584,0 Z"
   style="stroke-width:0.12" /><path
   fill="#188038"
   d="m 0,18.31584 v 3.78948 C 0,23.1522 0.84792,24 1.89468,24 h 3.78948 v -5.68416 z"
   style="stroke-width:0.12" /><path
   fill="#fbbc04"
   d="M 18.31584,5.68416 V 18.31572 H 24 V 5.68416 L 21.15792,4.42104 Z"
   style="stroke-width:0.12" /><path
   fill="#1967d2"
   d="M 24,5.68416 V 1.89468 C 24,0.8478 23.15208,0 22.10532,0 h -3.78948 v 5.68416 z"
   style="stroke-width:0.12" />
</svg>
