---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
}

const { color, classes, size, accessible, focusable, isListMarker } = Astro.props
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>apple calendar icon</title>}
<style
   type="text/css"
   id="style2">
	.st0 {
		enable-background: new;
		fill: #FFF;
	}

	.st1 {
		fill: #F00;
	}
</style>
<path
   class="st0"
   d="m 23.998889,7.5074302 c 0,-0.2866534 0,-0.5733068 -0.0011,-0.8599602 -0.0011,-0.2410999 -0.0044,-0.4833109 -0.01111,-0.7244109 C 23.972224,5.3975279 23.941114,4.8664414 23.847785,4.3464654 23.753345,3.8187121 23.597796,3.3276237 23.353363,2.8476459 23.113374,2.3765566 22.800056,1.9454655 22.42674,1.5710384 22.052312,1.1977223 21.622332,0.8844035 21.150132,0.64441461 20.671265,0.39998148 20.180177,0.24554419 19.652423,0.15110412 19.132448,0.0577751 18.601361,0.02666543 18.07583,0.01222166 17.83473,0.0055553 17.592519,0.00333318 17.351419,0.00111106 17.064766,0 16.778112,0 16.491459,0 H 7.5074302 C 7.2207768,0 6.9341234,0 6.64747,0.00111106 6.4063701,0.00222212 6.1641591,0.0055553 5.9230591,0.01222166 5.3975279,0.02666543 4.8664414,0.0577751 4.3464654,0.15110412 3.8187121,0.24554419 3.3276237,0.40109254 2.848757,0.64441461 2.3776677,0.8844035 1.9454655,1.1977223 1.5721494,1.5710384 1.1977223,1.9454655 0.88551456,2.3754456 0.64552567,2.8476459 0.40109254,3.3276237 0.24665525,3.8187121 0.15110412,4.3464654 0.0577751,4.8664414 0.02666543,5.3975279 0.01333272,5.9230591 0.00666636,6.1641591 0.00333318,6.4063701 0.00222212,6.64747 0,6.9341234 0,7.2207768 0,7.5074302 v 8.9840288 c 0,0.286653 0,0.573307 0.00222212,0.85996 0.00111106,0.2411 0.00444424,0.483311 0.0111106,0.724411 0.01444377,0.525531 0.04555344,1.056618 0.13888246,1.576593 0.0944401,0.527754 0.24998842,1.019953 0.49442155,1.49882 0.23998889,0.471089 0.55330767,0.90218 0.92662377,1.275497 0.373316,0.374427 0.8044072,0.687745 1.2766076,0.927734 0.4788667,0.244433 0.9699551,0.398871 1.4977084,0.493311 0.5199759,0.09333 1.0510625,0.124439 1.5765937,0.138882 0.2410999,0.0067 0.4833109,0.0089 0.7244109,0.01111 0.2866534,0.0011 0.5733068,0.0011 0.8599602,0.0011 H 16.49257 c 0.286653,0 0.573307,0 0.85996,-0.0011 0.2411,-0.0011 0.483311,-0.0044 0.724411,-0.01111 0.525531,-0.01444 1.056618,-0.04555 1.576594,-0.138882 0.527753,-0.09444 1.018841,-0.249989 1.497708,-0.493311 0.471089,-0.239989 0.90218,-0.553307 1.276608,-0.927734 0.374427,-0.373317 0.686634,-0.804408 0.926623,-1.275497 0.244433,-0.479978 0.398871,-0.971066 0.494422,-1.49882 0.09333,-0.519975 0.124439,-1.049951 0.138882,-1.576593 0.0067,-0.2411 0.0089,-0.483311 0.01111,-0.724411 C 24,17.064766 24,16.778112 24,16.491459 V 7.5074302 Z"
   id="path6"
   style="stroke-width:0.0111" /><path
   d="M 8.9573631,19.633535 V 8.4684968 H 8.4884959 L 5.6441831,10.351743 v 0.476645 L 8.4562752,8.9873617 H 8.489607 V 19.634647 h 0.4677561 z"
   id="path8"
   style="stroke-width:0.0111" /><path
   d="m 11.736123,8.4684968 v 0.427758 h 6.13305 v 0.033332 L 12.943845,19.634647 h 0.526642 L 18.354706,8.9206981 V 8.4684968 Z"
   id="path10"
   style="stroke-width:0.0111" /><path
   class="st1"
   d="M 4.3609092,6.2785982 V 3.8642655 h 0.00889 L 5.324198,6.031943 H 5.64085 L 6.591917,3.8642655 H 6.603028 V 6.2785982 H 6.91968 V 3.0809685 H 6.58414 L 5.4886348,5.6430721 h -0.00889 L 4.3809083,3.0820795 h -0.33554 v 3.1965187 z"
   id="path14"
   style="stroke-width:0.0111" /><path
   class="st1"
   d="m 8.6407111,3.7842692 c -0.6677469,0 -1.0388408,0.4855331 -1.0388408,1.1432805 v 0.2410999 c 0,0.6610805 0.3677607,1.1488357 1.0388408,1.1488357 0.669969,0 1.0355076,-0.4877552 1.0355076,-1.1488357 V 4.9275497 C 9.6773298,4.2698023 9.3062358,3.7842692 8.6407111,3.7842692 Z m 0,0.3022083 c 0.4355354,0 0.6910791,0.3255405 0.6910791,0.857738 v 0.2066571 c 0,0.5344197 -0.2555437,0.8599602 -0.6910791,0.8599602 -0.4388686,0 -0.6933013,-0.3277626 -0.6933013,-0.8599602 V 4.9442155 c 0,-0.5310865 0.2555438,-0.857738 0.6933013,-0.857738 z"
   id="path16"
   style="stroke-width:0.0111" /><path
   class="st1"
   d="m 10.321744,6.2785982 h 0.344429 V 4.7753345 c 0,-0.3510949 0.192213,-0.6755243 0.642192,-0.6755243 0.384427,0 0.631082,0.2322115 0.631082,0.651081 v 1.5254849 h 0.344429 V 4.6986714 c 0,-0.595528 -0.377761,-0.9166243 -0.883293,-0.9166243 -0.403314,0 -0.633304,0.2111014 -0.724411,0.3755382 h -0.01 v -0.33554 h -0.344429 z"
   id="path18"
   style="stroke-width:0.0111" /><path
   class="st1"
   d="m 13.869358,3.7820471 c -0.609972,0 -0.982177,0.4755336 -0.982177,1.1410583 v 0.2510995 c 0,0.6777464 0.344429,1.1410583 0.982177,1.1410583 0.352206,0 0.604416,-0.1777696 0.735521,-0.4199806 h 0.0089 v 0.3822046 h 0.32554 V 2.9098653 H 14.59488 v 1.265497 h -0.0089 C 14.467108,3.9631499 14.213786,3.7820471 13.869358,3.7820471 Z m 0.03111,0.3077636 c 0.435535,0 0.7033,0.3422063 0.7033,0.8488495 v 0.2277673 c 0,0.5277533 -0.259988,0.8432943 -0.698856,0.8432943 -0.388871,0 -0.672191,-0.2833202 -0.672191,-0.8455164 v -0.222212 c -0.0011,-0.5733068 0.287764,-0.8521827 0.667747,-0.8521827 z"
   id="path20"
   style="stroke-width:0.0111" /><path
   class="st1"
   d="m 17.071432,5.9597241 h 0.0089 v 0.3188741 h 0.33554 V 4.5720106 c 0,-0.5044211 -0.369982,-0.7877414 -0.88107,-0.7877414 -0.568862,0 -0.862182,0.297764 -0.89107,0.724411 h 0.325541 c 0.02778,-0.259988 0.213323,-0.426647 0.551085,-0.426647 0.348873,0 0.551086,0.185547 0.551086,0.5299755 v 0.2644322 h -0.667747 c -0.559974,0.00222 -0.855516,0.2744317 -0.855516,0.6988565 0,0.4499792 0.325541,0.743299 0.802185,0.743299 0.374427,-0.00111 0.603306,-0.1622148 0.721078,-0.3588723 z m -0.63997,0.061108 c -0.276654,0 -0.527754,-0.147771 -0.527754,-0.4522013 0,-0.2388778 0.152215,-0.409981 0.511088,-0.409981 h 0.656636 V 5.460858 c 0,0.3299847 -0.274432,0.5599741 -0.63997,0.5599741 z"
   id="path22"
   style="stroke-width:0.0111" /><path
   class="st1"
   d="M 19.953521,3.8242674 H 19.58576 L 18.884681,5.8775057 H 18.87246 L 18.171381,3.8242674 H 17.788065 L 18.70469,6.3174853 18.65802,6.4674784 C 18.5858,6.7208 18.461363,6.8685709 18.172487,6.8685709 c -0.05333,0 -0.141105,-0.00667 -0.179992,-0.014444 v 0.2933198 c 0.06111,0.00889 0.152216,0.018888 0.234434,0.018888 0.477756,0 0.642192,-0.3277626 0.771075,-0.6821906 l 0.07,-0.1833249 z"
   id="path24"
   style="stroke-width:0.0111" />
</svg>
