---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>stylized check mark icon</title>}
  <path
    style="stroke-width:0.0492"
    d="m 23.743628,0.07311325 c 0.14035,0.120299 0.195448,0.211651 0.255076,0.387223 0.02089,0.403815 -0.213789,0.66972995 -0.442541,0.98342495 -0.04921,0.06842 -0.09838,0.136862 -0.147514,0.205328 -0.108392,0.150678 -0.217238,0.301017 -0.326335,0.451185 -0.156196,0.215346 -0.31029,0.432105 -0.463478,0.649598 -0.02417,0.03431 -0.04834,0.06861 -0.07324,0.103961 -0.07294,0.103613 -0.145838,0.20726 -0.218714,0.310921 -0.29871,0.424898 -0.598582,0.848775 -0.903521,1.269233 -0.256273,0.353388 -0.507353,0.710157 -0.756945,1.068286 -0.215345,0.308459 -0.434731,0.613759 -0.655768,0.918155 -0.197915,0.273151 -0.392004,0.548805 -0.584869,0.825539 -0.246463,0.353605 -0.49651,0.704318 -0.749561,1.053232 -0.278241,0.383963 -0.551215,0.771569 -0.823919,1.159474 -0.29871,0.424898 -0.598582,0.8487738 -0.903521,1.2692328 -0.256273,0.353387 -0.507353,0.710157 -0.756944,1.068286 -0.215346,0.308459 -0.434732,0.613759 -0.655769,0.918155 -0.197914,0.27315 -0.392004,0.548805 -0.584869,0.825539 -0.246463,0.353605 -0.49651,0.704318 -0.749561,1.053232 -0.27824,0.383962 -0.551215,0.771569 -0.823919,1.159474 -0.29871,0.424898 -0.598582,0.848774 -0.903521,1.269232 -0.256273,0.353388 -0.507353,0.710157 -0.756944,1.068286 -0.215346,0.30846 -0.434732,0.613759 -0.655769,0.918156 -0.197914,0.27315 -0.392004,0.548804 -0.584869,0.825539 -0.220607,0.316508 -0.443466,0.631146 -0.6699584,0.943473 -0.208628,0.287701 -0.415822,0.576317 -0.620787,0.866643 -0.02429,0.03431 -0.04858,0.06862 -0.0736,0.103973 -0.113871,0.161355 -0.226308,0.323387 -0.335711,0.48781 -0.02959,0.04409 -0.02959,0.04409 -0.05978,0.08906 -0.05245,0.07843 -0.104303,0.157263 -0.156109,0.236121 -0.130605,0.162942 -0.250238,0.255649 -0.4581,0.291954 -0.036,-3.8e-4 -0.07201,-7.61e-4 -0.109098,-0.0012 -0.036,3.81e-4 -0.07201,7.61e-4 -0.109099,0.0012 -0.15839,-0.02766 -0.232683,-0.06272 -0.358028,-0.167106 -0.09039,-0.151861 -0.154907,-0.312827 -0.221271,-0.476346 -0.03115,-0.07409 -0.03115,-0.07409 -0.06293,-0.149686 -0.07018,-0.167904 -0.138991,-0.336319 -0.207514,-0.504906 -0.02514,-0.06172 -0.05029,-0.123441 -0.07544,-0.18516 -0.10695,-0.262739 -0.213555,-0.525617 -0.319841,-0.788625 -2.182027,-5.4289 -2.182027,-5.4289 -6.325815,-9.389054 -0.174355,-0.107756 -0.252046,-0.20339 -0.310394,-0.405663 -0.01349,-0.245798 0.01183,-0.396587 0.169026,-0.590054 0.258086,-0.2014328 0.490715,-0.150693 0.807052,-0.113661 1.421311,0.205997 2.675828,0.960635 3.744361,1.883825 0.0431,0.0367 0.0862,0.0734 0.130611,0.111212 0.533575,0.466878 1.051121,0.972331 1.489351,1.530455 0.107964,0.137315 0.220982,0.269343 0.334595,0.402013 0.636525,0.764612 1.177844,1.606802 1.733286,2.430903 0.165695,-0.134641 0.320298,-0.263252 0.457907,-0.427175 0.132019,-0.15475 0.266112,-0.307063 0.40259,-0.457907 0.132262,-0.146561 0.26371,-0.293673 0.39337,-0.442541 0.166874,-0.191597 0.3370344,-0.380126 0.5072704,-0.568735 0.09304,-0.103688 0.185015,-0.208132 0.276396,-0.313275 0.179567,-0.206231 0.364121,-0.407798 0.548375,-0.609838 0.126866,-0.140026 0.251372,-0.281879 0.375315,-0.424486 0.10183,-0.116154 0.205165,-0.230874 0.308665,-0.345543 0.132262,-0.146562 0.26371,-0.293673 0.39337,-0.442542 0.239534,-0.274857 0.484776,-0.544588 0.729117,-0.815167 0.19614,-0.217488 0.390791,-0.436051 0.58314,-0.656897 0.139842,-0.15913 0.282175,-0.316003 0.424102,-0.473273 0.09407,-0.104817 0.187164,-0.210339 0.279661,-0.31654 0.239535,-0.2748568 0.484777,-0.5445878 0.729118,-0.8151668 0.19614,-0.217488 0.390791,-0.436051 0.58314,-0.656897 0.139902,-0.159198 0.282294,-0.316139 0.424294,-0.473465 0.09304,-0.103688 0.185014,-0.208132 0.276396,-0.313275 0.179567,-0.206231 0.364121,-0.407798 0.548375,-0.609838 0.126866,-0.140026 0.251372,-0.281879 0.375314,-0.424486 0.101831,-0.116154 0.205166,-0.230874 0.308665,-0.345543 0.132263,-0.146562 0.263711,-0.293673 0.39337,-0.442542 0.239534,-0.274857 0.484777,-0.544588 0.729117,-0.815167 0.196141,-0.217488 0.390792,-0.436051 0.583141,-0.656897 0.139842,-0.15913 0.282175,-0.316003 0.424102,-0.473273 0.09407,-0.104817 0.187164,-0.210339 0.279661,-0.31654 0.239534,-0.274857 0.484777,-0.544588 0.729117,-0.815167 0.19614,-0.217488 0.390791,-0.436051 0.58314,-0.656897 0.139842,-0.15913 0.282176,-0.316003 0.424102,-0.473273 0.09407,-0.104817 0.187165,-0.210339 0.279662,-0.31654 0.241134,-0.276693 0.487759,-0.54848195 0.734303,-0.82035295 0.0579,-0.06399 0.0579,-0.06399 0.116974,-0.129266 0.0348,-0.03835 0.0696,-0.0767 0.105449,-0.116206 0.07092,-0.08068 0.139494,-0.163455 0.206289,-0.247585 0.211913,-0.262539 0.517395,-0.276303 0.8192,-0.15558 z"
  />
</svg>