---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes]}
  fill="none"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  <title>Chevron Arrow Icon</title>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="M2.07102 0.929008L9.14209 8.00008L2.07102 15.0711L0.656807 13.6569L6.31366 8.00008L0.656807 2.34322L2.07102 0.929008Z"
  ></path>
</svg>
