---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="none"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
  role="img"
>
  {accessible && <title>chrome browser icon</title>}
  <path style="stroke-width:1.2" d="M 11.774433,5.8802057 C 15.206554,5.1361797 18.686675,5.028176 22.130796,5.5921957 20.006722,2.232078 16.26259,0 11.990441,0 8.2583463,0 4.9222296,1.7040597 2.7141523,4.3801533 c 0.5280183,1.5600534 1.200042,3.0481067 2.00407,4.4641564 0.4560167,0.81603 1.6200567,0.7800266 2.0880733,-0.024001 1.0200367,-1.71606 2.8560634,-2.8681 4.9681374,-2.940103 z" />
  <path style="stroke-width:1.2" d="M 6.8548853,15.266214 C 4.4548013,12.698124 2.5827356,9.770022 1.2986906,6.5299207 -0.50137235,10.082033 -0.48937169,14.438185 1.706705,18.098313 c 1.9200673,3.204114 5.088178,5.196182 8.520274,5.7122 1.068037,-1.260043 2.00407,-2.60409 2.808097,-4.00814 0.468017,-0.81603 -0.168,-1.788063 -1.10404,-1.788063 -2.00407,0.012 -3.936114,-0.972034 -5.0761507,-2.748096 z" />
  <path style="stroke-width:1.2" d="m 7.875269,11.99826 c 0,0.732027 0.18,1.41605 0.55202,2.064073 0.7320266,1.260044 2.08806,2.052074 3.552112,2.052074 1.46405,0 2.8321,-0.792027 3.552125,-2.052074 0.372013,-0.648023 0.56402,-1.332046 0.56402,-2.064073 0,-2.26808 -1.848064,-4.1041797 -4.116144,-4.1041797 -2.2560804,-0.012 -4.104132,1.8361 -4.104133,4.1041797 z" />
  <path style="stroke-width:1.2" d="m 23.199673,7.7034417 c -1.644056,-0.3480134 -3.312116,-0.54002 -4.968174,-0.56402 -0.948033,-0.012001 -1.488053,1.0200366 -1.020036,1.8480633 0.480016,0.8520167 0.756026,1.836053 0.756026,2.88009 0,1.008037 -0.264,2.00407 -0.756026,2.8921 -1.128039,3.456123 -2.808098,6.52823 -5.028175,9.240325 6.540229,-0.108 11.808413,-5.43619 11.808413,-12.00042 0,-1.512053 -0.276,-2.96409 -0.792028,-4.2961383 z" />
</svg>
