---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
}

const { color, classes, size, accessible, focusable, isListMarker } = Astro.props
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="none"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
  role="img"
>
  {accessible && <title>clock with hands icon</title>}
  <path style="stroke-width:0.0469" d="m 8.4915469,10.563094 3.0387191,2.344265 0.04228,0.02424 0.01894,0.01059 c 0.262782,0.146343 0.610641,0.06877 0.842578,-0.186516 l 0.02025,-0.01941 3.724313,-4.4063441 c 0.21206,-0.2376533 0.215576,-0.5797939 0.0093,-0.7632158 -0.206765,-0.1838437 -0.545812,-0.1397343 -0.757031,0.097875 L 11.949563,11.383594 9.2618438,9.5119688 C 9.0105,9.3268125 8.6335781,9.4127813 8.4205781,9.7033125 8.2080469,9.993 8.2393125,10.378359 8.4915469,10.563094 Z" />
  <path style="stroke-width:0.0469" d="m 4.708125,11.999531 c 0,-0.160968 0.00352,-0.321843 0.020531,-0.479718 H 2.8210781 c -0.011672,0.157828 -0.014766,0.31875 -0.014766,0.479718 0,0.164016 0.00309,0.322313 0.014766,0.480563 h 1.9075781 c -0.017016,-0.15825 -0.020531,-0.31875 -0.020531,-0.480563 z" />
  <path style="stroke-width:0.0469" d="M 8.0819531,5.8498594 C 8.2622812,5.7356719 8.4463594,5.6280937 8.6332969,5.5324219 l 0.07275,-0.035297 -0.950625,-1.6507031 C 7.5175781,3.966328 7.285875,4.099453 7.0610156,4.2454218 l 0.9510469,1.6515937 z" />
  <path style="stroke-width:0.0469" d="M 3.8468438,7.755 5.49825,8.7055781 5.8979531,8.0120625 4.2458906,7.0610156 C 4.0999219,7.285875 3.9669844,7.5169219 3.8468438,7.755 Z" />
  <path style="stroke-width:0.0469" d="m 18.467812,15.366281 c -0.09919,0.187407 -0.203484,0.370782 -0.320812,0.548485 l -0.04758,0.06966 1.651875,0.951 c 0.146156,-0.224859 0.279281,-0.452813 0.402281,-0.690469 l -1.647656,-0.95414 z" />
  <path style="stroke-width:0.0469" d="m 5.5330781,15.363187 -0.038156,-0.07233 -1.6480781,0.950625 c 0.1172812,0.237657 0.2530312,0.469125 0.399,0.693985 l 1.6520624,-0.951 -0.048094,-0.06966 C 5.7359062,15.737063 5.6283281,15.553688 5.5330781,15.363187 Z" />
  <path style="stroke-width:0.0469" d="M 8.0819531,18.146578 8.0120625,18.099 7.0610156,19.751016 c 0.2249063,0.145968 0.4565625,0.282187 0.6944063,0.402562 l 0.950625,-1.651594 -0.07275,-0.03525 C 8.4463125,18.371438 8.2622344,18.263859 8.0819531,18.146578 Z" />
  <path style="stroke-width:0.0469" d="m 15.291047,5.4945 0.694219,0.4025625 0.950812,-1.6515938 C 16.711406,4.0995 16.482609,3.966375 16.245609,3.8464687 Z" />
  <path style="stroke-width:0.0469"  d="m 11.520281,19.271297 v 1.905187 c 0.158297,0.01406 0.31875,0.01716 0.479485,0.01716 0.161343,0 0.322078,-0.0031 0.479906,-0.01716 v -1.905187 -0.01983 h -0.959391 z" />
  <path style="stroke-width:0.0469" d="M 12.479672,4.7286562 V 2.8235156 c -0.157828,-0.014156 -0.318563,-0.017203 -0.479906,-0.017203 -0.160735,0 -0.321188,0.00305 -0.479485,0.017203 v 1.9051406 0.019828 h 0.959391 z" />
  <path style="stroke-width:0.0469" d="m 15.291047,18.505031 0.954562,1.6485 c 0.237,-0.12389 0.465797,-0.256594 0.690469,-0.402562 l -0.950812,-1.652016 z" />
  <path style="stroke-width:0.0469" d="M 20.153578,7.755 C 20.033016,7.5169219 19.897406,7.2859219 19.751297,7.0610156 l -1.651875,0.9510469 0.403172,0.6935156 z" />
  <path style="stroke-width:0.0469" d="m 21.179109,11.519859 h -1.907343 -0.01983 v 0.960282 h 0.01983 1.907343 c 0.01191,-0.15825 0.01458,-0.31875 0.01458,-0.480563 -4.7e-5,-0.160969 -0.0027,-0.321891 -0.01458,-0.479719 z" />
  <path style="stroke-width:0.0469" d="M 11.999766,0 C 5.3719219,4.21875e-4 4.2187e-4,5.3723437 0,12 4.2187e-4,18.627656 5.3719219,23.999531 11.999766,24 18.627609,23.999531 23.999109,18.627656 23.999531,12 23.999109,5.3723437 18.627609,4.21875e-4 11.999766,0 Z m 0,22.451531 C 9.111,22.451062 6.5028281,21.283125 4.6094062,19.390359 2.7168281,17.496281 1.5486562,14.888297 1.5484219,12 1.5486562,9.1116562 2.7168281,6.5032969 4.6093594,4.6100625 6.5028281,2.7167813 9.111,1.5488438 11.999766,1.5484219 c 2.888343,4.687e-4 5.496468,1.1684062 7.390359,3.0616406 1.892578,1.8932344 3.06075,4.501125 3.060938,7.3899375 -2.35e-4,2.888297 -1.168407,5.496281 -3.060938,7.390359 -1.893891,1.892813 -4.502016,3.06075 -7.390359,3.061172 z" />
</svg>
