---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={[
    'shrink-0',
    `w-${size} h-${size}`,
    `text-${color}`,
    classes,
    isListMarker ? 'mt-0.5' : '',
  ]}
  fill="none"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? 'false' : 'true'}
  focusable={focusable ? 'true' : 'false'}
>
  {accessible && <title>User Avatar Icon</title>}
  <path
    opacity="0.1"
    fill="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="m 18.993588,5.794666 c 0.6937,0.6936331 1.040467,1.0404663 1.223233,1.4814994 0.182667,0.4410332 0.182667,0.9314996 0.182667,1.9124659 v 8.8114697 c 0,2.262632 0,3.393955 -0.702933,4.096892 -0.702933,0.702933 -1.834266,0.702933 -4.096889,0.702933 H 8.3998962 c -2.2626657,0 -3.3939919,0 -4.0969016,-0.702933 C 3.6000715,21.394056 3.6000715,20.26274 3.6000715,18.000101 V 6.0005426 c 0,-2.2626657 0,-3.3939919 0.7029331,-4.0969016 C 5.0059043,1.200708 6.1372372,1.200708 8.3999062,1.200708 h 4.0115718 c 0.980966,0 1.471499,0 1.912499,0.1826665 0.4411,0.1826666 0.7879,0.5294998 1.481599,1.2231662 z"
  ></path>
  <path
    stroke="currentColor"
    stroke-linejoin="round"
    stroke-width="2.4"
    d="m 18.993492,5.794666 c 0.6937,0.6936331 1.040467,1.0404663 1.223233,1.4814994 0.182667,0.4410332 0.182667,0.9314996 0.182667,1.9124659 v 8.8114697 c 0,2.262632 0,3.393955 -0.702933,4.096892 -0.702933,0.702933 -1.834266,0.702933 -4.096889,0.702933 H 8.3998004 c -2.2626657,0 -3.3939919,0 -4.0969016,-0.702933 C 3.5999757,21.394056 3.5999757,20.26274 3.5999757,18.000101 V 6.0005426 c 0,-2.2626657 0,-3.3939919 0.7029331,-4.0969016 C 5.0058085,1.200708 6.1371414,1.200708 8.3998104,1.200708 h 4.0115716 c 0.980966,0 1.471499,0 1.912499,0.1826665 0.4411,0.1826666 0.7879,0.5294998 1.481599,1.2231662 z"
  ></path>
  <path
    stroke="currentColor"
    stroke-width="2.4"
    stroke-linecap="round"
    stroke-linejoin="round"
    d="m 8.4001315,14.400232 1.8925655,1.892566 v 0 c 0.280334,0.280334 0.7345,0.280334 1.0147,0 v 0 l 4.292471,-4.292478"
  ></path>
</svg>
