---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  title?: string
}

const { color, classes, size, accessible, focusable, isListMarker, title } = Astro.props
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="none"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {title && <title>{title}</title>}
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="M3 8l7.89 4.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
  ></path>
</svg>
