---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="none"
  viewBox="0 -2.5 32 24"
  style={`aspect-ratio: 32 / 24;`}
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>Email - Solid Icon</title>}
  <path
     stroke="none"
     stroke-width="1.6"
     fill-rule="evenodd"
     d="M 16,17.4584 0,3.3384 V 21.5 H 32 V 3.3384 Z M 16.0016,13.1992 0,-0.9304 V -2.5 h 32 v 1.5696 z"
  ></path>
</svg>
