---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
}

const { color, classes, size, accessible, focusable, isListMarker } = Astro.props
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="currentColor"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>facebook icon</title>}
  <path style="stroke-width:0.96" d="M 23.52,12 C 23.52,5.63808 18.36192,0.47999999 12,0.47999999 5.63808,0.47999999 0.47999999,5.63808 0.47999999,12 0.47999999,17.7504 4.69248,22.51584 10.2,23.37984 v -8.0496 H 7.27488 v -3.3312 H 10.2 V 9.46272 c 0,-2.88672 1.72032,-4.48224 4.35168,-4.48224 1.25952,0 2.57856,0.2256 2.57856,0.2256 V 8.04096 H 15.6768 c -1.43136,0 -1.87776,0.888 -1.87776,1.79904 V 12 h 3.19488 l -0.51072,3.3312 h -2.68416 v 8.0496 C 19.30752,22.51584 23.52,17.74944 23.52,12 Z" />
</svg>
