---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="none"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>User Avatar Icon</title>}
  <path
    d="M 23.547421,10.930935 13.068776,0.45285245 c -0.603095,-0.60346993 -1.581847,-0.60346993 -2.185692,0 L 8.707142,2.6287942 11.467429,5.3890808 c 0.641438,-0.2167504 1.377002,-0.071344 1.888316,0.4399696 0.513751,0.5145948 0.658126,1.25644 0.436126,1.8999413 l 2.660161,2.6602553 c 0.643595,-0.221719 1.38619,-0.07828 1.900223,0.436594 0.718407,0.718127 0.718407,1.882035 0,2.600631 -0.718596,0.718688 -1.882504,0.718688 -2.601474,0 -0.540376,-0.540939 -0.673877,-1.334534 -0.400314,-2.000254 L 12.86965,8.9454003 12.869369,15.473882 a 1.8581286,1.8581286 0 0 1 0.486376,0.347813 c 0.718407,0.718126 0.718407,1.882129 0,2.601286 -0.718595,0.718314 -1.883066,0.718314 -2.60063,0 -0.718408,-0.719157 -0.718408,-1.883066 0,-2.601192 a 1.8425661,1.8425661 0 0 1 0.60197,-0.401345 V 8.8311188 A 1.816691,1.816691 0 0 1 10.755115,8.4297743 C 10.210801,7.8862107 10.079926,7.0875529 10.358833,6.4192078 L 7.6378274,3.6979213 0.45281338,10.882467 c -0.60375117,0.604032 -0.60375117,1.582878 0,2.186441 L 10.931646,23.547179 c 0.603283,0.603563 1.581847,0.603563 2.18588,0 L 23.547327,13.117565 c 0.603564,-0.603751 0.603564,-1.58316 0,-2.18663"
  ></path>
</svg>
