---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={[
    'shrink-0',
    `w-${size} h-${size}`,
    `text-${color}`,
    classes,
    isListMarker ? 'mt-0.5' : '',
  ]}
  fill="currentColor"
  stroke="none"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? 'false' : 'true'}
  focusable={focusable ? 'true' : 'false'}
>
  {accessible && <title>User Avatar Icon</title>}
  <rect x="9.777771" y="4.4444437" width="1.7777777" height="1.7777777" stroke-width="0.9"></rect>
  <rect x="13.333331" y="4.4444437" width="1.7777777" height="1.7777777" stroke-width="0.9"></rect>
  <rect x="6.2222238" y="4.4444437" width="1.7777777" height="1.7777777" stroke-width="0.9"></rect>
  <path
    d="M 18.666666,11.555554 H 11.555554 V 8.8888891 H 9.7777765 V 11.555554 H 2.6666672 a 1.7798221,1.7798221 0 0 0 -1.77777479,1.777775 v 5.333334 H 2.6666672 v -5.333332 h 7.1111093 v 5.333335 h 1.7777745 v -5.333335 h 7.111112 v 5.333335 h 1.777775 v -5.333335 a 1.7798221,1.7798221 0 0 0 -1.777772,-1.777777 z"
    stroke-width="0.9"></path>
  <rect x="0" y="20.444445" width="3.5555553" height="3.5555553" stroke-width="0.9"></rect>
  <rect x="8.8888874" y="20.444445" width="3.5555553" height="3.5555553" stroke-width="0.9"></rect>
  <rect x="17.777775" y="20.444445" width="3.5555553" height="3.5555553" stroke-width="0.9"></rect>
  <rect x="6.2222238" y="0" width="8.8888884" height="1.7777777" stroke-width="0.9"></rect>
</svg>
