---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
}

const { color, classes, size, accessible, focusable, isListMarker } = Astro.props
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>location icon</title>}
  <path style="stroke-width:0.375" d="M 9,0 C 4.02975,0 0,4.02975 0,9 0,10.957125 0.641625,12.753 1.708125,14.22375 1.72725,14.259 1.73025,14.298375 1.752,14.332125 l 6,9 C 8.03025,23.7495 8.499,24 9,24 c 0.501,0 0.96975,-0.2505 1.248,-0.667875 l 6,-9 c 0.02212,-0.03375 0.02475,-0.07312 0.04387,-0.108375 C 17.358375,12.753 18,10.957125 18,9 18,4.02975 13.97025,0 9,0 Z M 9,12 C 7.34325,12 6,10.65675 6,9 6,7.34325 7.34325,6 9,6 c 1.65675,0 3,1.34325 3,3 0,1.65675 -1.34325,3 -3,3 z" />
</svg>
