---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>location icon</title>}
  <path
     style="stroke-width:0.308"
     d="m 9.4322381,2.705524 c -4.0781543,0 -7.3846163,3.3064621 -7.3846163,7.384616 0,1.605847 0.5264616,3.079385 1.4015387,4.286154 0.015692,0.02892 0.018153,0.06123 0.036,0.08892 l 4.9230772,7.384614 c 0.228308,0.342462 0.612923,0.548 1.0240004,0.548 0.411077,0 0.7956929,-0.205538 1.0239999,-0.548 l 4.923079,-7.384614 c 0.01814,-0.02769 0.02031,-0.06 0.036,-0.08892 0.875081,-1.206769 1.401543,-2.680307 1.401543,-4.286154 0,-4.0781545 -3.306462,-7.3846164 -7.3846169,-7.3846164 z m 0,9.846155 c -1.3593844,0 -2.4615387,-1.102154 -2.4615387,-2.461539 0,-1.3593846 1.1021543,-2.4615384 2.4615387,-2.4615384 1.3593849,0 2.4615389,1.1021538 2.4615389,2.4615384 0,1.359385 -1.102154,2.461539 -2.4615389,2.461539 z"
  />
</svg>
