---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
}

const { color, classes, size, accessible, focusable, isListMarker } = Astro.props
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>moon icon</title>}
  <path
     d="m 8.5652584,4.4223632 c 0,6.0820708 4.9304106,11.0124788 11.0124816,11.0124788 1.112614,0 2.186594,-0.164669 3.199006,-0.47144 -1.37055,4.521969 -5.571215,7.81299 -10.540656,7.81299 -6.0820212,0 -11.0124817,-4.930167 -11.0124817,-11.012235 0,-4.9694081 3.2916071,-9.1700563 7.8134892,-10.5406097 -0.3070037,1.012379 -0.4718391,2.0862589 -0.4718391,3.1988159 z"
     stroke-width="2.44722"
     stroke-linecap="round"
     stroke-linejoin="round" />
</svg>
