---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={[
    'shrink-0',
    `w-${size} h-${size}`,
    `text-${color}`,
    classes,
    isListMarker ? 'mt-0.5' : '',
  ]}
  fill="none"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? 'false' : 'true'}
  focusable={focusable ? 'true' : 'false'}
>
  {accessible && <title>User Avatar Icon</title>}
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="M 1.2041657,11.999951 H 22.795829 M 11.999999,7.2018051 v 4.7981459 m -6.5974531,0 V 16.7981 M 18.597449,11.999951 V 16.7981 M 9.7208765,7.2018051 h 4.5582415 c 0.67187,0 1.007738,0 1.264305,-0.1306672 C 15.769091,6.9561374 15.952592,6.77247 16.067625,6.5469025 16.198293,6.2902348 16.198293,5.9544001 16.198293,5.2825974 V 3.123422 c 0,-0.6718026 0,-1.007704 -0.130668,-1.264305 C 15.952625,1.6334494 15.769291,1.4499153 15.543423,1.3348815 15.286756,1.2042143 14.950988,1.2042143 14.279118,1.2042143 H 9.7208765 c -0.6718027,0 -1.007704,0 -1.264305,0.1306672 C 8.2309039,1.449882 8.0473698,1.6335494 7.932336,1.859117 7.8016688,2.1157847 7.8016688,2.4516194 7.8016688,3.123422 v 2.1591754 c 0,0.6718027 0,1.007704 0.1306672,1.2643051 0.1150005,0.2256675 0.2986679,0.4092016 0.5242355,0.5242354 0.2566677,0.1306672 0.5925023,0.1306672 1.264305,0.1306672 z M 16.31833,22.795784 h 4.558241 c 0.67187,0 1.007738,0 1.264305,-0.130667 0.225668,-0.115 0.409169,-0.298334 0.524202,-0.524202 0.130668,-0.256668 0.130668,-0.592436 0.130668,-1.264305 v -2.159175 c 0,-0.67187 0,-1.007738 -0.130668,-1.264305 -0.115,-0.225668 -0.298334,-0.409169 -0.524202,-0.524203 C 21.884209,16.79826 21.548407,16.79826 20.876571,16.79826 H 16.31833 c -0.67187,0 -1.007738,0 -1.264305,0.130667 -0.225668,0.115001 -0.409169,0.298335 -0.524203,0.524203 -0.130667,0.256667 -0.130667,0.592435 -0.130667,1.264305 v 2.159175 c 0,0.671869 0,1.007737 0.130667,1.264305 0.115001,0.225668 0.298335,0.409168 0.524203,0.524202 0.256667,0.130667 0.592469,0.130667 1.264305,0.130667 z m -13.1949066,0 H 7.681665 c 0.6718027,0 1.0077041,0 1.2643051,-0.130667 0.2256676,-0.115 0.4092016,-0.298334 0.5242354,-0.524202 0.1306672,-0.256668 0.1306672,-0.592436 0.1306672,-1.264305 v -2.159175 c 0,-0.67187 0,-1.007738 -0.1306672,-1.264305 C 9.3552051,17.227462 9.1715377,17.043961 8.9459701,16.928927 8.6893024,16.79826 8.3534677,16.79826 7.681665,16.79826 H 3.1234234 c -0.6718027,0 -1.007704,0 -1.2643051,0.130667 -0.2256675,0.115001 -0.4092016,0.298335 -0.5242354,0.524203 -0.1306672,0.256667 -0.1306672,0.592435 -0.1306672,1.264305 v 2.159175 c 0,0.671869 0,1.007737 0.1306672,1.264305 0.1150005,0.225668 0.2986679,0.409168 0.5242354,0.524202 0.2566677,0.130667 0.5925024,0.130667 1.2643051,0.130667 z"
  ></path>
</svg>
