---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={[
    'shrink-0',
    `w-${size} h-${size}`,
    `text-${color}`,
    classes,
    isListMarker ? 'mt-0.5' : '',
  ]}
  fill="currentColor"
  stroke="none"
  viewBox="0 0 27.81756 24"
  aria-hidden={accessible ? 'false' : 'true'}
  focusable={focusable ? 'true' : 'false'}
>
  {accessible && <title>Observability and Telemetry Icon</title>}
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="0.0673552"
    d="M 26.470454,0.066224 H 1.3471037 C 0.60309834,0.066224 0,0.669322 0,1.413328 v 15.761113 c 0,0.744006 0.60309834,1.347104 1.3471037,1.347104 h 9.3959813 v 3.052537 H 7.0868433 c -0.6870903,0 -1.246071,0.558981 -1.246071,1.246071 0,0.68709 0.5589807,1.246071 1.246071,1.246071 H 20.730714 c 0.68709,0 1.246071,-0.558981 1.246071,-1.246071 0,-0.68709 -0.558981,-1.246071 -1.246071,-1.246071 h -3.656242 v -3.052537 h 9.395982 c 0.744005,0 1.347103,-0.603098 1.347103,-1.347104 V 1.413328 c 0,-0.744006 -0.603098,-1.347104 -1.347103,-1.347104 z M 25.796902,16.500889 H 2.0206556 V 2.08688 H 25.796902 Z"
  ></path>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="0.0673552"
    d="m 9.0652672,14.00639 c 0.5094072,0 0.9228334,-0.413291 0.9228334,-0.922699 V 8.695097 c 0,-0.509475 -0.4134935,-0.922564 -0.9228334,-0.922564 -0.5094747,0 -0.9224293,0.413089 -0.9224293,0.922564 v 4.388527 c 0,0.509475 0.4128873,0.922766 0.9224293,0.922766 z"
  ></path>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="0.0673552"
    d="m 12.294342,14.00639 c 0.509475,0 0.922429,-0.413291 0.922429,-0.922699 V 5.465887 c 0,-0.509474 -0.412954,-0.922429 -0.922429,-0.922429 -0.509609,0 -0.922699,0.412955 -0.922699,0.922429 v 7.617804 c 0,0.509408 0.41309,0.922699 0.922699,0.922699 z"
  ></path>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="0.0673552"
    d="m 15.523215,14.00639 c 0.509609,0 0.922699,-0.413291 0.922699,-0.922699 V 7.403427 c 0,-0.509475 -0.41309,-0.92243 -0.922699,-0.92243 -0.50934,0 -0.922294,0.412955 -0.922294,0.92243 v 5.680264 c -2.7e-4,0.509408 0.412685,0.922699 0.922294,0.922699 z"
  ></path>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="0.0673552"
    d="m 18.752425,14.00639 c 0.50934,0 0.922227,-0.413291 0.922227,-0.922699 V 6.434792 c 0,-0.509475 -0.413022,-0.922564 -0.922227,-0.922564 -0.509475,0 -0.922834,0.413089 -0.922834,0.922564 v 6.648899 c 0,0.509408 0.413359,0.922699 0.922834,0.922699 z"
  ></path>
</svg>
