---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>On Call Phone Icon</title>}
  <path
    stroke-width="0.09"
    d="M 9.7776258,17.078978 C 9.2792704,17.681201 7.9018568,16.107255 6.9711308,14.869102 6.0392483,13.632195 5.1341324,11.728679 5.8717952,11.470431 7.2404047,10.993062 6.4395156,7.7848759 5.3493405,6.2193773 4.2582763,4.6527242 3.1169659,3.5619253 1.4749003,4.705192 1.0630725,4.9924305 -2.6043401,8.6174247 3.4547178,17.317661 c 6.0587015,8.70077 10.7306522,6.518642 11.1422982,6.231936 1.64243,-1.1438 1.015129,-2.592267 -0.07554,-4.159189 -1.090532,-1.565498 -3.821793,-3.429709 -4.7438057,-2.31143 z"
  />
  <path
    stroke-width="0.09"
    d="m 8.8759793,6.8064841 c 0.1396253,0.096587 0.2688304,0.204002 0.3842612,0.3196091 1.0405525,1.0408202 1.0899965,2.7163219 0.1127697,3.8145008 -0.3226329,0.362384 -0.2903534,0.917744 0.072203,1.240377 0.1674531,0.149043 0.3759898,0.222321 0.5837278,0.222321 0.242062,0 0.483148,-0.09942 0.656642,-0.294443 1.595301,-1.792356 1.51516,-4.5267295 -0.182481,-6.2249998 C 10.313067,5.6937125 10.101946,5.5179981 9.8757119,5.3614837 9.4764228,5.0853601 8.9292451,5.1852204 8.6532998,5.5841611 8.3770892,5.9831829 8.4767732,6.5305388 8.8759793,6.8064841 Z"
  />
  <path
    stroke-width="0.09"
    d="m 11.421563,4.1471647 c 0.149671,0.1254684 0.293468,0.2570026 0.4272,0.3906633 2.481478,2.481373 2.539726,6.423755 0.132658,8.975204 -0.332942,0.352956 -0.31684,0.909115 0.03605,1.242063 0.169924,0.160162 0.386491,0.239486 0.602754,0.239486 0.233357,0 0.466431,-0.09248 0.63921,-0.275678 1.468922,-1.557051 2.261813,-3.59476 2.232729,-5.7377598 C 15.463001,6.8336071 14.610262,4.814306 13.091011,3.2951405 12.921087,3.1252772 12.739133,2.9589015 12.550414,2.8006089 12.178525,2.4888256 11.624398,2.5375567 11.312621,2.9094494 11.000844,3.281259 11.049654,3.8353734 11.421583,4.1471566 Z"
  />
  <path
    stroke-width="0.09"
    d="m 15.165178,0.22212389 c -0.362471,-0.32245466 -0.917833,-0.28999492 -1.240466,0.0723848 -0.322531,0.36256201 -0.290086,0.91792001 0.0723,1.24046371 0.159392,0.1418329 0.303595,0.2773691 0.440365,0.4139625 3.863858,3.863769 3.926116,10.2099761 0.138734,14.1466671 -0.336426,0.349666 -0.325671,0.905913 0.0239,1.242331 0.17033,0.163989 0.389874,0.245442 0.609074,0.245442 0.230501,0 0.46084,-0.09027 0.633255,-0.269452 2.1632,-2.24847 3.339099,-5.206501 3.310907,-8.32896 C 19.125097,5.8581459 17.891537,2.9180792 15.679426,0.70606918 15.518211,0.54501603 15.349948,0.38672743 15.164975,0.22211984 Z"
  />
</svg>
