---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
}

const { color, classes, size, accessible, focusable, isListMarker } = Astro.props
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>paper clip icon</title>}
  <path d="m 5.2 21.37 c -0.042 0 -0.084 -0.001 -0.126 -0.003 C 4.292 21.335 3.545 21.001 2.972 20.428 2.399 19.855 2.066 19.109 2.033 18.326 2 17.53 2.281 16.792 2.825 16.248 L 15.389 3.684 C 16.084 2.989 17.029 2.63 18.047 2.672 19.053 2.714 20.012 3.143 20.75 3.88 21.487 4.618 21.916 5.577 21.958 6.583 22 7.602 21.641 8.546 20.946 9.241 L 11.478 18.709 c -0.177 0.176 -0.463 0.177 -0.639 0 -0.177 -0.177 -0.177 -0.463 0 -0.64 L 20.307 8.601 C 20.82 8.088 21.086 7.384 21.054 6.62 21.022 5.842 20.686 5.096 20.11 4.52 19.534 3.943 18.788 3.608 18.01 3.576 17.246 3.544 16.542 3.81 16.028 4.323 L 3.464 16.888 C 2.705 17.647 2.771 18.948 3.612 19.789 4.024 20.201 4.556 20.441 5.112 20.464 5.653 20.485 6.15 20.299 6.513 19.936 L 16.728 9.721 C 17.176 9.274 17.131 8.502 16.63 8 16.382 7.752 16.062 7.608 15.73 7.594 15.411 7.581 15.12 7.69 14.909 7.902 L 7.79 15.021 c -0.177 0.176 -0.463 0.177 -0.639 0 -0.177 -0.177 -0.177 -0.463 0 -0.639 L 14.269 7.262 C 14.662 6.87 15.193 6.666 15.768 6.691 16.327 6.714 16.861 6.952 17.269 7.361 18.124 8.215 18.168 9.561 17.368 10.361 L 7.152 20.576 C 6.637 21.091 5.948 21.37 5.2 21.37 Z"/>
</svg>
