---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={[
    'shrink-0',
    `w-${size} h-${size}`,
    `text-${color}`,
    classes,
    isListMarker ? 'mt-0.5' : '',
  ]}
  fill="currentColor"
  stroke="none"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? 'false' : 'true'}
  focusable={focusable ? 'true' : 'false'}
>
  {accessible && <title>Platform Engineering Icon</title>}
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="0.765242"
    d="m 21.784252,12.99433 c -0.153048,-0.229572 -0.38262,-0.38262 -0.688717,-0.38262 -1.683531,0 -3.290539,0.765241 -4.285353,2.142676 l -0.688717,0.91829 c -0.841766,0.994814 -2.142676,1.530483 -3.443587,1.530483 h -2.295725 c -0.4591454,0 -0.7652414,-0.306097 -0.7652414,-0.765242 0,-0.459144 0.306096,-0.765241 0.7652414,-0.765241 h 1.453959 c 1.224387,0 2.372249,-0.994814 2.372249,-2.219201 0,0 0,-0.07652 0,-0.07652 0,-0.382621 -0.382621,-0.765241 -0.765242,-0.765241 H 8.7751456 c -2.7548696,0 -4.9740701,1.224386 -6.1984566,3.214014 l -2.06615216,3.214015 c -0.1530483,0.229572 -0.1530483,0.535669 0,0.765241 l 2.29572466,3.826208 c 0.076524,0.153048 0.3060966,0.306097 0.4591449,0.382621 0.076524,0 0.076524,0 0.1530483,0 0.1530483,0 0.3060966,-0.07652 0.459145,-0.153049 2.9079178,-1.913103 6.2749813,-2.907917 9.7185683,-2.907917 2.525297,0 4.821021,-1.377435 6.045408,-3.596636 l 2.066152,-3.673159 c 0.153048,-0.153048 0.153048,-0.459145 0.07652,-0.688718 z"
  ></path>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="0.765242"
    d="m 1.549616,13.376951 c 0.076524,0 0.2295724,0 0.3060966,0 0.9182898,-0.841765 2.0661522,-1.453959 3.2905386,-1.836579 -0.076524,-0.382621 -0.1530483,-0.841766 -0.1530483,-1.224387 0,-3.3670533 2.7548701,-6.1219229 6.1219321,-6.1219229 3.367063,0 6.121933,2.7548696 6.121933,6.1219229 0,0.535669 -0.07652,1.071338 -0.229573,1.607007 0.994814,-0.535669 2.142677,-0.841765 3.290539,-0.841765 0.535669,0 1.071338,0.229572 1.453959,0.535669 0.07652,-0.459145 0.07652,-0.841766 0.07652,-1.300911 0,-0.8417562 -0.07652,-1.6835219 -0.306097,-2.5252876 C 21.445896,7.4080766 21.063275,7.1785042 20.680655,7.1785042 19.762365,7.3315525 18.844075,6.8724076 18.38493,6.0306419 17.925785,5.2654003 18.002309,4.1940621 18.537978,3.5053447 18.767551,3.1992481 18.767551,2.7401032 18.461454,2.5105307 17.237068,1.3626684 15.783109,0.52090198 14.176102,0.06175701 13.793481,-0.01476714 13.41086,0.13828117 13.257812,0.52090198 12.875191,1.3626684 12.033425,1.8983375 11.115135,1.8983375 10.196845,1.8983375 9.35508,1.3626684 8.972459,0.52090198 8.819411,0.13828117 8.43679,-0.0912913 8.054169,0.06175701 6.4471619,0.52090198 4.9932029,1.3626684 3.7688164,2.5870549 3.4627198,2.8166273 3.4627198,3.2757723 3.6922923,3.5818689 4.2279614,4.3471104 4.3044855,5.3419245 3.8453406,6.107166 3.3861957,6.8724076 2.4679058,7.3315525 1.549616,7.2550283 1.1669952,7.1785042 0.78437439,7.4846008 0.70785019,7.8672216 c -0.2295724,0.7652415 -0.3060966,1.6070072 -0.3060966,2.4487634 0,0.841766 0.076524,1.683531 0.3060966,2.525297 0.076524,0.382621 0.45914501,0.612193 0.84176581,0.535669 z"
  ></path>
</svg>
