---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="none"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>Print Icon</title>}
  <g transform="matrix(0.046875,0,0,0.046875,0,2.34375e-5)">
    <path
      d="m 105.037,367.926 v 0 l -0.24,0.001 v 80.383 c 0,8.592 6.967,15.556 15.559,15.556 h 271.289 c 8.592,0 15.559,-6.965 15.559,-15.556 V 367.927 H 106.275 Z"
    />
    <rect
      x="136.203"
      y="108.761"
      width="239.17999"
      height="15.99"
    />
    <polygon
      points="136.443,156.732 136.203,156.732 136.203,173.386 375.383,173.386 375.383,156.732 137.422,156.732 136.443,156.731 "
    />
    <path
      d="M 431.846,207.957 V 48.134 H 81.836 l -1.442,-10e-4 v 10e-4 h -0.24 V 207.956 H 0 v 191.951 h 80.277 v -63.959 h 350.244 l 1.201,0.001 v 63.958 H 512 V 207.957 Z M 176,268.134 c 0,11.045 -8.953,20 -20,20 -11.047,0 -20,-8.955 -20,-20 0,-11.047 8.953,-20 20,-20 11.047,0 20,8.953 20,20 z m -64,0 c 0,11.045 -8.953,20 -20,20 -11.047,0 -20,-8.955 -20,-20 0,-11.047 8.953,-20 20,-20 11.047,0 20,8.953 20,20 z M 112.135,204.7 V 80.115 h 287.73 V 204.701 H 113.074 Z"
    />
  </g>
</svg>
