---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
}

const { color, classes, size, accessible, focusable, isListMarker } = Astro.props
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>question icon</title>}
  <path
     fill-rule="evenodd"
     clip-rule="evenodd"
     d="m 10.623682,7.725135 c -0.258114,0.1939027 -0.42969,0.4716598 -0.42969,0.9282417 0,0.5773958 -0.4680545,1.0454458 -1.0454505,1.0454458 -0.577395,0 -1.0454454,-0.4680819 -1.0454454,-1.0454458 0,-1.1116028 0.4790074,-2.0098806 1.2650634,-2.6001819 C 10.119464,5.48896 11.07921,5.2556377 12.023583,5.2556377 c 1.126905,0 2.077315,0.3389306 2.763769,0.9879459 0.681121,0.644032 1.004686,1.5014528 1.055381,2.3580431 0.09967,1.6766093 -0.824965,3.5213103 -2.516423,4.4878303 -0.153653,0.08785 -0.248847,0.160042 -0.306667,0.211792 0.130972,0.410646 -0.0021,0.876811 -0.36538,1.151661 -0.460415,0.34845 -1.116011,0.257472 -1.464461,-0.202847 0,0 5.2e-4,7.35e-4 -0.0011,-0.0013 l -0.0012,-0.0014 c -0.250764,-0.337366 -0.35075,-0.779604 -0.299959,-1.194116 0.08753,-0.712488 0.584392,-1.312469 1.401116,-1.77905 1.005515,-0.57468 1.518638,-1.670321 1.466569,-2.5487293 -0.02498,-0.4209639 -0.174416,-0.7447208 -0.4048,-0.9625181 -0.225208,-0.21275 -0.624546,-0.4163319 -1.327196,-0.4163319 -0.629273,0 -1.107035,0.1587639 -1.399869,0.3785736 z"
    style="stroke-width:1.0455" />
  <path
     d="m 12.023545,18.846555 c 0.866046,0 1.568185,-0.702139 1.568185,-1.568185 0,-0.866045 -0.702139,-1.568184 -1.568185,-1.568184 -0.866046,0 -1.568186,0.702139 -1.568186,1.568184 0,0.866046 0.70214,1.568185 1.568186,1.568185 z"
    style="stroke-width:1.0455" />
  <path
     fill-rule="evenodd"
     clip-rule="evenodd"
     d="m 0.52353607,12.0511 c 0,-6.3512811 5.14872833,-11.5000094 11.50000893,-11.5000094 6.351242,0 11.5,5.1487283 11.5,11.5000094 0,6.351242 -5.148758,11.5 -11.5,11.5 -6.3512806,0 -11.50000893,-5.148758 -11.50000893,-11.5 z M 12.023545,2.6419977 c -5.1965049,0 -9.4091018,4.2125969 -9.4091018,9.4091023 0,5.196537 4.2125969,9.409092 9.4091018,9.409092 5.196537,0 9.409092,-4.212555 9.409092,-9.409092 0,-5.1965054 -4.212555,-9.4091023 -9.409092,-9.4091023 z"
    style="stroke-width:1.0455" />
</svg>
