---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>reddit icon</title>}
  <path
     d="M 12,0.47999999 A 11.52,11.52 0 0 0 0.47999999,12 11.52,11.52 0 0 0 12,23.52 11.52,11.52 0 0 0 23.52,12 11.52,11.52 0 0 0 12,0.47999999 Z M 16.8096,5.03424 c 0.66048,0 1.2,0.53856 1.2,1.19904 A 1.2,1.2 0 0 1 15.61152,6.28704 L 13.1184,5.76192 12.3504,9.35904 c 1.75104,0.0672 3.3408,0.60672 4.48704,1.42848 0.29568,-0.29664 0.7008,-0.47136 1.15872,-0.47136 0.92928,0 1.68384,0.75456 1.68384,1.68384 0,0.68736 -0.4176,1.27968 -0.9696,1.54944 a 2.98656,2.98656 0 0 1 0.04032,0.4992 c 0,2.58624 -3.0048,4.6752 -6.72384,4.6752 -3.71904,0 -6.72384,-2.08896 -6.72384,-4.6752 0,-0.17568 0.0144,-0.35136 0.04128,-0.51264 A 1.67808,1.67808 0 0 1 4.34688,12 c 0,-0.92928 0.75456,-1.68384 1.68384,-1.68384 0.44448,0 0.86208,0.18816 1.15872,0.4704 1.15872,-0.84768 2.76288,-1.3728 4.55424,-1.42752 l 0.8496,-4.01472 A 0.32832,0.32832 0 0 1 12.72768,5.1552 0.336,0.336 0 0 1 12.95616,5.11488 L 15.74592,5.7072 A 1.16544,1.16544 0 0 1 16.8096,5.03424 Z M 9.36,12 c -0.66144,0 -1.2,0.53952 -1.2,1.2 0,0.65952 0.53856,1.19808 1.2,1.19808 0.65952,0 1.19808,-0.53856 1.19808,-1.19904 C 10.55808,12.53856 10.01952,12 9.35904,12 Z m 5.28,0 c -0.65952,0 -1.19808,0.53856 -1.19808,1.2 0,0.65952 0.53856,1.19808 1.19904,1.19808 0.66048,0 1.19904,-0.53856 1.19904,-1.19904 C 15.84,12.53952 15.30048,12 14.64,12 Z m -5.24736,3.8304 a 0.31392,0.31392 0 0 0 -0.22176,0.09024 0.3168,0.3168 0 0 0 0,0.44448 c 0.80832,0.80832 2.38464,0.87648 2.84256,0.87648 0.45792,0 2.0208,-0.05376 2.84256,-0.87648 a 0.34656,0.34656 0 0 0 0.02784,-0.44448 0.3168,0.3168 0 0 0 -0.44544,0 c -0.52512,0.51168 -1.61664,0.7008 -2.41152,0.7008 -0.79488,0 -1.89984,-0.18816 -2.41152,-0.7008 a 0.31296,0.31296 0 0 0 -0.22272,-0.0912 z"
     style="stroke-width:0.96" />
</svg>
