---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
}

const { color, classes, size, accessible, focusable, isListMarker } = Astro.props
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>sun icon</title>}
  <path
     fill-rule="evenodd"
     clip-rule="evenodd"
     d="m 7.395981,12.0511 c 0,-2.5405198 2.0594902,-4.60001 4.600009,-4.60001 2.540477,0 4.6,2.0594902 4.6,4.60001 0,2.540477 -2.059523,4.6 -4.6,4.6 -2.5405188,0 -4.600009,-2.059523 -4.600009,-4.6 z"
     style="stroke-width:1.15" />
  <path
     fill-rule="evenodd"
     clip-rule="evenodd"
     d="m 11.99599,0.5510906 c 0.635152,0 1.15,0.5148805 1.15,1.1499994 v 2.3 c 0,0.6351194 -0.514848,1.15 -1.15,1.15 -0.635152,0 -1.15,-0.5148806 -1.15,-1.15 v -2.3 c 0,-0.6351221 0.514855,-1.1499994 1.15,-1.1499994 z"
     style="stroke-width:1.15" />
  <path
     fill-rule="evenodd"
     clip-rule="evenodd"
     d="m 20.859155,3.1879123 c 0.449075,0.4491069 0.449075,1.1772485 0,1.6263554 l -2.3,2.3 c -0.449075,0.4491071 -1.177248,0.4491071 -1.626323,0 -0.449075,-0.4491069 -0.449075,-1.1772485 0,-1.6263554 l 2.3,-2.3 c 0.449075,-0.4491071 1.177248,-0.4491071 1.626323,0 z"
     style="stroke-width:1.15" />
  <path
     fill-rule="evenodd"
     clip-rule="evenodd"
     d="m 18.89599,12.0511 c 0,-0.635152 0.514848,-1.15 1.15,-1.15 h 2.3 c 0.635152,0 1.15,0.514848 1.15,1.15 0,0.635152 -0.514848,1.15 -1.15,1.15 h -2.3 c -0.635152,0 -1.15,-0.514848 -1.15,-1.15 z"
     style="stroke-width:1.15" />
  <path
     fill-rule="evenodd"
     clip-rule="evenodd"
     d="m 16.932825,16.987935 c 0.449075,-0.449075 1.177248,-0.449075 1.626323,0 l 2.3,2.3 c 0.449075,0.449075 0.449075,1.177248 0,1.626323 -0.449075,0.449075 -1.177248,0.449075 -1.626323,0 l -2.3,-2.3 c -0.449075,-0.449075 -0.449075,-1.177248 0,-1.626323 z"
     style="stroke-width:1.15" />
  <path
     fill-rule="evenodd"
     clip-rule="evenodd"
     d="m 11.99599,18.9511 c 0.635152,0 1.15,0.514848 1.15,1.15 v 2.3 c 0,0.635152 -0.514848,1.15 -1.15,1.15 -0.635152,0 -1.15,-0.514848 -1.15,-1.15 v -2.3 c 0,-0.635152 0.514848,-1.15 1.15,-1.15 z"
     style="stroke-width:1.15" />
  <path
     fill-rule="evenodd"
     clip-rule="evenodd"
     d="m 7.0591587,16.987935 c 0.4491071,0.449075 0.4491071,1.177248 0,1.626323 l -2.3,2.3 c -0.4491069,0.449075 -1.1772485,0.449075 -1.6263554,0 -0.4491071,-0.449075 -0.4491071,-1.177248 0,-1.626323 l 2.3,-2.3 c 0.4491069,-0.449075 1.1772485,-0.449075 1.6263554,0 z"
     style="stroke-width:1.15" />
  <path
     fill-rule="evenodd"
     clip-rule="evenodd"
     d="m 0.49598154,12.0511 c 0,-0.635145 0.51487736,-1.15 1.14999946,-1.15 h 2.3 c 0.6351194,0 1.15,0.514848 1.15,1.15 0,0.635152 -0.5148806,1.15 -1.15,1.15 h -2.3 c -0.6351221,0 -1.14999946,-0.514855 -1.14999946,-1.15 z"
     style="stroke-width:1.15" />
  <path
     fill-rule="evenodd"
     clip-rule="evenodd"
     d="m 3.1328033,3.1879123 c 0.4491069,-0.4491071 1.1772485,-0.4491071 1.6263554,0 l 2.3,2.3 c 0.4491071,0.4491069 0.4491071,1.1772485 0,1.6263554 -0.4491069,0.4491071 -1.1772485,0.4491071 -1.6263554,0 l -2.3,-2.3 c -0.4491071,-0.4491069 -0.4491071,-1.1772485 0,-1.6263554 z"
     style="stroke-width:1.15" />
</svg>
