---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
}

const { color, classes, size, accessible, focusable, isListMarker } = Astro.props
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>sun icon</title>}
  <g transform="matrix(.66667 0 0 .66667 1.333 1.333)">
    <path d="M32 14h-4.967c-2 1.769-.779 4 .967 4h4.967c1.999-1.769.779-4-.967-4"/>
    <g fill="none" stroke-miterlimit="10">
      <path d="M17.172 10.111a6 6 0 1 0 4.715 4.715 6.01 6.01 0 0 0-4.715-4.715"/>
      <path fill="#040505" d="M15.999 14c-.599 0-1.161.265-1.544.726-.274.331-.568.896-.415 1.706.139.731.796 1.388 1.528 1.527q.219.04.43.041c.598 0 1.16-.265 1.542-.726.275-.331.57-.896.417-1.703-.139-.734-.796-1.391-1.529-1.53a2.3 2.3 0 0 0-.43-.041m0-4q.577 0 1.174.111c2.349.445 4.27 2.366 4.715 4.715A6.006 6.006 0 0 1 15.997 22q-.576 0-1.173-.111c-2.348-.445-4.27-2.366-4.714-4.714A6.005 6.005 0 0 1 15.999 10"/>
    </g>
    <rect width="8" height="4" fill="#040505" data-name="Rectangle 26" rx="1.993" transform="translate(26 14)"/>
    <rect width="8" height="4" fill="#040505" data-name="Rectangle 27" rx="1.993" transform="rotate(90 -4 22)"/>
    <rect width="8" height="4" fill="#040505" data-name="Rectangle 28" rx="1.993" transform="rotate(90 10 8)"/>
    <rect width="8" height="4" fill="#040505" data-name="Rectangle 29" rx="1.993" transform="translate(-2 14)"/>
    <rect width="6.925" height="3.766" fill="#040505" data-name="Rectangle 30" rx="1.883" transform="rotate(-45 18.994 -24.97)"/>
    <rect width="3.766" height="6.925" fill="#040505" data-name="Rectangle 31" rx="1.883" transform="rotate(-45 42.86 -15.08)"/>
    <rect width="3.766" height="6.925" fill="#040505" data-name="Rectangle 32" rx="1.883" transform="rotate(-45 5.297 .469)"/>
    <rect width="6.925" height="3.766" fill="#040505" data-name="Rectangle 33" rx="1.883" transform="rotate(-45 34.55 12.586)"/>
  </g>
</svg>
