---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={[
    'shrink-0',
    `w-${size} h-${size}`,
    `text-${color}`,
    classes,
    isListMarker ? 'mt-0.5' : '',
  ]}
  fill="currentColor"
  stroke="none"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? 'false' : 'true'}
  focusable={focusable ? 'true' : 'false'}
>
  {accessible && <title>System Modernization Icon</title>}
  <path
    stroke-width="2"
    d="m 11.962823,3.8884207 0.1128,-0.1306534 3.1388,-3.14241386 c 0.2388,-0.36469386 0.672534,-0.59124088 1.1472,-0.59124088 0.430667,0 0.825067,0.18589358 1.0732,0.49053402 l 0.0075,0.00905 0.06053,0.086067 3.144667,3.14800052 0.112667,0.1306534 0.0073,0.00988 c 0.344667,0.46452 0.348933,1.1009333 0.0128,1.5696533 l -0.008,0.01112 -0.131867,0.15536 -0.141066,0.1217333 -0.0099,0.00733 c -0.464533,0.3446666 -1.100933,0.3488666 -1.5696,0.01276 l -0.0112,-0.00797 -0.146,-0.124 -1.068933,-1.06884 v 4.2532214 l -0.0112,0.1443305 -0.0019,0.012709 c -0.09593,0.6187625 -0.681264,1.038355 -1.320331,1.038355 -0.6392,0 -1.224267,-0.4198595 -1.320133,-1.038662 l -0.002,-0.012709 -0.01107,-0.1442745 V 4.5762073 l -1.065733,1.06704 -0.1308,0.11292 -0.0099,0.00733 c -0.522267,0.38748 -1.2628,0.34476 -1.7364,-0.1288134 C 11.61069,5.161114 11.568023,4.4205273 11.95549,3.8983007 Z"
  ></path>
  <path
    stroke-width="2"
    d="m 0.02715316,4.6803673 c 0,-1.8409466 1.49238814,-3.3333333 3.33333474,-3.3333333 H 8.693781 c 0.7363865,0 1.333309,0.5969467 1.333309,1.3333333 0,0.7363734 -0.5969225,1.3333334 -1.333309,1.3333334 H 3.3604879 c -0.3681866,0 -0.6666666,0.2984666 -0.6666666,0.6666666 V 19.346993 c 0,0.368134 0.29848,0.666667 0.6666666,0.666667 H 8.693781 c 0.7363865,0 1.333309,0.596933 1.333309,1.333333 0,0.7364 -0.5969225,1.333334 -1.333309,1.333334 H 3.3604879 c -1.8409466,0 -3.33333474,-1.4924 -3.33333474,-3.333334 z"
  ></path>
  <path
    stroke-width="2"
    d="m 13.96389,18.40486 -0.1308,-0.1128 -0.0099,-0.0073 c -0.522266,-0.387467 -1.2628,-0.3448 -1.7364,0.1288 -0.520666,0.520666 -0.520533,1.364933 0,1.8856 l 3.130134,3.133733 c 0.2388,0.364667 0.672533,0.5912 1.1472,0.5912 0.4748,0 0.908666,-0.2268 1.147333,-0.591733 l 3.138533,-3.141867 0.1128,-0.130667 0.0073,-0.0099 c 0.387466,-0.522267 0.344666,-1.2628 -0.1288,-1.7364 l -0.0087,-0.0087 -0.1308,-0.1128 -0.0099,-0.0073 c -0.522133,-0.387467 -1.2628,-0.3448 -1.7364,0.1288 l -1.059333,1.0592 v -4.2532 l -0.01107,-0.1444 -0.002,-0.01267 c -0.09586,-0.618796 -0.681064,-1.038396 -1.320264,-1.038396 -0.6932,0 -1.3332,0.5008 -1.3332,1.208533 v 4.239334 z"
  ></path>
</svg>
