---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={[
    'shrink-0',
    `w-${size} h-${size}`,
    `text-${color}`,
    classes,
    isListMarker ? 'mt-0.5' : '',
  ]}
  fill="none"
  stroke="currentColor"
  viewBox="0 0 29.998249 24"
  aria-hidden={accessible ? 'false' : 'true'}
  focusable={focusable ? 'true' : 'false'}
>
  {accessible && <title>Systems and Development Icon</title>}
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="3"
    d="m 1.5030639,6.3016631 c 0,-1.6796745 0,-2.5195044 0.3268896,-3.1610472 C 2.1174796,2.5762857 2.5762857,2.1174796 3.1406159,1.8299535 3.7821587,1.5030639 4.6220035,1.5030639 6.3016633,1.5030639 H 23.696586 c 1.67966,0 2.519565,0 3.161077,0.3268896 0.564286,0.2875261 1.023152,0.7463322 1.310618,1.3106624 0.326904,0.6415428 0.326904,1.4813727 0.326904,3.1610472 V 17.698337 c 0,1.679659 0,2.519564 -0.326904,3.161077 -0.287466,0.564285 -0.746332,1.023151 -1.310618,1.310618 -0.641512,0.326904 -1.481417,0.326904 -3.161077,0.326904 H 6.3016633 c -1.6796747,0 -2.5195046,0 -3.1610474,-0.326904 C 2.5762857,21.882565 2.1174796,21.423699 1.8299535,20.859414 1.5030639,20.217901 1.5030639,19.377996 1.5030639,17.698337 Z"
  ></path>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="M 12,7.501313 7.501313,12 12,16.498687 M 17.998249,7.501313 22.496936,12 17.998249,16.498687"
  ></path>
</svg>
