---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>table of contents</title>}
  <circle style="stroke-width:0.96" cx="2.3999999" cy="2.3999999" r="1.92" />
  <circle style="stroke-width:0.96" cx="2.3999999" cy="8.1599998" r="1.92" />
  <circle style="stroke-width:0.96" cx="2.3999999" cy="19.68" r="1.92" />
  <circle style="stroke-width:0.96" cx="2.3999999" cy="13.92" r="1.92" />
  <path style="stroke-width:0.96" d="M 22.56192,3.36 H 8.15808 C 7.63008,3.36 7.2,2.928 7.2,2.40192 V 2.39808 C 7.2,1.87008 7.632,1.44 8.15808,1.44 H 22.56 c 0.528,0 0.96,0.432 0.96,0.95808 V 2.4 c 0,0.528 -0.432,0.96 -0.95808,0.96 z m 0,5.76 H 8.15808 C 7.63008,9.12 7.2,8.688 7.2,8.16192 V 8.15808 C 7.2,7.63008 7.632,7.2 8.15808,7.2 H 22.56 c 0.528,0 0.96,0.432 0.96,0.95808 V 8.16 c 0,0.528 -0.432,0.96 -0.95808,0.96 z m 0,5.76 H 8.15808 C 7.63008,14.88 7.2,14.448 7.2,13.92192 V 13.92 c 0,-0.528 0.432,-0.96 0.95808,-0.96 H 22.56 c 0.528,0 0.96,0.432 0.96,0.95808 V 13.92 c 0,0.528 -0.432,0.96 -0.95808,0.96 z m 0,5.76 H 8.15808 C 7.63008,20.64 7.2,20.208 7.2,19.68192 V 19.68 c 0,-0.528 0.432,-0.96 0.95808,-0.96 H 22.56 c 0.528,0 0.96,0.432 0.96,0.95808 V 19.68 c 0,0.528 -0.432,0.96 -0.95808,0.96 z" />
</svg>
