---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={[
    'shrink-0',
    `w-${size + 5.422} h-${size}`,
    `text-${color}`,
    classes,
    isListMarker ? 'mt-0.5' : '',
  ]}
  fill="currentColor"
  stroke="none"
  viewBox="0 0 24 29.422"
  aria-hidden={accessible ? 'false' : 'true'}
  focusable={focusable ? 'true' : 'false'}
>
  {accessible && <title>Telephone Icon</title>}
  <g transform="translate(0,2.2115455)">
    <path
      d="M 12.000023,0 C 5.9560899,0 0,2.364755 0,5.0800881 c 0,2.331661 0,2.546911 0,2.5614431 0,0.6172512 0.50015724,1.1174079 1.1174085,1.1174079 h 4.2469771 c 0.6172512,0 1.1173615,-0.5001567 1.1173615,-1.1174079 V 5.7142141 c 0,-0.562501 0.4185946,-1.037439 0.9764082,-1.108455 0,0 1.5290189,-0.314063 4.5418677,-0.314063 3.01285,0 4.541822,0.314063 4.541822,0.314063 0.557861,0.070969 0.976408,0.545954 0.976408,1.108455 v 1.927363 c 0,0.6172518 0.500157,1.1174093 1.117362,1.1174093 h 4.246977 C 23.499843,8.7589864 24,8.2588289 24,7.6415771 24,7.6269988 24,7.4117491 24,5.0801351 24.000047,2.364755 18.044005,0 12.000023,0 Z"
    ></path>
    <path
      d="m 16.335924,7.6415771 v -1.870925 l -0.0322,-0.0067 c -0.01158,-0.0023 -1.47891,-0.289876 -4.303697,-0.289876 -2.8247863,0 -4.2920702,0.287532 -4.3066953,0.290532 l -0.029156,0.006 v 1.8709654 c 0,1.2683003 -1.0318145,2.299786 -2.2997857,2.299786 H 2.408911 v 6.6558875 c 0,1.645739 1.3339713,2.979662 2.9793809,2.979662 H 18.611756 c 1.645409,0 2.97938,-1.333971 2.97938,-2.979662 V 9.9413661 h -2.955475 c -1.26797,0 -2.299737,-1.0314857 -2.299737,-2.299786 z m -0.817597,7.4018119 v 1.590003 h -1.589675 v -1.590003 z m 0,-2.51438 v 1.59005 h -1.589675 v -1.59005 z m 0,-2.514005 v 1.589675 h -1.589675 v -1.589675 z m -2.723301,5.028385 v 1.590003 h -1.589675 v -1.590003 z m 0,-2.51438 v 1.59005 h -1.589675 v -1.59005 z m -1.589675,-0.92433 v -1.589675 h 1.589675 v 1.589675 z m -1.133628,3.43871 v 1.590003 H 8.4820481 v -1.590003 z m 0,-2.51438 v 1.59005 H 8.4820481 v -1.59005 z m 0,-2.514005 v 1.589675 H 8.4820481 v -1.589675 z"
    ></path>
  </g>
</svg>
