---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={[
    'shrink-0',
    `w-${size} h-${size}`,
    `text-${color}`,
    classes,
    isListMarker ? 'mt-0.5' : '',
  ]}
  fill="currentColor"
  stroke="none"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? 'false' : 'true'}
  focusable={focusable ? 'true' : 'false'}
>
  {accessible && <title>Turtle Icon</title>}
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="m 17.443099,6.7651333 v 0.019371 L 18.895884,5.5641648 C 17.791767,4.9733658 16.581114,4.644068 15.263922,4.644068 c -1.317191,0 -2.53753,0.3292978 -3.59322,0.9007264 l 1.452785,1.2203389 z M 9.7046004,12.915255 c -2.3922515,0 -4.3583537,1.966101 -4.3583537,4.358353 v 0.435835 0 c 0.019371,0.920097 0.7651335,1.646489 1.68523,1.646489 0.9200972,0 1.6658599,-0.726392 1.6852306,-1.646489 v 0 -0.435835 c 0,-0.552058 0.4358353,-0.978208 0.9782078,-0.978208 0.9394669,0 1.7046009,-0.765134 1.7046009,-1.704601 0,-0.939467 -0.755449,-1.675544 -1.6949156,-1.675544 z m 11.3123486,-0.03874 c -0.939467,0 -1.704601,0.765134 -1.704601,1.704601 v 3.138014 0 c 0.03874,0.900727 0.765134,1.627119 1.685231,1.627119 0.920096,0 1.646489,-0.726392 1.68523,-1.627119 v 0 -3.16707 c 0.01937,-0.929782 -0.745763,-1.675545 -1.66586,-1.675545 z M 24,13.757871 c 0,-0.416464 -0.135593,-0.823244 -0.329298,-1.162227 -0.213075,0.154964 -0.455206,0.251815 -0.745763,0.251815 0.397095,0.474577 0.62954,1.065376 0.62954,1.704601 v 0.532688 C 23.864407,14.716709 24,14.251818 24,13.757871 Z m -11.719128,0.842614 c 0,0.552057 -0.174335,1.036319 -0.455206,1.452784 1.123486,0.251816 2.276029,0.397094 3.457627,0.397094 1.104116,0 2.140436,-0.116222 3.16707,-0.329297 v -1.549637 c 0,-0.62954 0.232446,-1.220339 0.61017,-1.64649 h -7.409201 c 0.368039,0.455206 0.62954,1.026635 0.62954,1.675546 z m -0.648911,-1.66586 v 0 c 0.01937,0 0,-0.01937 0,-0.01937 z m 11.699758,-1.336562 c 0,-0.232445 -0.193705,-0.455205 -0.435835,-0.455205 h -0.05811 C 22.508474,9.0411623 21.346247,7.2106539 19.670702,6.0581117 l -1.7046,1.4334137 c 0.939467,1.1041163 1.588377,2.3341409 1.966101,3.6707026 H 19.012107 C 18.595641,9.9031482 17.90799,8.6828088 16.929782,7.6852304 H 13.743341 C 12.765133,8.7021795 12.096853,9.8837775 11.661017,11.162228 H 10.74092 C 11.118644,9.8644069 11.738498,8.6440682 12.668281,7.5883779 L 10.876513,6.0774823 C 9.2300244,7.2590798 8.0290557,9.0605329 7.7094429,11.162228 H 7.5932204 c -0.2324456,0 -0.4358353,0.193705 -0.4358353,0.435835 0,0.232445 0.1937044,0.435836 0.4358353,0.435836 H 22.876513 c 0.261501,0 0.455206,-0.203391 0.455206,-0.435836 z M 7.4285714,12.556901 C 6.9539948,12.498789 6.5665861,12.101695 6.5665861,11.598063 v -0.861985 c 0,-1.8111382 -1.452785,-3.2832932 -3.2832934,-3.2832932 C 1.472155,7.4527848 0,8.9055691 0,10.736078 v 0.861985 c 0,0.474576 0.3970944,0.861986 0.8619855,0.861986 h 2.3728813 c 0.213075,1.104116 0.8232447,2.004842 1.7046006,2.653753 0.5036318,-1.123487 1.3849877,-2.004843 2.489104,-2.556901 z m -5.559322,-2.430993 c -0.2905569,0 -0.5520581,-0.2324451 -0.5520581,-0.5520579 0,-0.2905569 0.2324455,-0.5520585 0.5520581,-0.5520585 0.3196125,0 0.5520581,0.2324457 0.5520581,0.5520585 -0.00969,0.3099274 -0.2421307,0.5520579 -0.5520581,0.5520579 z"
  ></path>
</svg>
