---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
  id?: string
}

const { color, classes, size, accessible, focusable, isListMarker, id } = Astro.props
---

<svg
  id={id}
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="none"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>warning icon</title>}
  <path style="stroke-width:0.7898" d="M 23.381097,17.548463 13.49365,0.61841252 c -0.82455,-0.82455003 -2.162451,-0.82455003 -2.987006,0 L 0.61840877,17.548463 c -0.82454503,0.82375 -0.82454503,2.160875 0,2.986215 H 23.380307 c 0.826125,-0.825325 0.826125,-2.16245 7.9e-4,-2.986215 z M 11.089514,6.6958853 c 0,-0.6547501 0.53075,-1.1847001 1.1847,-1.1847001 0.653951,0 1.184701,0.52995 1.184701,1.1847001 v 5.5285677 c 0,0.65395 -0.53075,1.1847 -1.184701,1.1847 -0.65395,0 -1.1847,-0.53075 -1.1847,-1.1847 z m 1.1918,10.6685557 c -0.65395,0 -1.1847,-0.52915 -1.1847,-1.1847 0,-0.65395 0.53075,-1.1847 1.1847,-1.1847 0.653951,0 1.184701,0.53075 1.184701,1.1847 0,0.655525 -0.53075,1.1847 -1.184701,1.1847 z" />
</svg>
