---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
}

const { color, classes, size, accessible, focusable, isListMarker } = Astro.props
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="none"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>wrench icon</title>}
  <path style="stroke-width:0.447763" d="m 1.1928772,22.818537 c 1.653633,1.653633 3.9386116,1.563409 5.7325288,-0.220478 1.4331099,-1.43311 4.409613,-6.494174 6.995264,-9.079825 1.723753,-1.723753 3.62791,-0.811749 5.542141,-1.593454 L 17.759028,5.71122 C 17.54858,4.9395455 17.859234,4.2981699 18.751226,4.0576318 L 22.5093,3.0554489 C 22.38903,2.7046715 22.058357,2.2235951 21.647491,1.802698 19.332467,-0.51299723 15.504094,-0.6025498 13.219116,1.5621789 9.8918796,4.7391269 12.417351,8.096408 10.222597,10.291208 7.4665722,13.047232 3.4578409,14.991463 1.4133556,17.076023 -0.38056152,18.87997 -0.48077089,21.144889 1.1928772,22.818537 Z M 13.650087,7.6254063 c -0.220479,0.060135 -0.400927,-0.050105 -0.481076,-0.2906429 -0.06014,-0.1803589 0.07016,-0.4008373 0.280613,-0.4610166 l 2.335128,-0.6313457 c 0.190389,-0.050105 0.410867,0.07012 0.471002,0.280613 0.06014,0.2305084 -0.07016,0.430927 -0.280613,0.4910615 z m 6.92519,3.8183417 c 0.380733,-0.230507 0.78157,-0.53118 1.192482,-0.922033 1.262871,-1.1424664 1.914142,-2.866219 1.653678,-4.0888803 l -3.036638,0.8317642 c -0.340702,0.090224 -0.621316,0.1102389 -0.942093,0.060179 z M 13.950716,8.8179778 c -0.220479,0.06018 -0.410868,-0.050059 -0.491062,-0.290598 -0.06014,-0.1804037 0.07011,-0.4008821 0.280613,-0.4509868 L 16.07535,7.4350175 c 0.190433,-0.04012 0.410912,0.07012 0.471047,0.280613 0.07011,0.2304635 -0.07016,0.430927 -0.280614,0.4910168 z m 0.290642,1.1926162 c -0.210494,0.06014 -0.420897,-0.050103 -0.471047,-0.2806127 -0.0501,-0.2104486 0.07016,-0.4008373 0.280614,-0.4609719 l 2.325098,-0.6213605 c 0.220478,-0.070165 0.430927,0.060089 0.481031,0.2605532 0.04011,0.2004634 -0.08015,0.4209419 -0.270583,0.4710465 z M 2.7663158,21.255173 c -0.6814949,-0.68154 -0.6915249,-1.824007 -0.02006,-2.505502 0.6814951,-0.701511 1.8139769,-0.671465 2.515487,-0.01006 0.7216147,0.681495 0.6514502,1.803947 -0.00999,2.515532 -0.6313904,0.69148 -1.8139768,0.67142 -2.4854421,0 z" />
</svg>
