---
export type Props = {
  color: string
  classes?: string
  size: number
  accessible: boolean
  focusable: boolean
  isListMarker?: boolean
}

const { color, classes, size, accessible, focusable, isListMarker } = Astro.props
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  class:list={["shrink-0", `w-${size} h-${size}`, `text-${color}`, classes, isListMarker ? "mt-0.5" : ""]}
  fill="currentColor"
  stroke="currentColor"
  viewBox="0 0 24 24"
  aria-hidden={accessible ? "false" : "true"}
  focusable={focusable ? "true" : "false"}
>
  {accessible && <title>x icon</title>}
  <path style="stroke-width:0.08" d="m 18.961679,0 h 3.678774 L 14.563146,9.1969344 24,21.672776 H 16.594469 L 10.796401,14.091303 4.1586138,21.672776 H 0.47984005 L 9.0369877,11.836055 0,0 h 7.5894702 l 5.2382538,6.9256914 z m -1.28757,19.513496 h 2.03932 L 6.5178274,2.0793069 H 4.3265578 Z" />
</svg>
