---
export interface Props {
  pageTitle: string
}

const { pageTitle } = Astro.props
---

<h1 id="article-title" class="text-3xl font-bold leading-tight mb-4" itemprop="headline">
  {pageTitle}
</h1>
