---
/*!
 * Mastodon Share Modal
 *
 * SPDX-FileCopyrightText: © 2025 Kevin Brown <kevin@webstackbuilders.com>
 * SPDX-License-Identifier: AGPL-3.0-only
 */

export interface Props {
  id?: string
}

import Icon from '@components/Icon/index.astro'

const { id = 'mastodon-modal' } = Astro.props
const iconBankId = 'mastodon-modal-icon-bank'
---

<div id={iconBankId} hidden aria-hidden="true">
  <span data-mastodon-icon="close">
    <Icon icon="close" color="inherit" size={5} />
  </span>
</div>

<mastodon-modal-element id={id} modal-id={id}></mastodon-modal-element>

<script>
  import { mastodonDataConsentRevokeListener } from '@components/scripts/store'
  import { registerMastodonModalWebComponent } from '@components/Social/Mastodon/client'

  registerMastodonModalWebComponent()

  document.addEventListener('astro:page-load', () => {
    mastodonDataConsentRevokeListener()
  })
</script>
