---
/**
 * HighlighterIconBank
 *
 * Renders the hidden SVG icon bank used by all HighlighterElement instances on the page.
 * Must be rendered exactly once per page, outside any paragraph or phrasing-content context.
 * MarkdownLayout.astro owns this responsibility.
 */
import Icon from '@components/Icon/index.astro'
---

<span id="highlighter-icon-bank" hidden aria-hidden="true">
  <span data-highlighter-icon="x"
    ><Icon icon="x" size={5} color="inherit" classes="share-icon" /></span
  >
  <span data-highlighter-icon="linkedin"
    ><Icon icon="linkedin" size={5} color="inherit" classes="share-icon" /></span
  >
  <span data-highlighter-icon="bluesky"
    ><Icon icon="bluesky" size={5} color="inherit" classes="share-icon" /></span
  >
  <span data-highlighter-icon="reddit"
    ><Icon icon="reddit" size={5} color="inherit" classes="share-icon" /></span
  >
  <span data-highlighter-icon="mastodon"
    ><Icon icon="mastodon" size={5} color="inherit" classes="share-icon" /></span
  >
</span>
