---
/**
 * Test Navigation component that combines Menu and NavToggle for Container API testing
 * This component creates the complete DOM structure expected by Navigation.ts
 */
import Menu from '../Menu.astro'
import NavToggle from '../NavToggle.astro'

export interface Props {
  path?: string
}

const { path = '/' } = Astro.props
---

<header id="header" class="header">
  <div id="mobile-splash" class="mobile-splash"></div>
  <span id="header__main-nav">
    <Menu path={path} />
  </span>
  <span id="header__nav-icon" class="nav-toggle-wrapper">
    <NavToggle />
  </span>
</header>
