---
/**
 * Hero Image Column - Default Variant
 */
import { Image as AstroImage } from 'astro:assets'
import type { ImageProps as Props } from '@components/Hero/@types/image'

export type { Props }

const { image } = Astro.props
---

{/* Image Column */}
{
  image && (
    <div class="order-1 lg:order-2 flex justify-center items-center">
      <div class="w-full max-w-lg mx-auto">
        <AstroImage
          src={image.src}
          alt={image.alt}
          widths={[400, 600, 800]}
          sizes="(max-width: 768px) 100vw, 50vw"
          loading="eager"
          class="w-full h-auto rounded-2xl"
        />
      </div>
    </div>
  )
}
