.container {}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  transform: translateY(0);
}

@media (width <= 640px) {
  .container {
    justify-content: center;
  }

  .label {
    margin-bottom: 0.5rem;
    text-align: center;
    width: 100%;
  }
}
