---
/**
 * Hero Image Column - Home Variant
 */
import heroSvg from '@assets/images/site/hero.svg?raw'
---

{/* Image Column */}
<div class="order-1 lg:order-2 flex justify-center items-center">
  <div class="w-full max-w-lg mx-auto">
    <div class="w-full h-auto rounded-2xl" set:html={heroSvg} />
  </div>
</div>

<script>
  import { HeroLoader } from '@components/Hero/Home/client'

  document.addEventListener('astro:page-load', () => {
    HeroLoader.init()
  })
</script>
