@keyframes arrowBounce {
  100% {
    transform: translate(1.5em);
  }
}

.footerBottomPrimary {
  grid-column: 1;
  grid-row: 1;
}

.footerBottomSecondary {
  grid-column: 2;
  grid-row: 1;
}

.footerBottomActions {
  grid-column: 1 / -1;
  grid-row: 2;
}

@media (width >= 64em) {
  .footerBottomPrimary,
  .footerBottomSecondary,
  .footerBottomActions {
    grid-column: 1;
  }

  .footerBottomSecondary {
    grid-row: 2;
  }

  .footerBottomActions {
    grid-row: 4;
  }
}

@media (width >= 40em) {
  .footerGrid {
    grid-template-areas:
      "contact social"
      "contact channels"
      "bottom-row bottom-row"
      "copyright copyright";
    grid-template-columns: 1fr 1fr;
  }

  .footerContact {
    grid-area: contact;
  }

  .footerSocial {
    grid-area: social;
  }

  .footerBottomRow {
    grid-area: bottom-row;
  }

  .footerCopyright {
    grid-area: copyright;
  }
}

@media (width >= 64em) {
  .footerGrid {
    grid-template:
      "hire-me social bottom-row" 2rem
      "contact social bottom-row" auto
      "copyright copyright copyright" auto
      / 2fr 2fr 1fr;
  }

  .footerHireMe {
    grid-area: hire-me;
  }
}

.footerHireMeAnchor:hover::after,
.footerHireMeAnchor:focus::after {
  animation: arrowBounce 1s alternate;
}
