:root {
  --shiki-foreground: var(--theme-shiki-foreground);
  --shiki-background: var(--theme-shiki-background);
  --shiki-token-constant: var(--theme-shiki-token-constant);
  --shiki-token-string: var(--theme-shiki-token-string);
  --shiki-token-comment: var(--theme-shiki-token-comment);
  --shiki-token-keyword: var(--theme-shiki-token-keyword);
  --shiki-token-parameter: var(--theme-shiki-token-parameter);
  --shiki-token-function: var(--theme-shiki-token-function);
  --shiki-token-string-expression: var(--theme-shiki-token-string-expression);
  --shiki-token-punctuation: var(--theme-shiki-token-punctuation);
  --shiki-token-link: var(--theme-shiki-token-link);
  --shiki-token-inserted: var(--theme-shiki-token-inserted);
  --shiki-token-deleted: var(--theme-shiki-token-deleted);
  --shiki-token-changed: var(--theme-shiki-token-changed);
  --shiki-ansi-black: var(--theme-shiki-ansi-black);
  --shiki-ansi-red: var(--theme-shiki-ansi-red);
  --shiki-ansi-green: var(--theme-shiki-ansi-green);
  --shiki-ansi-yellow: var(--theme-shiki-ansi-yellow);
  --shiki-ansi-blue: var(--theme-shiki-ansi-blue);
  --shiki-ansi-magenta: var(--theme-shiki-ansi-magenta);
  --shiki-ansi-cyan: var(--theme-shiki-ansi-cyan);
  --shiki-ansi-white: var(--theme-shiki-ansi-white);
  --shiki-ansi-bright-black: var(--theme-shiki-ansi-bright-black);
  --shiki-ansi-bright-red: var(--theme-shiki-ansi-bright-red);
  --shiki-ansi-bright-green: var(--theme-shiki-ansi-bright-green);
  --shiki-ansi-bright-yellow: var(--theme-shiki-ansi-bright-yellow);
  --shiki-ansi-bright-blue: var(--theme-shiki-ansi-bright-blue);
  --shiki-ansi-bright-magenta: var(--theme-shiki-ansi-bright-magenta);
  --shiki-ansi-bright-cyan: var(--theme-shiki-ansi-bright-cyan);
  --shiki-ansi-bright-white: var(--theme-shiki-ansi-bright-white);

  /** Shiki stylings for print / a11y (GitHub Light High Contrast) **/
  --a11y-theme-shiki-foreground: #0e1116;
  --a11y-theme-shiki-background: #fff;
  --a11y-theme-shiki-token-constant: #023b95;
  --a11y-theme-shiki-token-string: #032563;
  --a11y-theme-shiki-token-comment: #66707b;
  --a11y-theme-shiki-token-keyword: #a0111f;
  --a11y-theme-shiki-token-parameter: #0e1116;
  --a11y-theme-shiki-token-function: #023b95;
  --a11y-theme-shiki-token-string-expression: #032563;
  --a11y-theme-shiki-token-punctuation: #0e1116;
  --a11y-theme-shiki-token-link: #032563;
  --a11y-theme-shiki-token-inserted: #024c1a;
  --a11y-theme-shiki-token-deleted: #6e011a;
  --a11y-theme-shiki-token-changed: #702c00;
  --a11y-theme-shiki-ansi-black: #0e1116;
  --a11y-theme-shiki-ansi-red: #a0111f;
  --a11y-theme-shiki-ansi-green: #024c1a;
  --a11y-theme-shiki-ansi-yellow: #3f2200;
  --a11y-theme-shiki-ansi-blue: #0349b4;
  --a11y-theme-shiki-ansi-magenta: #622cbc;
  --a11y-theme-shiki-ansi-cyan: #1b7c83;
  --a11y-theme-shiki-ansi-white: #66707b;
  --a11y-theme-shiki-ansi-bright-black: #4b535d;
  --a11y-theme-shiki-ansi-bright-red: #86061d;
  --a11y-theme-shiki-ansi-bright-green: #055d20;
  --a11y-theme-shiki-ansi-bright-yellow: #4e2c00;
  --a11y-theme-shiki-ansi-bright-blue: #1168e3;
  --a11y-theme-shiki-ansi-bright-magenta: #844ae7;
  --a11y-theme-shiki-ansi-bright-cyan: #3192aa;
  --a11y-theme-shiki-ansi-bright-white: #88929d;
}

[data-theme="light"]  {
  --theme-shiki-foreground: #24292e;
  --theme-shiki-background: #fff;
  --theme-shiki-token-constant: #005cc5;
  --theme-shiki-token-string: #032f62;
  --theme-shiki-token-comment: #6a737d;
  --theme-shiki-token-keyword: #d73a49;
  --theme-shiki-token-parameter: #24292e;
  --theme-shiki-token-function: #6f42c1;
  --theme-shiki-token-string-expression: #032f62;
  --theme-shiki-token-punctuation: #24292e;
  --theme-shiki-token-link: #032f62;
  --theme-shiki-token-inserted: #22863a;
  --theme-shiki-token-deleted: #b31d28;
  --theme-shiki-token-changed: #e36209;
  --theme-shiki-ansi-black: #24292e;
  --theme-shiki-ansi-red: #d73a49;
  --theme-shiki-ansi-green: #28a745;
  --theme-shiki-ansi-yellow: #dbab09;
  --theme-shiki-ansi-blue: #0366d6;
  --theme-shiki-ansi-magenta: #5a32a3;
  --theme-shiki-ansi-cyan: #1b7c83;
  --theme-shiki-ansi-white: #6a737d;
  --theme-shiki-ansi-bright-black: #959da5;
  --theme-shiki-ansi-bright-red: #cb2431;
  --theme-shiki-ansi-bright-green: #22863a;
  --theme-shiki-ansi-bright-yellow: #b08800;
  --theme-shiki-ansi-bright-blue: #005cc5;
  --theme-shiki-ansi-bright-magenta: #5a32a3;
  --theme-shiki-ansi-bright-cyan: #3192aa;
  --theme-shiki-ansi-bright-white: #d1d5da;
}

[data-theme="dark"]  {
  --theme-shiki-foreground: #e1e4e8;
  --theme-shiki-background: #24292e;
  --theme-shiki-token-constant: #79b8ff;
  --theme-shiki-token-string: #9ecbff;
  --theme-shiki-token-comment: #6a737d;
  --theme-shiki-token-keyword: #f97583;
  --theme-shiki-token-parameter: #e1e4e8;
  --theme-shiki-token-function: #b392f0;
  --theme-shiki-token-string-expression: #9ecbff;
  --theme-shiki-token-punctuation: #e1e4e8;
  --theme-shiki-token-link: #dbedff;
  --theme-shiki-token-inserted: #85e89d;
  --theme-shiki-token-deleted: #fdaeb7;
  --theme-shiki-token-changed: #ffab70;
  --theme-shiki-ansi-black: #586069;
  --theme-shiki-ansi-red: #ea4a5a;
  --theme-shiki-ansi-green: #34d058;
  --theme-shiki-ansi-yellow: #ffea7f;
  --theme-shiki-ansi-blue: #2188ff;
  --theme-shiki-ansi-magenta: #b392f0;
  --theme-shiki-ansi-cyan: #39c5cf;
  --theme-shiki-ansi-white: #d1d5da;
  --theme-shiki-ansi-bright-black: #959da5;
  --theme-shiki-ansi-bright-red: #f97583;
  --theme-shiki-ansi-bright-green: #85e89d;
  --theme-shiki-ansi-bright-yellow: #ffea7f;
  --theme-shiki-ansi-bright-blue: #79b8ff;
  --theme-shiki-ansi-bright-magenta: #b392f0;
  --theme-shiki-ansi-bright-cyan: #56d4dd;
  --theme-shiki-ansi-bright-white: #fafbfc;
}

[data-theme="a11y"]  {
  --theme-shiki-foreground: var(--a11y-theme-shiki-foreground);
  --theme-shiki-background: var(--a11y-theme-shiki-background);
  --theme-shiki-token-constant: var(--a11y-theme-shiki-token-constant);
  --theme-shiki-token-string: var(--a11y-theme-shiki-token-string);
  --theme-shiki-token-comment: var(--a11y-theme-shiki-token-comment);
  --theme-shiki-token-keyword: var(--a11y-theme-shiki-token-keyword);
  --theme-shiki-token-parameter: var(--a11y-theme-shiki-token-parameter);
  --theme-shiki-token-function: var(--a11y-theme-shiki-token-function);
  --theme-shiki-token-string-expression: var(--a11y-theme-shiki-token-string-expression);
  --theme-shiki-token-punctuation: var(--a11y-theme-shiki-token-punctuation);
  --theme-shiki-token-link: var(--a11y-theme-shiki-token-link);
  --theme-shiki-token-inserted: var(--a11y-theme-shiki-token-inserted);
  --theme-shiki-token-deleted: var(--a11y-theme-shiki-token-deleted);
  --theme-shiki-token-changed: var(--a11y-theme-shiki-token-changed);
  --theme-shiki-ansi-black: var(--a11y-theme-shiki-ansi-black);
  --theme-shiki-ansi-red: var(--a11y-theme-shiki-ansi-red);
  --theme-shiki-ansi-green: var(--a11y-theme-shiki-ansi-green);
  --theme-shiki-ansi-yellow: var(--a11y-theme-shiki-ansi-yellow);
  --theme-shiki-ansi-blue: var(--a11y-theme-shiki-ansi-blue);
  --theme-shiki-ansi-magenta: var(--a11y-theme-shiki-ansi-magenta);
  --theme-shiki-ansi-cyan: var(--a11y-theme-shiki-ansi-cyan);
  --theme-shiki-ansi-white: var(--a11y-theme-shiki-ansi-white);
  --theme-shiki-ansi-bright-black: var(--a11y-theme-shiki-ansi-bright-black);
  --theme-shiki-ansi-bright-red: var(--a11y-theme-shiki-ansi-bright-red);
  --theme-shiki-ansi-bright-green: var(--a11y-theme-shiki-ansi-bright-green);
  --theme-shiki-ansi-bright-yellow: var(--a11y-theme-shiki-ansi-bright-yellow);
  --theme-shiki-ansi-bright-blue: var(--a11y-theme-shiki-ansi-bright-blue);
  --theme-shiki-ansi-bright-magenta: var(--a11y-theme-shiki-ansi-bright-magenta);
  --theme-shiki-ansi-bright-cyan: var(--a11y-theme-shiki-ansi-bright-cyan);
  --theme-shiki-ansi-bright-white: var(--a11y-theme-shiki-ansi-bright-white);
}

[data-theme="holiday"]  {
  --theme-shiki-foreground: #ddd;
  --theme-shiki-background: #222;
  --theme-shiki-token-constant: #09f;
  --theme-shiki-token-string: #6f6;
  --theme-shiki-token-comment: #777;
  --theme-shiki-token-keyword: #f66;
  --theme-shiki-token-parameter: #ff6;
  --theme-shiki-token-function: #6cf;
  --theme-shiki-token-string-expression: #f6f;
  --theme-shiki-token-punctuation: #fff;
  --theme-shiki-token-link: #6ff;
}
