:root {
  --shiki-foreground: var(--theme-shiki-foreground);
  --shiki-background: var(--theme-shiki-background);
  --shiki-token-constant: var(--theme-shiki-token-constant);
  --shiki-token-string: var(--theme-shiki-token-string);
  --shiki-token-comment: var(--theme-shiki-token-comment);
  --shiki-token-keyword: var(--theme-shiki-token-keyword);
  --shiki-token-parameter: var(--theme-shiki-token-parameter);
  --shiki-token-function: var(--theme-shiki-token-function);
  --shiki-token-string-expression: var(--theme-shiki-token-string-expression);
  --shiki-token-punctuation: var(--theme-shiki-token-punctuation);
  --shiki-token-link: var(--theme-shiki-token-link);

  /** Shiki stylings for print **/
  --a11y-theme-shiki-foreground: #ddd;
  --a11y-theme-shiki-background: #222;
  --a11y-theme-shiki-token-constant: #09f;
  --a11y-theme-shiki-token-string: #6f6;
  --a11y-theme-shiki-token-comment: #777;
  --a11y-theme-shiki-token-keyword: #f66;
  --a11y-theme-shiki-token-parameter: #ff6;
  --a11y-theme-shiki-token-function: #6cf;
  --a11y-theme-shiki-token-string-expression: #f6f;
  --a11y-theme-shiki-token-punctuation: #fff;
  --a11y-theme-shiki-token-link: #6ff;
}

[data-theme="light"]  {
  --theme-shiki-foreground: #ddd;
  --theme-shiki-background: #222;
  --theme-shiki-token-constant: #09f;
  --theme-shiki-token-string: #6f6;
  --theme-shiki-token-comment: #777;
  --theme-shiki-token-keyword: #f66;
  --theme-shiki-token-parameter: #ff6;
  --theme-shiki-token-function: #6cf;
  --theme-shiki-token-string-expression: #f6f;
  --theme-shiki-token-punctuation: #fff;
  --theme-shiki-token-link: #6ff;
}

[data-theme="dark"]  {
  --theme-shiki-foreground: #ddd;
  --theme-shiki-background: #222;
  --theme-shiki-token-constant: #09f;
  --theme-shiki-token-string: #6f6;
  --theme-shiki-token-comment: #777;
  --theme-shiki-token-keyword: #f66;
  --theme-shiki-token-parameter: #ff6;
  --theme-shiki-token-function: #6cf;
  --theme-shiki-token-string-expression: #f6f;
  --theme-shiki-token-punctuation: #fff;
  --theme-shiki-token-link: #6ff;
}

[data-theme="a11y"]  {
  --theme-color-foreground: var(--a11y-theme-shiki-foreground);
  --theme-color-background: var(--a11y-theme-shiki-background);
  --theme-color-token-constant: var(--a11y-theme-shiki-token-constant);
  --theme-color-token-string: var(--a11y-theme-shiki-token-string);
  --theme-color-token-comment: var(--a11y-theme-shiki-token-comment);
  --theme-color-token-keyword: var(--a11y-theme-shiki-token-keyword);
  --theme-color-token-parameter: var(--a11y-theme-shiki-token-parameter);
  --theme-color-token-function: var(--a11y-theme-shiki-token-function);
  --theme-color-token-string-expression: var(--a11y-theme-shiki-token-string-expression);
  --theme-color-token-punctuation: var(--a11y-theme-shiki-token-punctuation);
  --theme-color-token-link: var(--a11y-theme-shiki-token-link);
}

[data-theme="holiday"]  {
  --theme-shiki-foreground: #ddd;
  --theme-shiki-background: #222;
  --theme-shiki-token-constant: #09f;
  --theme-shiki-token-string: #6f6;
  --theme-shiki-token-comment: #777;
  --theme-shiki-token-keyword: #f66;
  --theme-shiki-token-parameter: #ff6;
  --theme-shiki-token-function: #6cf;
  --theme-shiki-token-string-expression: #f6f;
  --theme-shiki-token-punctuation: #fff;
  --theme-shiki-token-link: #6ff;
}
