---
/**
 * Wrapper for the site header and main content in BaseLayout
 */
export interface Props {
  id?: string
}

const { id } = Astro.props
---

<div
  class="flex flex-col min-h-screen relative transition-transform duration-300 ease-[cubic-bezier(0.25,0.46,0.45,0.94)]"
  style="padding-top: env(titlebar-area-height, 0);"
  id={id}
>
  <slot />
</div>