---
/**
 * Wrapper for the site header and main content in BaseLayout
 */
export interface Props {
  id?: string
}

const { id } = Astro.props
---

<div
  class="flex flex-col min-h-screen relative transition-transform duration-300 ease-[cubic-bezier(0.25,0.46,0.45,0.94)]
    [&_#header]:mx-auto [&_#header]:max-w-300 [&_#header]:w-[90%]
    [&_#main]:mx-auto [&_#main]:max-w-300 [&_#main]:w-[90%]
    [&_#breadcrumbs]:mx-auto [&_#breadcrumbs]:max-w-300 [&_#breadcrumbs]:w-[90%]
    [&_#footer-inner]:mx-auto [&_#footer-inner]:max-w-300 [&_#footer-inner]:w-[90%]"
  style="padding-top: env(titlebar-area-height, 0);"
  id={id}
>
  <slot />
</div>
