---
/**
 * Registers the `code-tabs` web component.
 *
 * The actual `<code-tabs>` markup is emitted by the markdown pipeline.
 */
import Icon from '@components/Icon/index.astro'

const iconBankId = 'code-tabs-icon-bank'
---

<div id={iconBankId} hidden aria-hidden="true">
  <span data-code-tabs-icon="copy"><Icon icon="copy" size={5} color="inherit" /></span>
  <span data-code-tabs-icon="check"><Icon icon="check" size={5} color="inherit" /></span>
</div>

<script>
  import { registerCodeTabsWebComponent } from './client'

  registerCodeTabsWebComponent()
</script>
