---
/**
 * The Intro component serves as the welcoming section of the homepage, providing
 * a concise overview of Webstack Builders' mission and value proposition
 */
export interface Props {
  pretitle: string
  benefits: {
    title: string
    description: string
  }[]
}

const { pretitle, benefits } = Astro.props as Props

const svgPath = [
  'M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z',
  'M13 10V3L4 14h7v7l9-11h-7z',
  'M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4',
]

const visibleBenefits = benefits.slice(0, 3)
---

<div class="text-center space-y-8 bg-page-offset p-8 rounded-xl">
  <div class="max-w-3xl mx-auto">
    <h2 id="home-about-title" class="text-3xl md:text-4xl font-bold mb-6">
      Building the Future of Software Development
    </h2>
    <p class="text-xl text-content-active leading-relaxed mb-8">
      {pretitle}
    </p>
  </div>

  <ul class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-12 list-none p-0 m-0">
    {visibleBenefits.map((benefit, index) => (
      <li class="text-center">
        <div
          class="w-16 h-16 bg-spotlight bg-opacity-10 rounded-full flex items-center justify-center mx-auto mb-4"
        >
          <svg
            class="w-8 h-8 text-primary"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            aria-hidden="true"
            focusable="false"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d={svgPath[index]}></path>
          </svg>
        </div>
        <h3 class="mb-2 text-content-active">{benefit.title}</h3>
        <p class="text-content">
          {benefit.description}
        </p>
      </li>
    ))}
  </ul>
</div>
