---
import Button from '@components/Button/index.astro'
---

<embla-base-fixture>
  <div data-embla-root>
    <div data-embla-viewport>
      <div data-embla-slide>Slide 1</div>
      <div data-embla-slide>Slide 2</div>
      <div data-embla-slide>Slide 3</div>
    </div>
  </div>
  <div data-embla-dots></div>
  <Button data-embla-prev={true} type="button" text="Prev" />
  <Button data-embla-next={true} type="button" text="Next" />
</embla-base-fixture>
