---
import Button from '@components/Button/index.astro'

export interface Props {
  content: {
    buttonText: string
  }
}

const { content } = Astro.props
---

<div class="max-w-4xl mx-auto w-full block py-2 md:py-4">
  <div class="max-w-lg w-full mx-auto">
    <div class="mb-8 text-center">
      <div class="flex flex-row justify-center items-center w-full">
        <Button href="/" variant="secondary" class="text-content-inverse" text={content.buttonText} />
      </div>
    </div>
  </div>
</div>
