---
import { Image } from 'astro:assets'
import Sprite from "@components/Sprite/index.astro"
import Button from '@components/Button/Button.astro'
import CookieSvg from "@assets/images/site/cookie.svg"
---

<div
  id="cookie-modal-id"
  class="bg-[var(--color-modal-background)] rounded-lg bottom-0 flex flex-row md:flex-col flex-nowrap md:flex-wrap left-0 mx-4 mb-4 fixed right-0"
  style="display:none;"
  role="dialog"
  aria-label="cookie consent dialog"
  aria-describedby="cookie-modal__content"
>
  <button
    type="button"
    aria-label="close cookie consent dialog"
    class="bg-transparent border-0 text-[var(--color-primary)] outline-none absolute right-0 top-0 hover:text-[var(--color-success-offset)] focus:text-[var(--color-success-offset)]"
  >
    <Sprite name="close" />
  </button>
  {/* Desktop: 48px + (12px * 2) = 72px container, half = 36px. Mobile: 3.6em + (0.6em * 2) = 4.8em container, half = 2.4em */}
  <div class="h-[72px] w-[72px] -top-[36px] md:h-[4.8em] md:w-[4.8em] md:-top-[2.4em] bg-[var(--color-modal-background)] rounded-full absolute left-0 right-0 mx-auto [&_svg]:h-12 [&_svg]:w-12 [&_svg]:m-3 md:[&_svg]:h-[3.6em] md:[&_svg]:w-[3.6em] md:[&_svg]:m-[0.6em]">
    <Image src={CookieSvg} alt="Cookie icon." />
  </div>
  <p id="cookie-modal__content" class="pt-9 pb-4 pl-8 md:pt-[2.4em] md:pb-4 md:pl-8">
    This site uses cookies. Learn more in our <a href="/cookies">Cookie Policy</a> and <a href="/privacy">Privacy Policy</a>. <span class="md:hidden">Our site needs a single cookie to remember your theme preferences, and you can <a class="cookie-modal__link-customize" href="/cookies">customize</a> the other cookies we use to help provide you a great experience here. Or let us know you're okay with our cookie use by clicking <a class="cookie-modal__link-allow" href="javascript:void(0)">Allow All</a>.</span>
  </p>
  <menu class="pt-9 pr-8 pb-4 pl-4 md:pt-0 md:pr-8 md:pb-4 md:pl-4 flex items-center">
    <li class="list-none">
      <Button
        text="Allow All"
        variant="success"
        type="button"
        class="border-0"
      />
    </li>
    <li class="w-6"></li>
    <li class="list-none">
      <a href="/cookies">
        <Button
          text="Customize"
          variant="warning"
        />
      </a>
    </li>
  </menu>
</div>

<script>
  import { addDelayedExecutionScripts } from "../../lib/utils/delayedLoader.ts"
  import { showCookieConsentModal } from "./handlers.ts"
  addDelayedExecutionScripts([showCookieConsentModal])
</script>
