---
/** Minimal reproduction of src/_layouts/base.njk */
import Header from "@components/Header/index.astro"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {/* Pulled from src/_layouts/components/head/meta.njk */}
    <meta name="theme-color" content="#FFFFFF">
    <script>
      {/* Set theme name on <html> element from storage early to prevent flash of unstyled content */}
      import { themeSetup } from "../../Head/fous"
      themeSetup()
    </script>
  </head>
  <body>
    <div role="document" style="padding-top: env(titlebar-area-height, 0);">
      <Header path="/" />
    </div>
  </body>
</html>