name: Cron

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ping-turso
  cancel-in-progress: true

jobs:
  ping-production:
    name: Ping Turso Production DB
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install Python dependencies
        run: python3 -m pip install -r requirements.txt

      - name: Execute keep-alive query
        uses: './.github/actions/keep-alive'
        with:
          url: ${{ vars.ASTRO_DB_REMOTE_URL }}
          token: ${{ secrets.ASTRO_DB_APP_TOKEN }}

  ping-preview:
    name: Ping Turso Preview DB
    runs-on: ubuntu-latest
    environment: preview

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install Python dependencies
        run: python3 -m pip install -r requirements.txt

      - name: Execute keep-alive query
        uses: './.github/actions/keep-alive'
        with:
          url: ${{ vars.ASTRO_DB_REMOTE_URL }}
          token: ${{ secrets.ASTRO_DB_APP_TOKEN }}
