---
export type Props = {
  items: {
    lead?: string
    text: string
    color?: string
  }[]
  classes?: {
    ul?: string
    li?: string
    em?: string
  }
}

const { items, classes }: Props = Astro.props

const ulClass = "space-y-4"
const liClass = "border-l-4 pl-4"
const headerClass = "font-semibold mb-2"
const textClass = "text-sm"
---

<ul class:list={[ulClass, classes?.ul]}>
  {
    items.map((item) => (
      <li class:list={[liClass, classes?.li, item.color]}>
        <h4 class:list={[headerClass, classes?.em]}>{item.lead}</h4>
        <p class:list={textClass}>{item.text}</p>
      </li>
    ))
  }
</ul>
